<form [formGroup]="addComputationForm" novalidate>
    <mat-card class="custom-card">
        <mat-card-header class="sticky-header">

            <mat-card-title>
                {{ Edit ? 'Edit Computation Rule' : Copy ? 'Copy Computation Rule' : 'Add Computation Rule' }}
            </mat-card-title>

            <span class="spacer"></span>
            <button mat-icon-button (click)="onClose()" class="no-border-icon">
                <mat-icon>close</mat-icon>
            </button>
        </mat-card-header>

        <mat-card-content class="scroll-content">
            <br />
            <!-- Row 1 -->
            <div class="row g-3 mb-3">
                <div class="col-md-4">
                    <label class="form-label">Financial Year<span class="text-danger">*</span></label>
                    <!-- <input type="text" class="form-control" formControlName="Category" /> -->
                    <select class="form-select" formControlName="FinancialYear">
                        <option value="">-- Select --</option>
                        <option *ngFor="let pay of fYear" [value]="pay.Financial_Year_Id">{{pay.Financial_Year_Name}}
                        </option>
                    </select>
                    <div class="text-danger small" *ngIf="addComputationForm.get('FinancialYear')?.touched 
             && addComputationForm.get('FinancialYear')?.hasError('required')">
                        FinancialYear is required
                    </div>

                </div>
                <div class="col-md-4">
                    <label class="form-label">Effective Date<span class="text-danger">*</span></label>
                    <input type="date" class="form-control" formControlName="EffectiveDate" />
                    <div class="text-danger small" *ngIf="addComputationForm.get('EffectiveDate')?.touched 
             && addComputationForm.get('EffectiveDate')?.hasError('required')">
                        EffectiveDate is required
                    </div>
                    <!-- <select class="form-select" formControlName="POCategory">
                        <option value="">-- Select --</option>
                    </select> -->
                </div>
                <div class="col-md-4">
                    <label class="form-label">Tax Id<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" formControlName="TaxId" />
                    <div class="text-danger small" *ngIf="addComputationForm.get('TaxId')?.touched 
             && addComputationForm.get('TaxId')?.hasError('required')">
                        TaxId is required
                    </div>

                    <!-- <select class="form-select" formControlName="POform">
                        <option value="">-- Select --</option>
                        <option *ngFor="let PONo of PONumber" [value]="PONo.poid">{{PONo.ponumber}}</option>
                    </select> -->
                </div>
            </div>
            <!-- Row 2 -->
            <div class="row g-3 mb-3">
                <div class="col-md-4">
                    <label class="form-label">Description<span class="text-danger"></span></label>
                    <input type="text" class="form-control" formControlName="Description" />
                    <!-- <select class="form-select" formControlName="POCategory">
                        <option value="">-- Select --</option>
                    </select> -->
                </div>
                <div class="col-md-4">
                    <label class="form-label">Category<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" formControlName="Category" />
                    <div class="text-danger small" *ngIf="addComputationForm.get('Category')?.touched 
             && addComputationForm.get('Category')?.hasError('required')">
                        Category is required
                    </div>
                    <!-- <select class="form-select" formControlName="POCategory">
                        <option value="">-- Select --</option>
                    </select> -->
                </div>
                <div class="col-md-4">
                    <label class="form-label">Rule<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" formControlName="Rule" />
                    <div class="text-danger small" *ngIf="addComputationForm.get('Rule')?.touched 
             && addComputationForm.get('Rule')?.hasError('required')">
                        Rule is required
                    </div>
                    <!-- <select class="form-select" formControlName="POform">
                        <option value="">-- Select --</option>
                        <option *ngFor="let PONo of PONumber" [value]="PONo.poid">{{PONo.ponumber}}</option>
                    </select> -->
                </div>
            </div>
        </mat-card-content>
        <mat-card-footer class="footer">
            <div class="d-flex justify-content-end mt-3">
                <div class="btn-1"
                    style="display: flex; justify-content: flex-end; gap: 10px; width: 100%; padding-right: 7px;">

                    <button type="Cancel"
                        style="border: none; border-radius: 7px; width: 80px; height: 30px; cursor: pointer; background-color: #f0f0f0; color: black;"
                        (click)="onClose()">
                        Cancel
                    </button>

                    <button type="submit"
                        style="border: none; border-radius: 7px; width: 80px; height: 30px; cursor: pointer; background-color: blue; color: white; "
                        (click)="Edit ? updateComputationRule() : Copy ? copyComputatioRule() : saveComputationRule()">
                        {{ Edit ? 'Update' : Copy ?
                        'Save' : 'Save' }}
                    </button>
                </div>
            </div>
        </mat-card-footer>
    </mat-card>
</form>
<div *ngIf="isLoading" class="loading-overlay">
    <img src="assets/Loading.gif" alt="Loading...">
</div>