<div class="right-align">
    <div *ngIf="visibleDropdowns.includes(1)"
        style="width: 160px; height: 52px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
        <div style="width: 160px; height: 12.35px; font-size: 12px; color: #6c757d ; font-family: Montserrat; font-weight: 500; word-wrap: break-word">
            Company Code</div>
        <div style="width:160px;">
             <companyall (companyEmit)="handleCompanyEvent($event)"></companyall>
        </div>
    </div>

    <div *ngIf="visibleDropdowns.includes(15)"
        style="width: 160px; height: 52px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
        <div style="width: 160px; height: 12.35px; font-size: 12px; color: #6c757d ; font-family: Montserrat; font-weight: 500; word-wrap: break-word">
            Client Name</div>
        <div>
            <CompanyPicker (companyEmit)="handleCompanyEvent($event)"></CompanyPicker>
        </div>
    </div>

    <div *ngIf="showPurpose" style="width: 150px; display: flex; flex-direction: column; gap: 8px; margin-right: 10px;">

        <div style="width: 160px; height: 12.35px; font-size: 12px; color: #6c757d ; font-family: Montserrat; font-weight: 500; word-wrap: break-word">
            Purpose
        </div>

        <select [(ngModel)]="Purpose" (change)="onPurposeChange()" style="height: 30px; width: 150px;">

            <option value="">Select Purpose</option>

            <option *ngFor="let item of PurposeList" [value]="item.Value">
                {{ item.Label }}
            </option>

        </select>

    </div>

    <div *ngIf="visibleDropdowns.includes(2)"
        style="width: 160px; height: 52px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
        <div
            style="width: 160px; height: 12.35px; font-size: 12px; color: #6c757d ; font-family: Montserrat; font-weight: 500; word-wrap: break-word">
            Pay Period</div>
        <div style="width:160px;">
            <PayPeriod [selectedCompanyId]="selectedCC" [payPeriodType]="payPeriodTypetoChild"
                (payperiodEmit)="handlePayperiodEvent($event)"></PayPeriod>
        </div>
    </div>
    <div *ngIf="showEmployeeCode"
        style="width: 160px; height: 52px; flex-direction: row; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
        <div
            style="width: 150px; height: 52px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
            <div
                style="width: 160px; height: 12.35px; font-size: 12px; color: #6c757d ; font-family: Montserrat; font-weight: 500; word-wrap: break-word">
                Employee Code
            </div>
            <input type="type" [(ngModel)]="EmployeeCode" (change)="onEmployeeCodeChange()" placeholder="Employee Code"
                (keypress)="allowAlphaNumeric($event)" maxlength="10" (paste)="onPaste($event)"
                style="width: 150px; height: 30px; border-radius: 6px; border: 1px solid #D9D9D9; padding: 4px 8px; font-family: Nunito Sans; font-size: 12px;">
        </div>
    </div>

    <div *ngIf="showSalaryHoldType"
        style="width:150px; display:flex; flex-direction:column; gap:8px; margin-right:10px;">

        <div style="width: 160px; height: 12.35px; font-size: 12px; color: #6c757d ; font-family: Montserrat; font-weight: 500; word-wrap: break-word">
            Salary Hold Type
        </div>

        <select [(ngModel)]="SalaryHoldType" (change)="onSalaryHoldTypeChange()" class="form-select" style="height:30px; width:150px; border:1px solid #ccc; border-radius:4px;font-size: 12px;
        font-family: Montserrat;">
            <option *ngFor="let item of SalaryHoldTypeList" [value]="item.Value">
                {{ item.Label }}
            </option>
        </select>

    </div>

    <div *ngIf="showDateRange"
        style="width: 320px; height: 52px; flex-direction: row; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">

        <!-- From Date -->
        <div
            style="width: 150px; height: 52px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
            <div
                style="width: 160px; height: 12.35px; font-size: 12px; color: #6c757d ; font-family: Montserrat; font-weight: 500; word-wrap: break-word">
                From Date
            </div>
            <input type="date" [(ngModel)]="fromDate" (change)="onDateChange()"
                style="width: 160px; height: 12.35px; font-size: 12px; color: #6c757d ; font-family: Montserrat; font-weight: 500; word-wrap: break-word">
        </div>

        <!-- To Date -->
        <div
            style="width: 150px; height: 52px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
            <div
                style="width: 160px; height: 12.35px; font-size: 12px; color: #6c757d ; font-family: Montserrat; font-weight: 500; word-wrap: break-word">
                To Date
            </div>
            <input type="date" [(ngModel)]="toDate" (change)="onDateChange()"
                style="width: 160px; height: 12.35px; font-size: 12px; color: #6c757d ; font-family: Montserrat; font-weight: 500; word-wrap: break-word">
        </div>

    </div>
    <div *ngIf="showSearchButton"
        style="padding-top: 19px; width: 40px; height: 52px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
        <button class="btn btn-sm d-flex align-items-center justify-content-center btn-search" matTooltip="Search"
            (click)="searchClick()">
            <mat-icon>search</mat-icon>
        </button>
    </div>

    <!-- Download Template -->
    <div *ngIf="showTemplateButton" style="padding-top: 19px; width: 40px; height: 52px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
        <button class="btn btn-sm btn-download d-flex align-items-center justify-content-center" matTooltip="Download Template" (click)="templateClick()">
            <mat-icon>cloud_download</mat-icon>
        </button>
    </div>

    <!-- Import -->
    <div *ngIf="showImportButton" style="padding-top: 19px; width: 40px; height: 52px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">

        <button class="btn btn-sm btn-upload d-flex align-items-center justify-content-center" matTooltip="Upload" (click)="openFilePicker(fileInput)">
            <mat-icon>cloud_upload</mat-icon>
        </button>

        <input #fileInput type="file" hidden accept=".xlsx,.xls" (change)="onFileChange($event)">
    </div>

    <!-- Export -->
    <div *ngIf="showExportButton" style="padding-top: 19px; width: 40px; height: 52px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
        <button class="btn btn-sm btn-secondary d-flex align-items-center justify-content-center" matTooltip="Export" (click)="exportClick()">
            <mat-icon>download</mat-icon>
        </button>
    </div>


</div>