<div class="page-wrapper" style="padding-top: 2%;">
    <div class="scrollable-content">
        <div style="color:#302CB3; font-size:22px; font-family:Montserrat; font-weight:700; min-width:960px">
            SDL Slab Details
        </div>

        <div class="container py-2">
            <div class="row g-3 align-items-end">
                <div class="col-md-2 d-flex gap-2">
                    <button class="btn btn-sm d-flex align-items-center justify-content-center btn-secondary"
                        matTooltip="Export to Excel" (click)="exportToExcel()">
                        <mat-icon>download</mat-icon>
                    </button>
                    <button class="btn btn-sm d-flex align-items-center justify-content-center btn-success"
                        matTooltip="Add" (click)="AddPOOpen()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </div>
        </div>

        <div class="table-wrapper1" style="padding-top: 2%;">
            <div class="table-scroll">
                <mat-table [dataSource]="dataSource" matSort class="custom-table mat-elevation-z8 auto-fit-table">



                    <!-- Action -->
                    <!-- <ng-container matColumnDef="Action">
                        <mat-header-cell *matHeaderCellDef class="Action"><strong>Action</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row" class="Action">
                            <button class="btn btn-sm d-flex align-items-center justify-content-center"
                                matTooltip="Delete">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container> -->
                    <!-- Columns -->
                    <ng-container matColumnDef="SNo">
                        <mat-header-cell *matHeaderCellDef class="SNo"><strong>S.No</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row" class="SNo">{{ row.SNo}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="PayCode">
                        <mat-header-cell *matHeaderCellDef><strong>Pay Code</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.Paycode_Code}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Description">
                        <mat-header-cell *matHeaderCellDef><strong>Description</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.Description}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="From_Value">
                        <mat-header-cell *matHeaderCellDef><strong>From Value</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.From_Value}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="To_Value">
                        <mat-header-cell *matHeaderCellDef><strong>To Value</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.To_Value}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Criteria">
                        <mat-header-cell *matHeaderCellDef><strong>Criteria</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.Criteria}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Criteria_Type_Name">
                        <mat-header-cell *matHeaderCellDef><strong>Criteria Type</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.Criteria_Type_Name}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Min_Value">
                        <mat-header-cell *matHeaderCellDef><strong>Min Value</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.Min_Value }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Max_Value">
                        <mat-header-cell *matHeaderCellDef><strong>Max Value</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.Max_Value }}</mat-cell>
                    </ng-container>

                    <!-- <ng-container matColumnDef="filter_Action">
                        <mat-header-cell *matHeaderCellDef class="filter-cell"class="Action"></mat-header-cell>
                    </ng-container> -->
                    <ng-container matColumnDef="filter_SNo">
                        <mat-header-cell *matHeaderCellDef class="filter_SI No" class="SNo">
                        </mat-header-cell>
                    </ng-container>
                    <ng-container matColumnDef="filter_PayCode">
                        <mat-header-cell *matHeaderCellDef class="filter_Pay Code">
                            <input matInput placeholder="Search Pay Code" (keyup)="applyFilter($event, 'Paycode_Code')">
                        </mat-header-cell>
                    </ng-container>
                    <ng-container matColumnDef="filter_Description">
                        <mat-header-cell *matHeaderCellDef class="filter_Description">
                            <input matInput placeholder="Search Description"
                                (keyup)="applyFilter($event, 'Description')">
                        </mat-header-cell>
                    </ng-container>

                    <ng-container matColumnDef="filter_From_Value">
                        <mat-header-cell *matHeaderCellDef class="filter_From Value">
                            <input matInput placeholder="Search From Value" (keyup)="applyFilter($event, 'From Value')">
                        </mat-header-cell>
                    </ng-container>
                    <ng-container matColumnDef="filter_To_Value">
                        <mat-header-cell *matHeaderCellDef class="filter_To Value">
                            <input matInput placeholder="Search To Value" (keyup)="applyFilter($event, 'To Value')">
                        </mat-header-cell>
                    </ng-container>
                    <ng-container matColumnDef="filter_Criteria">
                        <mat-header-cell *matHeaderCellDef class="filter_Criteria">
                            <input matInput placeholder="Search Criteria" (keyup)="applyFilter($event, 'Criteria')">
                        </mat-header-cell>
                    </ng-container>
                    <ng-container matColumnDef="filter_Criteria_Type_Name">
                        <mat-header-cell *matHeaderCellDef class="filter_Criteria Type">
                            <input matInput placeholder="Search Criteria Type"
                                (keyup)="applyFilter($event, 'Criteria Type')">
                        </mat-header-cell>
                    </ng-container>
                    <ng-container matColumnDef="filter_Min_Value">
                        <mat-header-cell *matHeaderCellDef class="filter_Min Value">
                            <input matInput placeholder="Search Min Value" (keyup)="applyFilter($event, 'Min Value')">
                        </mat-header-cell>
                    </ng-container>
                    <ng-container matColumnDef="filter_Max_Value">
                        <mat-header-cell *matHeaderCellDef class="filter_Max Value">
                            <input matInput placeholder="Search Max Value" (keyup)="applyFilter($event, 'Max Value')">
                        </mat-header-cell>
                    </ng-container>

                    <!-- HEADER + FILTER + DATA ROWS -->
                    <mat-header-row *matHeaderRowDef="uploadDisplayedColumns"></mat-header-row>
                    <mat-header-row *matHeaderRowDef="filterDisplayedColumns" class="filter-row"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: uploadDisplayedColumns;"></mat-row>
                </mat-table>

                <div *ngIf="dataSource.data.length===0" class="text-center p-4">
                    <p class="text-muted">No data to display</p>
                </div>
            </div>

            <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
            </mat-paginator>


        </div>
    </div>
</div>

<div *ngIf="isLoading" class="loading-overlay">
    <img src="assets/Loading.gif" alt="Loading...">
</div>


<app-alertpopup *ngIf="showPopup" [message]="popupMessage" [submessage]="popupSubMessage" class="centered-popup"
    (close)="closePopup()">
</app-alertpopup>