.h1 {
  font-size: 15px;
  color: #fff;
  text-align: center;
  background-color: rgb(55, 112, 153);
  width: 100%;
  padding: 0px 360px; 
  font-family: inherit;
  box-sizing: border-box; 
  
}


@media(min-width: 768px) {
  .h1 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 360px;
  }
}



.btn-download {
  background-color: #20c997;
  color: #fff;
}


.material-icons {
  font-size: 20px;
  vertical-align: middle;
}

.form-control-sm, .form-select-sm {
  height: calc(1.5em + 0.5rem + 2px);
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}
.small-input {
  max-width: 200px; 
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.table-custom {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 12px;
    overflow: hidden;
     font-family: Nunito Sans; 

}

.table-custom tr {
    
    border: 1px solid #dcdedf;
     font-family: Nunito Sans; 
   
}
.table.table-bordered td {
    padding-top: 1px;
    padding-bottom: 1px;
   }

.table-custom th,
.table-custom td {
    
     font-family: Nunito Sans; 
    border-left:  none ;
    border-right:  none ;
    vertical-align: middle;
}

.span-text-header{
    font-family: Nunito Sans; 
    font-size: 0.7em;
    display: inline-block;
    padding: 0px;
}

.span-text-detail{
    font-family: Nunito Sans; 
    font-size: 0.7em;
    vertical-align: middle;
}
