<!-- Add this somewhere in your Angular template/component -->
<br />
<div class="page-wrapper">

    <div class="scrollable-content">
        <div
            style="color: #302CB3; font-size: 22px; font-family: Montserrat; font-weight: 700; min-width: 960px; padding-left: 25px;">
            Pay Process
        </div>

        <div class="container-fluid g-2" style="min-width: 960px;">
            <div class="card-body g-2">
                <form [formGroup]="AddForm" novalidate>
                    <div class="row align-items-end">
                        <div class="col-md-3">
                            <label class="form-label text-muted small">Company Code<span
                                    style="color: red;">*</span></label>
                            <companyall (companyEmit)="handleCompanyEvent($event)"></companyall>
                        </div>
                        <div class="col-md-3">
                            <label class="form-label text-muted small">Pay Period</label>
                            <PayPeriod [selectedCompanyId]="selectedCompanyId" [payPeriodType]="payPeriodType"
                                (payperiodEmit)="handlePayperiodEvent($event)"></PayPeriod>
                        </div>
                        <div class="col-md-3">
                            <label class="form-label text-muted small">Date <span style="color: red;">*</span></label>
                            <input class="form-control form-control-sm" type="date" formControlName="date">
                        </div>
                        <div class="col-md-3">
                            <label class="form-label text-muted small">Month</label>
                            <input class="form-control form-control-sm" formControlName="month">
                        </div>
                    </div>
                    <br />
                    <div class="row align-items-end g-3">
                        <div class="col-md-3">
                            <label class="form-label text-muted small">Actual/Declared</label>
                            <input class="form-control form-control-sm" formControlName="actual/declared">
                        </div>
                        <div class="col-md-3 d-flex gap-2">
                            <button
                                style="border: none; border-radius: 7px; width: 85px; height: 30px; cursor: pointer; background-color: #302CB3; color: white;">
                                Reprocess
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>