<form [formGroup]="AddPaycodeform" novalidate>
    <mat-card class="custom-card">
        <mat-card-header class="sticky-header">

            <mat-card-title style="color: #302CB3; ">Add Pay Code</mat-card-title>
            <span class=" spacer"></span>
            <button mat-icon-button (click)="onClose()" class="no-border-icon">
                <mat-icon>close</mat-icon>
            </button>
        </mat-card-header>
        <mat-card-content class="scroll-content" style="padding-top: 2%;">
            <!-- Row 1 -->
            <div class="row g-3 mb-3">
                <div class="col-md-4">
                    <label class="form-label">Pay Code<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" formControlName="PayCode" />
                    <!-- <select class="form-select" formControlName="POCategory">
                        <option value="">-- Select --</option>
                    </select> -->
                </div>
                <div class="col-md-4">
                    <label class="form-label">Description<span class="text-danger"></span></label>
                    <input type="text" class="form-control" formControlName="Description" />

                    <!-- <select class="form-select" formControlName="POform">
                        <option value="">-- Select --</option>
                        <option *ngFor="let PONo of PONumber" [value]="PONo.poid">{{PONo.ponumber}}</option>
                    </select> -->
                </div>
                <div class="col-md-4">
                    <label class="form-label">Print As<span class="text-danger"></span></label>
                    <input type="text" class="form-control" formControlName="PrintAs" />
                </div>
            </div>
            <!-- Row 2 -->
            <div class="row g-3 mb-3">
                <div class="col-md-4">
                    <label class="form-label">LOP Applicable<span class="text-danger"></span></label>
                    <select class="form-select" formControlName="LOPApplicable">
                        <option value="1">Yes</option>
                        <option value="2">No</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label class="form-label">PF Applicable<span class="text-danger"></span></label>
                    <select class="form-select" formControlName="PFApplicable">
                        <option value="1">Yes</option>
                        <option value="2">No</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label class="form-label">ESI Applicable<span class="text-danger"></span></label>
                    <select class="form-select" formControlName="ESIApplicable">
                        <option value="1">Yes</option>
                        <option value="2">No</option>
                    </select>
                </div>
            </div>
            <!-- Row 3 -->
            <div class="row g-3 mb-3">
                <div class="col-md-4">
                    <label class="form-label">PT Applicable<span class="text-danger">*</span></label>
                    <select class="form-select" formControlName="PTApplicable">
                        <option value="1">Yes</option>
                        <option value="2">No</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label class="form-label">Page Type<span class="text-danger">*</span></label>
                    <select class="form-select form-select-sm" formControlName="PageType">
                        <option value="">-- Select --</option>
                        <option *ngFor="let p of pagetype" [value]="p.Page_Type_Id">{{p.Page_Type}} </option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label class="form-label">GL Account Number<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" formControlName="GLAccountNumber" />
                    <!-- <select class="form-select" formControlName="POCategory">
                        <option value="">-- Select --</option>
                    </select> -->
                </div>
                <div class="col-md-4">
                    <label class="form-label">Posting Key<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" formControlName="PostingKey" />
                    <!-- <select class="form-select" formControlName="POCategory">
                        <option value="">-- Select --</option>
                    </select> -->
                </div>
                <div class="col-md-4">
                    <label class="form-label d-block">
                        Pay Code Type <span class="text-danger">*</span>
                    </label>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="static" value="Static"
                            formControlName="PayCodeType" />
                        <label class="form-check-label" for="static">Static</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="adhoc" value="Adhoc"
                            formControlName="PayCodeType" />
                        <label class="form-check-label" for="adhoc">Adhoc</label>
                    </div>
                </div>

                <!-- <div class="col-md-4">
                    <label class="form-label">Pay Code Type<span class="text-danger">*</span></label>
                    <select class="form-select" formControlName="PayCodeType">
                        <option value="">-- Select --</option>
                    </select>
                </div> -->
                <div class="col-md-4">
                    <label class="form-label d-block">
                        Taxable <span class="text-danger"></span>
                    </label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="yes" value="Yes" formControlName="Taxable" />
                        <label class="form-check-label" for="yes">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="no" value="No" formControlName="Taxable" />
                        <label class="form-check-label" for="no">No</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="form-label d-block">
                        Project Tax <span class="text-danger"></span>
                    </label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="yes" value="Yes"
                            formControlName="ProjectTax " />
                        <label class="form-check-label" for="yes">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="no" value="No"
                            formControlName="Project Tax " />
                        <label class="form-check-label" for="no">No</label>
                    </div>
                </div>

                <div class="col-md-4">
                    <label class="form-label d-block">
                        Marginal Tax <span class="text-danger"></span>
                    </label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="yes" value="Yes"
                            formControlName="MarginalTax" />
                        <label class="form-check-label" for="yes">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="no" value="No" formControlName="MarginalTax" />
                        <label class="form-check-label" for="no">No</label>
                    </div>
                </div>

                <div class="col-md-4">
                    <label class="form-label d-block">
                        Pay Type <span class="text-danger">*</span>
                    </label>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="earning" value="Earning"
                            formControlName="PayType" />
                        <label class="form-check-label" for="earning">Earning</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="deduction" value="Deduction"
                            formControlName="PayType" />
                        <label class="form-check-label" for="deduction">Deduction</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="reimbursement" value="Reimbursement"
                            formControlName="PayType" />
                        <label class="form-check-label" for="reimbursement">Reimbursement</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="none" value="None" formControlName="PayType" />
                        <label class="form-check-label" for="none">None</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="loan" value="Loan" formControlName="PayType" />
                        <label class="form-check-label" for="loan">Loan</label>
                    </div>
                </div>
            </div>
        </mat-card-content>
        <mat-card-footer class="footer">
            <div class="d-flex justify-content-end"
                style="display: flex; justify-content: flex-end; gap: 10px; width: 100%; padding-right: 7px;">
                <button type="button" (click)="onClose()" style="border: none; border-radius: 7px; width: 80px; height: 30px;
                    cursor: pointer; background-color: #f0f0f0; color: black;">
                    Cancel
                </button>

                <button type="button" (click)="onSavePayCode()" style="border: none; border-radius: 7px; width: 80px; height: 30px;
                    cursor: pointer; background-color: blue; color: white;">
                    Save
                </button>
            </div>
        </mat-card-footer>
    </mat-card>
</form>