<div class="page-wrapper">

    <div class="scrollable-content">
        <!-- <div style="color: #302CB3; font-size: 22px; font-family: Montserrat; font-weight: 700;">
            Cilent Address List
        </div> -->
        <mat-card-title style="color: #302CB3; font-size: 22px; font-family: Montserrat; font-weight: 700;">Cancelled
            Invoice Repository
        </mat-card-title>

        <div class="container py-2">
            <div class="row g-3 align-items-end">
                <div class="col-md-3">
                    <label class="form-label text-muted small">Company Code</label>
                    <CompanyPicker (companyEmit)="handleCompanyEvent($event)"></CompanyPicker>
                </div>
                <div class="col-md-3">
                    <label class="form-label text-muted small">Pay Period</label>
                    <PayPeriod [selectedCompanyId]="selectedCompanyId" [payPeriodType]="payPeriodType"
                        (payperiodEmit)="handlePayperiodEvent($event)"></PayPeriod>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-sm d-flex align-items-center justify-content-center btn-search" matTooltip="
                        Search" (click)="Search()">
                        <mat-icon>search</mat-icon>
                    </button>
                </div>
            </div>
        </div>

        <div class="table-wrapper1">
            <div class="table-scroll">
                <mat-table #searchgrid [dataSource]="dataSource" matSort class="mat-elevation-z8 custom-table">
                    <ng-container matColumnDef="edit">
                        <mat-header-cell *matHeaderCellDef mat-sort-header class="fixed-width-column"></mat-header-cell>
                        <mat-cell *matCellDef="let element" class="fixed-width-column">
                            <img src="assets/Icons/edit.svg" style="cursor: pointer; width: 24px; height: 22px;"
                                (click)="EditClick(element)" />
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Serial_No">
                        <mat-header-cell *matHeaderCellDef
                            class="fixed-width-column"><strong>SNo</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element" class="fixed-width-column">{{ element.Serial_No
                            }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Id">
                        <mat-header-cell *matHeaderCellDef><strong>Id</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.Id }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Company_Id">
                        <mat-header-cell *matHeaderCellDef><strong>Company_Id</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.Company_Id }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Payperiod_Id">
                        <mat-header-cell *matHeaderCellDef><strong>Payperiod_Id</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.Payperiod_Id }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Invoice_Id">
                        <mat-header-cell *matHeaderCellDef><strong>Invoice_Id</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.Invoice_Id }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Invoice_Number">
                        <mat-header-cell *matHeaderCellDef><strong>Invoice Number</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.Invoice_Number }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Document_Name">
                        <mat-header-cell *matHeaderCellDef><strong>Document Name</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.Document_Name }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Uploaded_Date">
                        <mat-header-cell *matHeaderCellDef><strong>Uploaded Date</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.Uploaded_Date }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Document_FilePath">
                        <mat-header-cell *matHeaderCellDef><strong>Uploaded Date</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.Document_FilePath }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Document_Remarks">
                        <mat-header-cell *matHeaderCellDef>
                            <strong>Document Remarks</strong>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.Document_Remarks }}</mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </div>

            <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>


<div *ngIf="isLoading" class="loading-overlay">
    <img src="assets/Loading.gif" alt="Loading...">
</div>


<div *ngIf="iseditclicked" class="popup-overlay">
    <mat-card class="popup-card">
        <mat-card-header style="border-bottom: 1px solid #89898B; gap:200px; padding: 15px 15px 15px 15px">
            <mat-card-title style="color: #302CB3;">Upload Cancel Document</mat-card-title>
            <button style="border: none; background: transparent;"><mat-icon (click)="closeclick()"
                    matTooltip="close">close</mat-icon></button>
        </mat-card-header>
        <mat-card-content class="scroll-content">
            <div class="row g-3 align-items-end" style="padding-bottom: 15px;">
                <div class="col-md-3">
                    <div
                        style="width: 100%; color: var(--text-field-heading-, #222); font-size: 14px; font-family: Montserrat; font-weight: 500; word-wrap: break-word">
                        Remarks: </div>
                </div>
                <div class="col-md-9" style="padding-top: 10px;">
                    <div>
                        style="width: 160px; height: 12.35px; color: var(--text-field-heading-, #89898B); font-size: 10px; font-family: Montserrat; font-weight: 500; word-wrap: break-word">
                        Remarks</div>
                    <div>
                        <input type="text" #remarks />
                    </div>
                </div>
                <div class="col-md-3" >
                    <div style="width: 100%; color: var(--text-field-heading-, #222); font-size: 14px; font-family: Montserrat; font-weight: 500; word-wrap: break-word">
                        Upload Document: </div>
                </div>
                <div class="col-md-9" style="padding-top: 10px;">
                    <input class="form-group" type="file" #fileInput (change)="onFileChange($event, remarks.value)" accept="*" />
            </div>
        

        <mat-card-actions class="right-align"
            style="display: flex; padding: 14px 20px; justify-content: flex-end; align-items: center; gap: 12px; align-self: stretch;border-radius: 0 0 10px 10px; border-top: 1px solid var(--Card-Box-border-color, #D6D6D6); background: var(--Card-card-background, white);">
            <button (click)="EditSaveClick()"
                style="margin-right: 10px;width: 150px; padding-left: 16px; padding-right: 16px; padding-top: 6px; padding-bottom: 6px; background:  #302CB3; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20); border-radius: 6px; justify-content: center; align-items: center; gap: 10px; display: inline-flex; border: none;">
                <div
                    style="color: var(--background, #F5F5F5); font-size: 12px; font-family: Montserrat; font-weight: 600; line-height: 22.40px; letter-spacing: 0.24px; word-wrap: break-word">
                    Save</div>
            </button>
            <button (click)="Cancel()"
                style="margin-right: 10px;width: 150px;  padding-left: 16px; padding-right: 16px; padding-top: 6px; padding-bottom: 6px; background: darkgrey; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20); border-radius: 6px; justify-content: center; align-items: center; gap: 10px; display: inline-flex; border: none;">
                <div
                    style="color: var(--background, #F5F5F5); font-size: 12px; font-family: Montserrat; font-weight: 600; line-height: 22.40px; letter-spacing: 0.24px; word-wrap: break-word">
                    Cancel</div>
            </button>
        </mat-card-actions>
</div>