
<div class="container-fluid">
    <div class="card-body g-2">
        <br />
        <form>
            <div class="row g-2 align-items-end ">
                <div class="col-md-3">
                    <label class="form-label text-muted small ">Comments<span class="text-danger">*</span></label>
                    <br/>
                    <input style="width: 220px;">

                </div>

                <div class="col-md-3 d-flex gap-2">
                    <!-- Approve Button -->
                    <button type="button" class="btn btn-sm d-flex align-items-center justify-content-center"
                        matTooltip="Approve">
                        <mat-icon style="font-size: 24px;">check_circle</mat-icon>
                    </button>

                    <!-- Reject Button -->
                    <button type="button" class="btn btn-sm d-flex align-items-center justify-content-center"
                        matTooltip="Reject">
                        <mat-icon style="font-size: 24px;">cancel</mat-icon>
                    </button>
                </div>


            </div>


        </form>
    </div>
</div>