<div class="container py-4">
    <div class="row g-3 align-items-end">
        <div class="col-md-12 d-flex gap-5 right-align">
            <div
                style="display: inline-block; align-items: bottom; border-radius: 10px; border: 1px solid #7E7E7E; width: 260px; height: 30px; background-color: white; padding: 0px 10px 0px 10px;">
                <i style="margin-right: 6px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M8.30883 9.01596C7.539 9.63177 6.5625 10 5.5 10C3.01472 10 1 7.98528 1 5.5C1 3.01472 3.01472 1 5.5 1C7.98528 1 10 3.01472 10 5.5C10 6.56251 9.63176.53901 9.01594 8.30885L10.8535 10.1465C11.0488 10.3417 11.0488 10.6583 10.8535 10.8536C10.6583 11.0488 10.3417 11.0488 10.1464 10.8536L8.30883 9.01596ZM2 5.5C2 3.567 3.567 2 5.5 2C7.433 2 9 3.567 9 5.5C9 6.44299 8.62707 7.29888 8.02066 7.92823C8.00355 7.94139 7.98711 7.95579 7.97144 7.97146C7.95578 7.98712 7.94137 8.00357 7.92822 8.02067C7.29887 8.62708 6.44299 9 5.5 9C3.567 9 2 7.433 2 5.5Z"
                            fill="#7E7E7E" />
                    </svg>
                </i>
                <input type="text" [(ngModel)]="searchText" (keyup.enter)="applyFilter()" placeholder="Search"
                    style="border: none; outline: none; width: 80%; font-size: 12px; background-color: transparent; height:15px;" />
            </div>
            <button (click)="Addclicked()"
                style="display: inline-block; width: 130px; height: 30px; padding-left: 16px; padding-right: 16px; padding-top: 6px; padding-bottom: 6px; background: #302CB3; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20); border-radius: 6px; justify-content: center; align-items: center; gap: 10px; display: inline-flex; border: none;">
                <div
                    style="color: var(--background, #F5F5F5); font-size: 12px; font-family: Montserrat; font-weight: 600; line-height: 22.40px; letter-spacing: 0.24px; word-wrap: break-word">
                    Add New</div>
            </button>
        </div>

    </div>
</div>


<div class="table-container">
    <div class="example-container mat-elevation-z8">
        <table mat-table #searchgrid [dataSource]="dataSource" matSort class="custom-table table-scroll">
            <ng-container matColumnDef="delete">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="fixed-width-column"></mat-header-cell>
                <mat-cell *matCellDef="let element" class="fixed-width-column">
                    <img src="assets/delete.svg" style="cursor: pointer; width: 24px; height: 22px;"
                        (click)="DeleteClick(element)" />
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="edit">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="fixed-width-column"></mat-header-cell>
                <mat-cell *matCellDef="let element" class="fixed-width-column">
                    <img src="assets/Icons/edit.svg" style="cursor: pointer; width: 24px; height: 22px;"
                        (click)="EditClick(element)" />
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Serial_No">
                <mat-header-cell *matHeaderCellDef class="fixed-width-column">Serial No</mat-header-cell>
                <mat-cell *matCellDef="let element" class="fixed-width-column">{{ element.Serial_No }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="ID">
                <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.ID }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="Code">
                <mat-header-cell *matHeaderCellDef>Code</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.Code }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="Description">
                <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.Description }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="Is_Salary">
                <mat-header-cell *matHeaderCellDef>Is Salary</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.Is_Salary }}</mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        </table>

    </div>

    <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>

</div>

<div *ngIf="isLoading" class="loading-overlay">
    <img src="assets/Loading.gif" alt="Loading...">
</div>


<div *ngIf="isAddclicked" class="popup-overlay">
    <mat-card class="popup-card">
        <mat-card-header style="border-bottom: 1px solid #89898B; gap:450px; padding: 15px 15px 15px 15px">
            <mat-card-title style="color: #302CB3;">Add Material Code</mat-card-title>
            <button style="border: none; background: transparent;"><mat-icon (click)="closeclick()"
                    matTooltip="close">close</mat-icon></button>
        </mat-card-header>
        <mat-card-content class="scroll-content">
            <form [formGroup]="form">
                <div class="row g-3 align-items-end" style="padding-bottom: 15px;">
                    <div class="col-md-12" style="padding-top:10px">
                        <div
                            style="width: 160px; height: 12.35px; color: var(--text-field-heading-, #89898B); font-size: 10px; font-family: Montserrat; font-weight: 500; word-wrap: break-word">
                            Material Code <span style="color:red">*</span></div>
                        <div style="padding-top: 5px;">
                            <input formControlName="materialcode" type="text" placeholder="Enter Material Code" />
                        </div>
                        <div *ngIf="form.get('materialcode')?.touched && form.get('materialcode')?.hasError('required')"
                            class="text-danger">
                            Material Code cannot be empty
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div
                            style="width: 160px; height: 12.35px; color: var(--text-field-heading-, #89898B); font-size: 10px; font-family: Montserrat; font-weight: 500; word-wrap: break-word">
                            Group Detail <span style="color:red">*</span></div>
                        <div style="padding-top: 5px;">
                            <input formControlName="description" type="text" placeholder="Enter Description" />
                        </div>
                        <div *ngIf="form.get('description')?.touched && form.get('description')?.hasError('required')"
                            class="text-danger">
                            description cannot be empty
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="checkbox-wrapper">
                            <div
                                style="width: 200px; height: 42.35px; color: var(--text-field-heading-, #89898B); font-size: 12px; font-family: Montserrat; font-weight: 500; display: flex; padding-top:17px; padding-left:15px; gap:20px;">
                                <span style="width:200px;">Is_Salary</span>
                                <input formControlName="issalary" type="checkbox" class="custom-checkbox" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </mat-card-content>

        <mat-card-actions class="right-align"
            style="display: flex; padding: 14px 20px; justify-content: flex-end; align-items: center; gap: 12px; align-self: stretch;border-radius: 0 0 10px 10px; border-top: 1px solid var(--Card-Box-border-color, #D6D6D6); background: var(--Card-card-background, white);">
            <button (click)="SaveClick()"
                style="margin-right: 10px;width: 150px; padding-left: 16px; padding-right: 16px; padding-top: 6px; padding-bottom: 6px; background:  #302CB3; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20); border-radius: 6px; justify-content: center; align-items: center; gap: 10px; display: inline-flex; border: none;">
                <div
                    style="color: var(--background, #F5F5F5); font-size: 12px; font-family: Montserrat; font-weight: 600; line-height: 22.40px; letter-spacing: 0.24px; word-wrap: break-word">
                    Save</div>
            </button>
            <button (click)="Cancel()"
                style="margin-right: 10px;width: 150px;  padding-left: 16px; padding-right: 16px; padding-top: 6px; padding-bottom: 6px; background: darkgrey; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20); border-radius: 6px; justify-content: center; align-items: center; gap: 10px; display: inline-flex; border: none;">
                <div
                    style="color: var(--background, #F5F5F5); font-size: 12px; font-family: Montserrat; font-weight: 600; line-height: 22.40px; letter-spacing: 0.24px; word-wrap: break-word">
                    Cancel</div>
            </button>
        </mat-card-actions>
    </mat-card>
</div>
<div *ngIf="iseditclicked" class="popup-overlay">
    <mat-card class="popup-card">
        <mat-card-header style="border-bottom: 1px solid #89898B; gap:450px; padding: 15px 15px 15px 15px">
            <mat-card-title style="color: #302CB3;">Edit Material Code</mat-card-title>
            <button style="border: none; background: transparent;"><mat-icon (click)="closeclick()"
                    matTooltip="close">close</mat-icon></button>
        </mat-card-header>
        <mat-card-content class="scroll-content">
            <form [formGroup]="Editform">
                <div class="row g-3 align-items-end" style="padding-bottom: 15px;">
                    <div class="col-md-12" style="padding-top:10px">
                        <div
                            style="width: 160px; height: 12.35px; color: var(--text-field-heading-, #89898B); font-size: 10px; font-family: Montserrat; font-weight: 500; word-wrap: break-word">
                            Material Code <span style="color:red">*</span></div>
                        <div style="padding-top: 5px;">
                            <input formControlName="materialcode" type="text" placeholder="Enter Material Code"
                                readonly="true" />
                            <input formControlName="id" type="text" hidden />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div
                            style="width: 160px; height: 12.35px; color: var(--text-field-heading-, #89898B); font-size: 10px; font-family: Montserrat; font-weight: 500; word-wrap: break-word">
                            Group Detail <span style="color:red">*</span></div>
                        <div style="padding-top: 5px;">
                            <input formControlName="description" type="text" placeholder="Enter Description" />
                        </div>
                        <div *ngIf="Editform.get('description')?.touched && Editform.get('description')?.hasError('required')"
                            class="text-danger">
                            description cannot be empty
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="checkbox-wrapper">
                            <div
                                style="width: 200px; height: 42.35px; color: var(--text-field-heading-, #89898B); font-size: 12px; font-family: Montserrat; font-weight: 500; display: flex; padding-top:17px; padding-left:15px; gap:20px;">
                                <span style="width:200px;">Is_Salary</span>
                                <input formControlName="issalary" type="checkbox" class="custom-checkbox" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </mat-card-content>

        <mat-card-actions class="right-align"
            style="display: flex; padding: 14px 20px; justify-content: flex-end; align-items: center; gap: 12px; align-self: stretch;border-radius: 0 0 10px 10px; border-top: 1px solid var(--Card-Box-border-color, #D6D6D6); background: var(--Card-card-background, white);">
            <button (click)="EditSaveClick()"
                style="margin-right: 10px;width: 150px; padding-left: 16px; padding-right: 16px; padding-top: 6px; padding-bottom: 6px; background:  #302CB3; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20); border-radius: 6px; justify-content: center; align-items: center; gap: 10px; display: inline-flex; border: none;">
                <div
                    style="color: var(--background, #F5F5F5); font-size: 12px; font-family: Montserrat; font-weight: 600; line-height: 22.40px; letter-spacing: 0.24px; word-wrap: break-word">
                    Save</div>
            </button>
            <button (click)="Cancel()"
                style="margin-right: 10px;width: 150px;  padding-left: 16px; padding-right: 16px; padding-top: 6px; padding-bottom: 6px; background: darkgrey; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20); border-radius: 6px; justify-content: center; align-items: center; gap: 10px; display: inline-flex; border: none;">
                <div
                    style="color: var(--background, #F5F5F5); font-size: 12px; font-family: Montserrat; font-weight: 600; line-height: 22.40px; letter-spacing: 0.24px; word-wrap: break-word">
                    Cancel</div>
            </button>
        </mat-card-actions>
    </mat-card>
</div>