<div class="row gap-3 py-2">
    <div class="justify-content-between align-items-center mb-3">
        <div class="d-flex gap-2" style="padding-left: 20px;">

            <div class="right-align">
                <div
                    style="width: 690px; height: 52px; flex-direction: row; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
                    <div
                        style="padding-top: 10px; width: 150px; height: 52px; flex-direction: column; align-items: flex-end; display: inline-flex">

                        <div
                            style="width: 150px; height: 12.35px; color: var(--text-field-heading-, #89898B); font-size: 10px; font-family: Montserrat; font-weight: 500; margin-bottom: 4px;">
                            Batch Type
                        </div>
                        <select
                            style="width: 150px; height: 30px; gap: 10px; border-radius: 6px; border: 1px solid #D9D9D9; padding: 6px 10px; font-family: Montserrat; font-size: 12px;"
                            name="Batchunitnameentity" [(ngModel)]="Batchtype">
                            <option value="">Select Type</option>

                            <option *ngFor="let bt of batchtype" [value]="bt.value">{{ bt.name }}</option>


                        </select>

                    </div>
                    <div
                        style="padding-top: 10px; width: 150px; height: 52px; flex-direction: column; align-items: flex-end; display: inline-flex">

                        <div
                            style="width: 150px; height: 12.35px; color: var(--text-field-heading-, #89898B); font-size: 10px; font-family: Montserrat; font-weight: 500; margin-bottom: 4px;">
                            Batch Unit Name/Entity
                        </div>
                        <select
                            style="width: 150px; height: 30px; gap: 10px; border-radius: 6px; border: 1px solid #D9D9D9; padding: 6px 10px; font-family: Montserrat; font-size: 12px;"
                            name="Batchunitnameentity" [(ngModel)]="entity">

                            <option *ngFor="let et of entitylist" [value]="et.entity_Id">{{ et.entity_Name }}</option>
                        </select>

                    </div>
                    <div
                        style="padding-top: 10px; width: 150px; height: 52px; flex-direction: column; align-items: flex-end; display: inline-flex">

                        <div
                            style="width: 150px; height: 12.35px; color: var(--text-field-heading-, #89898B); font-size: 10px; font-family: Montserrat; font-weight: 500; margin-bottom: 4px;">
                            Batch Creation Types
                        </div>
                        <select
                            style="width: 150px; height: 30px; gap: 10px; border-radius: 6px; border: 1px solid #D9D9D9; padding: 6px 10px; font-family: Montserrat; font-size: 12px;"
                            name="Batchunitnameentity" [(ngModel)]="Batchcreate">

                            <option *ngFor="let bc of batchcreate" [value]="bc.geN_iID">{{ bc.geN_vDescription }}
                            </option>
                        </select>
                    </div>
                    <div
                        style="padding-top: 8px; width: 150px; height: 52px; flex-direction: column; align-items: flex-end; display: inline-flex">
                        <div
                            style="width: 150px; height: 12.35px; color: var(--text-field-heading-, #89898B); font-size: 10px; font-family: Montserrat; font-weight: 500; margin-bottom: 4px;">
                            Remarks
                        </div>
                        <input
                            style="width: 150px; height: 30px; gap: 10px; border-radius: 6px; border: 1px solid #D9D9D9; padding: 4px 8px; font-family: Montserrat; font-size: 12px;"
                            name="Remarks" [(ngModel)]="remarks" />
                    </div>
                </div>


                <div style="padding-top: 20px; width: 150px; height: 52px; flex-direction: column; align-items: flex-end; display: inline-flex"
                    (click)="search()">
                    <button
                        style="width: 130px; height: 30px; padding-left: 16px; padding-right: 16px; padding-top: 6px; padding-bottom: 6px; background: #302CB3; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20); border-radius: 6px; justify-content: center; align-items: center; gap: 10px; display: inline-flex; border: none;">
                        <div
                            style="color: var(--background, #F5F5F5); font-size: 12px; font-family: Montserrat; font-weight: 600; line-height: 22.40px; letter-spacing: 0.24px; word-wrap: break-word">
                            Search</div>
                    </button>
                </div>
            </div>
        </div>
        <div *ngIf="isLoading" class="loading-overlay">
            <img src="assets/Loading.gif" alt="Loading...">
        </div>
        <div style="display: flex; align-items: center; width: 100%;">

            <div style="display: flex; gap: 15px; align-items:center;padding-left: 10px;">


                <div style="display: inline-block; margin-right: 10px; padding-top: 12px;">
                    <label style="position: relative; display: inline-block;">
                        <button class="select-drop">
                            Template
                        </button>
                        <i
                            style="position: absolute; top: 50%; right: 15px; transform: translateY(-50%); pointer-events: none;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"
                                fill="none">
                                <path
                                    d="M6.5 1C6.5 0.723858 6.27614 0.5 6 0.5C5.72386 0.5 5.5 0.723858 5.5 1V6.79289L4.35355 5.64645C4.15829 5.45118 3.84171 5.45118 3.64645 5.64645C3.45118 5.84171 3.45118 6.15829 3.64645 6.35355L5.64609 8.3532C5.6473 8.3544 5.64851 8.35561 5.64973 8.3568C5.6969 8.40313 5.75098 8.43822 5.80861 8.46206C5.86713 8.48633 5.93125 8.4998 5.9985 8.5L6 8.5L6.0015 8.5C6.13732 8.4996 6.26039 8.44505 6.35027 8.3568C6.35149 8.35561 6.3527 8.3544 6.35391 8.3532L8.35355 6.35355C8.54882 6.15829 8.54882 5.84171 8.35355 5.64645C8.15829 5.45118 7.84171 5.45118 7.64645 5.64645L6.5 6.79289V1Z"
                                    fill="#7E7E7E" />
                                <path
                                    d="M1.5 8C1.77614 8 2 8.22386 2 8.5V10C2 10.2761 2.22386 10.5 2.5 10.5H9.5C9.77614 10.5 10 10.2761 10 10V8.5C10 8.22386 10.2239 8 10.5 8C10.7761 8 11 8.22386 11 8.5V10C11 10.8284 10.3284 11.5 9.5 11.5H2.5C1.67157 11.5 1 10.8284 1 10V8.5C1 8.22386 1.22386 8 1.5 8Z"
                                    fill="#7E7E7E" />
                            </svg>
                        </i>
                    </label>
                </div>
                <div style="display: inline-block;padding-top: 12px;">
                    <input type="file" #fileInput style="display: none;" accept=".xlsx, .xls" />
                    <label style="position: relative; display: inline-block;">
                        <button class="select-drop">
                            Import
                        </button>
                        <i
                            style="position: absolute; top: 50%; right: 15px; transform: translateY(-50%); pointer-events: none;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"
                                fill="none">
                                <path
                                    d="M5.64645 0.646447C5.84171 0.451184 6.15829 0.451184 6.35355 0.646447L8.35355 2.64645C8.54882 2.84171 8.54882 3.15829 8.35355 3.35355C8.15829 3.54882 7.84171 3.54882 7.64645 3.35355L6.5 2.20711V8C6.5 8.27614 6.27614 8.5 6 8.5C5.72386 8.5 5.5 8.27614 5.5 8V2.20711L4.35355 3.35355C4.15829 3.54882 3.84171 3.54882 3.64645 3.35355C3.45118 3.15829 3.45118 2.84171 3.64645 2.64645L5.64645 0.646447Z"
                                    fill="#7E7E7E" />
                                <path
                                    d="M1.5 8C1.77614 8 2 8.22386 2 8.5V10C2 10.2761 2.22386 10.5 2.5 10.5H9.5C9.77614 10.5 10 10.2761 10 10V8.5C10 8.22386 10.2239 8 10.5 8C10.7761 8 11 8.22386 11 8.5V10C11 10.8284 10.3284 11.5 9.5 11.5H2.5C1.67157 11.5 1 10.8284 1 10V8.5C1 8.22386 1.22386 8 1.5 8Z"
                                    fill="#7E7E7E" />
                            </svg>
                        </i>
                    </label>
                </div>

                <div style="display: flex; gap: 15px; align-items: center; margin-left: 300px;">
                    <div style="display: inline-block; margin-right: 10px; padding-top: 12px;">
                        <label style="position: relative; display: inline-block;">
                            <button class="select-drop" (click)="exportToExcel()">
                                Export
                            </button>
                            <i
                                style="position: absolute; top: 50%; right: 15px; transform: translateY(-50%); pointer-events: none;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"
                                    fill="none">
                                    <path
                                        d="M6.5 1C6.5 0.723858 6.27614 0.5 6 0.5C5.72386 0.5 5.5 0.723858 5.5 1V6.79289L4.35355 5.64645C4.15829 5.45118 3.84171 5.45118 3.64645 5.64645C3.45118 5.84171 3.45118 6.15829 3.64645 6.35355L5.64609 8.3532C5.6473 8.3544 5.64851 8.35561 5.64973 8.3568C5.6969 8.40313 5.75098 8.43822 5.80861 8.46206C5.86713 8.48633 5.93125 8.4998 5.9985 8.5L6 8.5L6.0015 8.5C6.13732 8.4996 6.26039 8.44505 6.35027 8.3568C6.35149 8.35561 6.3527 8.3544 6.35391 8.3532L8.35355 6.35355C8.54882 6.15829 8.54882 5.84171 8.35355 5.64645C8.15829 5.45118 7.84171 5.45118 7.64645 5.64645L6.5 6.79289V1Z"
                                        fill="#7E7E7E" />
                                    <path
                                        d="M1.5 8C1.77614 8 2 8.22386 2 8.5V10C2 10.2761 2.22386 10.5 2.5 10.5H9.5C9.77614 10.5 10 10.2761 10 10V8.5C10 8.22386 10.2239 8 10.5 8C10.7761 8 11 8.22386 11 8.5V10C11 10.8284 10.3284 11.5 9.5 11.5H2.5C1.67157 11.5 1 10.8284 1 10V8.5C1 8.22386 1.22386 8 1.5 8Z"
                                        fill="#7E7E7E" />
                                </svg>
                            </i>
                        </label>
                    </div>
                    <div style="    display: flex;    align-items: center;    border-radius: 10px;    border: 1px solid #7E7E7E;
    width: 170px;    height: 40px;    background-color: white;    padding: 0 10px;  ">
                        <i style="margin-right: 6px; display: flex;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14"
                                fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M8.30883 9.01596C7.539 9.63177 6.5625 10 5.5 10C3.01472 10 1 7.98528 1 5.5C1 3.01472 3.01472 1 5.5 1C7.98528 1 10 3.01472 10 5.5C10 6.56251 9.63176.53901 9.01594 8.30885L10.8535 10.1465C11.0488 10.3417 11.0488 10.6583 10.8535 10.8536C10.6583 11.0488 10.3417 11.0488 10.1464 10.8536L8.30883 9.01596ZM2 5.5C2 3.567 3.567 2 5.5 2C7.433 2 9 3.567 9 5.5C9 6.44299 8.62707 7.29888 8.02066 7.92823C8.00355 7.94139 7.98711 7.95579 7.97144 7.97146C7.95578 7.98712 7.94137 8.00357 7.92822 8.02067C7.29887 8.62708 6.44299 9 5.5 9C3.567 9 2 7.433 2 5.5Z"
                                    fill="#7E7E7E" />
                            </svg>
                        </i>

                        <input type="text" [(ngModel)]="searchText" (keyup.enter)="applyFilter()" placeholder="Search"
                            style="      border: none;      outline: none;      flex: 1;      font-size: 12px;      background-color: transparent;    " />
                    </div>

                    <button
                        style="display: inline-block; width: 130px; height: 30px; padding-left: 16px; padding-right: 16px; padding-top: 6px; padding-bottom: 6px; background: #302CB3; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20); border-radius: 6px; justify-content: center; align-items: center; gap: 10px; display: inline-flex; border: none;">
                        <div
                            style="color: var(--background, #F5F5F5); font-size: 12px; font-family: Montserrat; font-weight: 600; line-height: 22.40px; letter-spacing: 0.24px; word-wrap: break-word">
                            Generate</div>
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body rounded-4 py-0" *ngIf="istablevisible">
            <div class="example-container mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort class="custom-table mat-elevation-z8">

                    <ng-container matColumnDef="select">
                        <mat-header-cell *matHeaderCellDef class="fixed-width-column">
                            <mat-checkbox>
                            </mat-checkbox>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="fixed-width-column">
                            <mat-checkbox>
                            </mat-checkbox>
                        </mat-cell>
                    </ng-container>


                    <ng-container matColumnDef="Invoice_No">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            <div class="cell-center">
                                Invoice No
                            </div>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <div class="cell-center">
                                <span class="offer-style">{{ element.Invoice_No }}</span>
                            </div>
                        </mat-cell>
                    </ng-container>


                    <ng-container matColumnDef="company_code">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            <div class="cell-center">
                                Company Code
                            </div>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <div class="cell-center">{{ element.company_code }}
                            </div>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="map_name">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            <div class="cell-center-wrap-normal">
                                Map Name
                            </div>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <div class="cell-center-wrap-normal">
                                {{ element.CurrentStatus }}</div>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="payperiod">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            <div class="cell-center-wrap-normal">
                                Pay Period
                            </div>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <div class="cell-center-wrap clickable">₹ {{ element.Hold
                                }}
                            </div>
                        </mat-cell>
                    </ng-container>


                    <ng-container matColumnDef="Netamount">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            <div class="cell-center">
                                Net Amount
                            </div>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <div class="cell-center-wrap clickable">₹ {{
                                element.Netamount }}
                            </div>
                        </mat-cell>
                    </ng-container>


                    <ng-container matColumnDef="Noofemployees">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            <div class="cell-center">
                                No Of Employees
                            </div>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <div class="cell-center-wrap clickable">₹ {{ element.DBTHold
                                }}
                            </div>
                        </mat-cell>
                    </ng-container>



                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row;let i = index;  columns: displayedColumns;"></mat-row>
                </table>
            </div>

            <mat-paginator #holdPaginator class="mat-footer-paginator" [pageSizeOptions]="[5, 10, 25, 100]"
                showFirstLastButtons stickyEnd>
            </mat-paginator>
        </div>
    </div>
</div>
<div *ngIf="showPopup" class="overlay">
    <app-alertpopup *ngIf="showPopup" [message]="popupMessage" [submessage]="popupSubMessage" class="centered-popup"
        (close)="showPopup = false"></app-alertpopup>
</div>