
<div class="page-wrapper" style="padding-top: 2%;">

    <div class="scrollable-content">
        <div
            style="color: #302CB3; font-size: 22px; font-family: Nunito Sans; font-weight: 700;">
            IT Calender
        </div>

        <div class="container-fluid g-2">
            <div class="card-body g-2">
                <div class="row align-items-end">
                    <div class="col-md-3">
                        <label class="form-label text-muted small">Company Code</label>
                        <companyall (companyEmit)="handleCompanyEvent($event)"></companyall>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label text-muted small">Financial Year</label>
                        <select class="form-select form-select-sm" appearance="outline"
                            style="background-color: white;height:30px;" (change)="onFinancialYearChange($event)">
                            <option value="0">--Select--</option>
                            <option *ngFor="let financialyear of finacialyearres"
                                [value]="financialyear.Financial_Year_Id">{{ financialyear.Financial_Year_Name }}
                            </option>
                        </select>
                    </div>

                    <div class="col-md-3 d-flex gap-2">
                        <button class="btn btn-sm d-flex align-items-center justify-content-center" matTooltip="Search"
                            (click)="onsearch()">
                            <mat-icon>search</mat-icon>
                        </button>
                        <button class="btn btn-sm d-flex align-items-center justify-content-center" matTooltip="Add"
                            (click)="AddPOOpen()">
                            <mat-icon>add</mat-icon>
                        </button>
                        <button class="btn btn-sm d-flex align-items-center justify-content-center"
                            matTooltip="Export to Excel">
                            <mat-icon>table_chart</mat-icon>
                        </button>

                        <button class="btn btn-sm d-flex align-items-center justify-content-center"
                            matTooltip="Download Template">
                            <mat-icon>cloud_download</mat-icon>
                        </button>
                        <button class="btn btn-sm d-flex align-items-center justify-content-center" matTooltip="Import">
                            <mat-icon>cloud_upload</mat-icon>
                        </button>
                        <input type="file" #fileInput style="display: none;" (click)="fileInput.value=''"
                            accept=".xlsx, .xls" />
                    </div>
                </div>
            </div>
        </div>

        <div class="table-wrapper1" *ngIf="isuploadgridvisible" style="padding-top: 2%;">

            <div class="table-scroll">
                <mat-table [dataSource]="uploadedDataSource" matSort
                    class="custom-table mat-elevation-z8 auto-fit-table">

                    <ng-container matColumnDef="Action">
                        <mat-header-cell *matHeaderCellDef class="col-action"><strong>Action</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row" class="col-action">
                            <button class="btn btn-sm" matTooltip="Edit" (click)="EditOpen(row)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button class="btn btn-sm" matTooltip="Delete">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="SNo">
                        <mat-header-cell *matHeaderCellDef class="col-sno"><strong>SNo</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row" class="col-sno">{{ row.SERIAL_NO }}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="IT_Calender_Id" style="display: none;">
                        <mat-header-cell *matHeaderCellDef
                            class="col-sno"><strong>IT_Calender_Id</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row" class="col-sno">{{ row.IT_Calender_Id }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="CompanyCode">
                        <mat-header-cell *matHeaderCellDef><strong>Company Code</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row['Company_Code'] }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Company_Id" style="display: none;">
                        <mat-header-cell *matHeaderCellDef><strong>Company Id</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row['Company_Id'] }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="FinancialYear">
                        <mat-header-cell *matHeaderCellDef><strong>Financial Year</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row['Financial_Year_Name'] }}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Financial_Year_Id" style="display: none;">
                        <mat-header-cell *matHeaderCellDef><strong>Financial_Year_Id</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row['Financial_Year_Id'] }}</mat-cell>
                    </ng-container>


                    <ng-container matColumnDef="Declarationcutoffdate">
                        <mat-header-cell *matHeaderCellDef><strong>Declaration Cut-off Date</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row['Declaration_CutOff_Date'] }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Submissioncutoffdate">
                        <mat-header-cell *matHeaderCellDef><strong>Submission Cut-off Date</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row['Submission_CutOff_Date'] }}</mat-cell>
                    </ng-container>
                    <!-- HEADER ROW -->
                    <mat-header-row *matHeaderRowDef="uploadDisplayedColumns"></mat-header-row>

                    <!-- DATA ROWS -->
                    <mat-row *matRowDef="let row; columns: uploadDisplayedColumns"></mat-row>

                </mat-table>
            </div>

            <div *ngIf="uploadedDataSource.data.length === 0" class="text-center p-4">
                <p class="text-muted">No data to display</p>
            </div>

            <mat-paginator [length]="uploadedDataSource.data.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons aria-label="Select page">
            </mat-paginator>
        </div>


    </div>
</div>
<div *ngIf="isLoading" class="loading-overlay">
    <img src="assets/Loading.gif" alt="Loading...">
</div>
<app-alertpopup *ngIf="showPopup" [message]="popupMessage" [submessage]="popupSubMessage" class="centered-popup"
    (close)="closePopup()"></app-alertpopup>