<div class="container-fluid">
  <div class="card-body">
    <div class="row g-3 align-items-end">
      <div class="col-md-4">
        <label class="form-label text-muted  bold">Company Code</label>
        <companyall (companyEmit)="handleCompanyEvent($event)"></companyall>
      </div>
      <div class="col-md-3">
        <label class="form-label text-muted small bold">Pay Period</label>
        <PayPeriod [selectedCompanyId]="selectedCompanyId" [payPeriodType]="payPeriodType"
          (payperiodEmit)="handlePayperiodEvent($event)"></PayPeriod>
      </div>
      <div class="col-md-3">
        <label class="form-label text-muted small bold">Employee Code</label>
        <input type="text">
      </div>
      <div class="col-12 col-md-1 gap-2 d-flex align-items-center">
        <button (click)="BillableSearch()"
          style="width: 130px; height: 30px; color:#ffffff;padding-left: 16px; padding-right: 16px; padding-top: 6px; padding-bottom: 6px; background: #302CB3; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20); border-radius: 6px; justify-content: center; align-items: center; gap: 10px; display: inline-flex; border: none;">
          Search
        </button>
        <button (click)="export()"
          style="width: 130px; height: 30px; color:#ffffff;padding-left: 16px; padding-right: 16px; padding-top: 6px; padding-bottom: 6px; background: #302CB3; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20); border-radius: 6px; justify-content: center; align-items: center; gap: 10px; display: inline-flex; border: none;">
          Export
        </button>
      </div>

    </div>

    <div class="row g-3 align-items-end">
      <div class="col-md-4">
        <label class="form-label text-muted small">Import Type</label>
        <import-type (importType)="handleImportType($event)"></import-type>
      </div>


      <!-- <div class="col-12 col-md-3">
        <label for="internalExternal" class="form-label text-muted small mb-1">Choose File</label>
        <br>
        <input type="file" #fileInput formControlName="Document" (change)="onFileSelected($event)" hidden />
        <img src="assets/Icons/Upload_enabled.svg" type="button" (click)="fileInput.click()" />
      </div> -->
      <div class="col-12 col-md-5">
        <div class="d-flex justify-content-start gap-2">
          <input type="file" #fileInput style="display: none;" (change)="onFileChange($event)" accept=".xlsx, .xls" />
          <button
            style="width: 80px; height: 30px; color:#ffffff;background: #302CB3; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20); border-radius: 6px; justify-content: center; align-items: center; gap: 10px; display: inline-flex; border: none;"
            (click)="FileUpload(fileInput)">
            Import
          </button>
          <button
            style="width: 80px; height: 30px; color:#ffffff; background: #302CB3; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20); border-radius: 6px; justify-content: center; align-items: center; gap: 1px; display: inline-flex; border: none;"
            (click)="TemplateDownload()">
            Template
          </button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="showPreviewModal" class="modal-overlay">
    <div class="modal-content">
      <div
        style="font-family: nunito-sans;font-size: 18px; font-weight: 600; color: #302CB3; text-align: center; vertical-align: bottom; ">
        <h3>Preview Excel Data</h3>
      </div>
      <div class="table-wrapper">
        <div style="  max-height: auto; overflow-y: auto; overflow-x: auto;">
          <table class="previewtable" style="border:1px solid #E8E8E8; padding: 5px 5px 5px 5px;">
            <thead>
              <tr>
                <th *ngFor="let col of getTableColumns()">{{ col }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of excelPreviewData">
                <td *ngFor="let col of getTableColumns()">{{ row[col] }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-actions">
          <button (click)="submitExcelData()"
            style="display: inline-block; margin-right: 10px;width: 130px; height: 30px; padding-left: 16px; padding-right: 16px; padding-top: 6px; padding-bottom: 6px; background: #302CB3; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20); border-radius: 6px; justify-content: center; align-items: center; gap: 10px; display: inline-flex; border: none;">
            <div
              style="color: var(--background, #F5F5F5); font-size: 12px; font-family: Nunito Sans; font-weight: 600; line-height: 22.40px; letter-spacing: 0.24px; word-wrap: break-word">
              Submit</div>
          </button>
          <button (click)="showPreviewModal=false"
            style="display: inline-block; margin-right: 10px;width: 130px; height: 30px; padding-left: 16px; padding-right: 16px; padding-top: 6px; padding-bottom: 6px; background: #302CB3; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20); border-radius: 6px; justify-content: center; align-items: center; gap: 10px; display: inline-flex; border: none;">
            <div
              style="color: var(--background, #F5F5F5); font-size: 12px; font-family: Nunito Sans; font-weight: 600; line-height: 22.40px; letter-spacing: 0.24px; word-wrap: break-word">
              Cancel</div>
          </button>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>

<div class="table-wrapper1" style="min-width: 960px;">
  <div class="table-scroll">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 custom-table">

      <ng-container matColumnDef="Company_Id">
        <mat-header-cell *matHeaderCellDef>Company_Id</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.company_Id }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Company_Code">
        <mat-header-cell *matHeaderCellDef>Company Code</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.company_Code }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Company_Name">
        <mat-header-cell *matHeaderCellDef>Company Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.company_Name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Pay_Period">
        <mat-header-cell *matHeaderCellDef>Pay Period</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.pay_Period }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="employee_Code">
        <mat-header-cell *matHeaderCellDef> Employee Code </mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.employee_Code }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="employee_Name">
        <mat-header-cell *matHeaderCellDef> Employee Name </mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.employee_Name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="billable_Days">
        <mat-header-cell *matHeaderCellDef> Billable Days </mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.billable_Days }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="wO_NUMBER">
        <mat-header-cell *matHeaderCellDef> WO Number </mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.wO_NUMBER }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="grN_NUMBER">
        <mat-header-cell *matHeaderCellDef> GRN Number </mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.grN_NUMBER }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="oT_AMOUNT">
        <mat-header-cell *matHeaderCellDef> OT Amount </mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.oT_AMOUNT }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="otheR_ALLOWANCE">
        <mat-header-cell *matHeaderCellDef> Other Allownce </mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.otheR_ALLOWANCE }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="reimB_AMOUNT">
        <mat-header-cell *matHeaderCellDef> Reimb Amount </mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.reimB_AMOUNT }}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </table>
  </div>
  <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
  </mat-paginator>


  <br><br><br><br><br>
  <div *ngIf="isLoading" class="loading-overlay">
    <img src="assets/Loading.gif" alt="Loading...">
  </div>