  .page-wrapper {
      display: flex;
      align-items: flex-start;
      /* Full viewport height */
      overflow: hidden;
      /* Prevent body scroll */
  }

  /* Left fixed icon area */
  .left-icon {
      flex: 0 0 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #f0f0f0;
      border-right: 1px solid #ddd;
  }

  ::ng-deep .mat-mdc-icon-button:hover {
      background-color: #f1f1f1 !important;
  }

  .custom-table {
      background: white;
      overflow: auto;
      border: 1px solid #ddd;
  }

  .mat-footer-paginator {
      position: sticky;
      bottom: 0;
      background: white;
      box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
      z-index: 100;
  }

  .scrollable-content {
      flex: 1 1 auto;
      overflow-x: auto;
      overflow-y: auto;
      padding-left: 10px;
  }

  .right-align {
      display: flex;
      justify-content: flex-end;
      padding-right: 20px;
      width: 100%;
  }

  .custom-mat-table {
      border: 1px solid #ddd;
  }

  .custom-mat-table th,
  .custom-mat-table td {
      padding: 3px 5px;
      white-space: nowrap;
  }

  .fixed-width-column {
      width: 50px;
      min-width: 30px;
      max-width: 75px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
  }

  ::ng-deep .mat-elevation-z8 {
      box-shadow: none !important;
  }

  ::ng-deep .mat-mdc-header-cell {
      position: sticky !important;
      top: 0;
      z-index: 10;
      background: white;
      color: #A0A0A0;
      font-size: 12px;
      font-family: "Nunito Sans";
      font-weight: 500;
      line-height: 19.40px;
      word-wrap: break-word;
      border-right: 1px solid #ddd;
      text-align: center;
  }

  ::ng-deep .mat-mdc-cell {
      font-family: "Nunito Sans";
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 22.4px;
      letter-spacing: 0.24px;
      color: #222;
      border-bottom: 1px dashed #E8E8E8 !important;
      border-right: 1px solid #ddd;
      display: flex;
      justify-content: center;
      text-align: center;
      word-wrap: break-word;

  }

  .table-container {
      width: 100%;
      border: 1px solid #ddd;
      background: white;
  }

  /* This is your scroll window */
  .table-scroll-window {
      max-height: 450px;
      /* Set your desired height */
      overflow-x: auto;
      /* Horizontal scroll */
      overflow-y: auto;
      /* Vertical scroll */
      width: 100%;
      position: relative;
  }

  .filter-row {
      position: sticky;
      top: 56px;
      z-index: 9;
      background: white;
  }

  .header-row {
      position: sticky !important;
      top: 0;
      background: white !important;
      z-index: 100;
  }