<div class="headerSOP">
        <div style="width: 50%;"> <img src="../../../assets/Forward File 1.svg" /><b class="customer-sop">Masters</b>
        </div>
</div>
<div class="contentCategory">
        <div style="width: 100%;">
                <div class="Categorylist">
                        <ul class="horizontal-list">
                                <li><a [routerLink]="['/Master/masternavigation/peclientmapping']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">PE Client Mapping</a></li>
                                <li><a [routerLink]="['/Master/masternavigation/holidaymaster']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Holiday Master</a></li>
                                <li><a [routerLink]="['/Master/masternavigation/invoicerule']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Invoice Rule</a></li>
                                <li><a [routerLink]="['/Master/masternavigation/leavemaster']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Leave Master</a></li>
                                <li><a [routerLink]="['/Master/masternavigation/leaverule']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Leave Rule</a></li>
                                <li><a [routerLink]="['/Master/masternavigation/vendoremployee']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Vendor Employee</a></li>
                                <li><a [routerLink]="['/Master/masternavigation/lob']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Leave Opening Balance</a>
                                </li>
                        </ul>
                </div>
        </div>
</div>
<router-outlet></router-outlet>