<div class="page-wrapper">
    <div class="scrollable-content">

        <div class="container-fluid py-1">
            <div style="color:#302CB3;font-size:22px;font-family:Montserrat;font-weight:700;padding-top: 12px;">
                Lock Pay Period
            </div>

            <div class="row align-items-end g-1 mt-2">

                <!-- Month -->
                <div class="col-12 col-md-3">
                    <label class="form-label text-muted small">Month</label><span style="color:red;">*</span>
                    <select class="form-select form-select-sm" [(ngModel)]="selectedMonth">
                        <option value="">--Select--</option>
                        <option *ngFor="let m of month" [value]="m.pay_Period">
                            {{ m.pay_Period }}
                        </option>
                    </select>
                </div>

                <!-- Buttons -->

                <div class="col-12 col-md-3" style="cursor: pointer;">
                    <div class="d-flex gap-2">
                        <button class="btn btn-sm d-flex align-items-center justify-content-center btn-search"
                            (click)="onsearch()" matTooltip="Search">
                            <mat-icon>search</mat-icon>
                        </button>
                        <button class="btn btn-sm d-flex align-items-center justify-content-center btn-download"
                            (click)="downloadTemplate()" matTooltip="Template">
                            <mat-icon>cloud_download</mat-icon>
                        </button>
                        <button class="btn btn-sm d-flex align-items-center justify-content-center btn-upload"
                            (click)="ImportClick(fileInput)" matTooltip="Upload">
                            <mat-icon>cloud_upload</mat-icon>
                        </button>
                        <!-- <button class="btn btn-secondary btn-sm d-flex align-items-center justify-content-center"
                            (click)="exportToExcel()" matTooltip="Excel Export">
                            <mat-icon>table_chart</mat-icon>
                        </button> -->
                        <button class="btn btn-sm d-flex align-items-center justify-content-center btn-secondary"
                            (click)="exportToExcel()" matTooltip="ExportToExcel">
                            <mat-icon>download</mat-icon>
                        </button>
                        <input type="file" #fileInput style="display: none;" (click)="fileInput.value=''"
                            (change)="onFileChange($event)" accept=".xlsx, .xls" />
                    </div>
                </div>
            </div>
            <div class="table-wrapper1" *ngIf="showTable">
                <div class="table-scroll">
                    <mat-table [dataSource]="dataSource" class="mat-elevation-z8 custom-table">

                        <ng-container matColumnDef="checkbox">
                            <mat-header-cell *matHeaderCellDef class="checkbox"></mat-header-cell>
                            <mat-cell *matCellDef="let row" class="checkbox">
                                <mat-checkbox [(ngModel)]="row.selected" (change)="onRowSelectionChange(row)">
                                </mat-checkbox>
                            </mat-cell>
                        </ng-container>

                        <!-- 🔹 Sl.No -->
                        <ng-container matColumnDef="slNo">
                            <mat-header-cell *matHeaderCellDef class="slno"><strong>Sl.No</strong></mat-header-cell>
                            <mat-cell *matCellDef="let row" class="slno">{{ row.SNo }}</mat-cell>
                        </ng-container>

                        <!-- 🔹 Pay Code -->
                        <ng-container matColumnDef="companycode">
                            <mat-header-cell *matHeaderCellDef class="companycode"><strong>Company
                                    Code</strong></mat-header-cell>
                            <mat-cell *matCellDef="let row" class="companycode">{{ row.Company_Code }}</mat-cell>
                        </ng-container>

                        <!-- 🔹 Description -->
                        <ng-container matColumnDef="CompanyName">
                            <mat-header-cell *matHeaderCellDef class="CompanyName"><strong>Company
                                    Name</strong></mat-header-cell>
                            <mat-cell *matCellDef="let row" class="CompanyName">{{ row.Company_Name }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="PayPeriod">
                            <mat-header-cell *matHeaderCellDef class="PayPeriod"><strong>Pay
                                    Period</strong></mat-header-cell>
                            <mat-cell *matCellDef="let row" class="PayPeriod">{{ row.Pay_Period }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="status">
                            <mat-header-cell *matHeaderCellDef class="status"><strong>Status</strong></mat-header-cell>
                            <mat-cell *matCellDef="let row" class="status">{{ row.IsLocked }}</mat-cell>
                        </ng-container>

                        <!-- Header Rows -->
                        <mat-header-row *matHeaderRowDef="uploadDisplayedColumns"></mat-header-row>

                        <!-- <mat-header-row *matHeaderRowDef="uploadFilteredColumns"></mat-header-row> -->


                        <!-- Data Rows -->
                        <mat-row *matRowDef="let row; columns: uploadDisplayedColumns"></mat-row>

                    </mat-table>
                </div>

                <div *ngIf="dataSource.data.length === 0" class="text-center p-4">
                    <p class="text-muted">No data to display</p>
                </div>

                <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>

        </div>
    </div>
    <div *ngIf="isLoading" class="loading-overlay">
        <img src="assets\Loading.gif" alt="Loading...">
    </div>

    <app-alertpopup *ngIf="showPopup" [message]="popupMessage" [submessage]="popupSubMessage" class="centered-popup"
        (close)="showPopup = false">
    </app-alertpopup>