<div class="row gap-3 py-2">
    <div class="justify-content-between align-items-center mb-3">
        <div class="d-flex gap-2" style="padding-left: 20px;">

            <div class="right-align">  
                <inputaggregatoronboarding [visibleDropdowns]="[1, 2, 5]" [showSearchButton]="true" [showfinalsubmisionButton]="true"
                    [payPeriodTypefromParent]="payPeriodTypefromParent" (companyUI)="handleCompanyEvent($event)"
                    (payperiodUI)="handlePayperiodEvent($event)" (searchClicked)="handleSearchattendance()"
                    (Finalsubmitted)="Finalsubmissionclick()" (sitenameUI)="handleSiteNameEvent($event)">
                </inputaggregatoronboarding>
            </div>
        </div>
        <div *ngIf="isLoading" class="loading-overlay">
            <img src="assets/Loading.gif" alt="Loading...">
        </div>
        <!-- <div *ngIf="showPreviewModal" class="modal-overlay">
      <div class="modal-content">
        <div
          style="font-family: nunito-sans;font-size: 18px; font-weight: 600; color: #302CB3; text-align: center; vertical-align: bottom; ">
          <h3>Preview Excel Data</h3>
        </div>
        <div class="table-wrapper">
          <div style="  max-height: auto; overflow-y: auto; overflow-x: auto;">
            <table class="previewtable" style="border:1px solid #E8E8E8; padding: 5px 5px 5px 5px;">
              <thead>
                <tr>
                  <th *ngFor="let col of getTableColumns()">{{ col }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of excelPreviewData">
                  <td *ngFor="let col of getTableColumns()">{{ row[col] }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-actions">
            <button (click)="submitExcelData()"
              style="display: inline-block; margin-right: 10px;width: 130px; height: 30px; padding-left: 16px; padding-right: 16px; padding-top: 6px; padding-bottom: 6px; background: #302CB3; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20); border-radius: 6px; justify-content: center; align-items: center; gap: 10px; display: inline-flex; border: none;">
              <div
                style="color: var(--background, #F5F5F5); font-size: 12px; font-family: Montserrat; font-weight: 600; line-height: 22.40px; letter-spacing: 0.24px; word-wrap: break-word">
                Submit</div>
            </button>
            <button (click)="showPreviewModal=false"
              style="display: inline-block; margin-right: 10px;width: 130px; height: 30px; padding-left: 16px; padding-right: 16px; padding-top: 6px; padding-bottom: 6px; background: #302CB3; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20); border-radius: 6px; justify-content: center; align-items: center; gap: 10px; display: inline-flex; border: none;">
              <div
                style="color: var(--background, #F5F5F5); font-size: 12px; font-family: Montserrat; font-weight: 600; line-height: 22.40px; letter-spacing: 0.24px; word-wrap: break-word">
                Cancel</div>
            </button>
          </div>
        </div>
      </div>
    </div> -->
        <div style="width:100%; padding-bottom: 10px; gap: 15px;" class="right-align">
            <div
                style="display: inline-block; align-items: center; border-radius: 10px; border: 1px solid #7E7E7E; width: 260px; height: 30px; background-color: white; padding: 0px 10px 0px 10px;">
                <i style="margin-right: 6px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M8.30883 9.01596C7.539 9.63177 6.5625 10 5.5 10C3.01472 10 1 7.98528 1 5.5C1 3.01472 3.01472 1 5.5 1C7.98528 1 10 3.01472 10 5.5C10 6.56251 9.63176.53901 9.01594 8.30885L10.8535 10.1465C11.0488 10.3417 11.0488 10.6583 10.8535 10.8536C10.6583 11.0488 10.3417 11.0488 10.1464 10.8536L8.30883 9.01596ZM2 5.5C2 3.567 3.567 2 5.5 2C7.433 2 9 3.567 9 5.5C9 6.44299 8.62707 7.29888 8.02066 7.92823C8.00355 7.94139 7.98711 7.95579 7.97144 7.97146C7.95578 7.98712 7.94137 8.00357 7.92822 8.02067C7.29887 8.62708 6.44299 9 5.5 9C3.567 9 2 7.433 2 5.5Z"
                            fill="#7E7E7E" />
                    </svg>
                </i>
                <input type="text" [(ngModel)]="searchText" (keyup.enter)="applyFilter()" placeholder="Search"
                    style="border: none; outline: none; width: 80%; font-size: 12px; background-color: transparent; height:15px;" />
            </div>
            <!-- <button *ngIf="isAnyFilteredRowSelected()" (click)="moveClick()"
        style="display: inline-block; width: 130px; height: 30px; padding-left: 16px; padding-right: 16px; padding-top: 6px; padding-bottom: 6px; background: #302CB3; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20); border-radius: 6px; justify-content: center; align-items: center; gap: 10px; display: inline-flex; border: none;">
        <div
          style="color: var(--background, #F5F5F5); font-size: 12px; font-family: Montserrat; font-weight: 600; line-height: 22.40px; letter-spacing: 0.24px; word-wrap: break-word">
          Move to Qpay</div>
      </button> -->
        </div>
        <!-- <div class="card-body rounded-4 py-0">
      <div class="example-container mat-elevation-z8">
        <table mat-table #searchgrid [dataSource]="dataSource" matSort class="custom-table mat-elevation-z8">

          <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef class="fixed-width-column">
              <mat-checkbox (change)="toggleAllRows()" [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="isPartialSelected()">
              </mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="fixed-width-column">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="toggleRow(element)"
                [checked]="selection.isSelected(element)">
              </mat-checkbox>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="offerId">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Offer ID</mat-header-cell>
            <mat-cell *matCellDef="let element"><span class="offer-style">{{ element.offerId }}</span></mat-cell>
          </ng-container>

          <ng-container matColumnDef="employeeName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Employee Name</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.employeeName }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="fatherName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Father Name</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.fatherName }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="gender">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Gender</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.gender }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="doj">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Date of Joining</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.doj }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="dob">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Date of Birth</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.dob }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="designation">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Designation</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.designation }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="jobState">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Job State</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.jobState }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="jobLocation">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Job Location</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.jobLocation }}</mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </table>
      </div>

      <mat-paginator class="mat-footer-paginator" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons stickyEnd>
      </mat-paginator>
    </div> -->
    </div>
</div>