<div class="headerSOP">
</div>
<div class="contentCategory">
    <div style="width: 100%;">
        <div class="Categorylist">
            <ul class="horizontal-list">
                <!-- <li><a [routerLink]="['/Master/customer/company']" class="nav-link" routerLinkActive="selectedInput"
                        [routerLinkActiveOptions]="{ exact: true }">Company</a></li>
                <li><a [routerLink]="['/Master/customer/corporatebank']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">Corporate Bank</a>
                </li> -->
                <li><a [routerLink]="['/Master/customer/department']" class="nav-link" routerLinkActive="selectedInput"
                        [routerLinkActiveOptions]="{ exact: true }">Department</a>
                </li>
                <li><a [routerLink]="['/Master/customer/designation']" class="nav-link" routerLinkActive="selectedInput"
                        [routerLinkActiveOptions]="{ exact: true }">Designation</a>
                </li>
                 <li><a [routerLink]="['/Master/customer/BandDetails']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">Band Details</a>
                </li>
                <li><a [routerLink]="['/Master/customer/CostCenterMapping']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">Cost Center Mapping</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<router-outlet></router-outlet>