<div class="headerSOP">
</div>
<div class="contentCategory">
        <div style="width: 100%;">
                <div class="Categorylist">
                        <ul class="horizontal-list">

                                <li><a [routerLink]="['/Master/customer/employee']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Employee</a>
                                </li>
                                <li><a [routerLink]="['/Master/customer/department']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Department</a>
                                </li>
                                <li><a [routerLink]="['/Master/customer/designation']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Designation</a>
                                </li>
                                <li><a [routerLink]="['/Master/customer/BandDetails']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Band Details</a>
                                </li>
                                <li><a [routerLink]="['/Master/customer/CostCenterMapping']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Cost Center Mapping</a>
                                </li>
                                <li><a [routerLink]="['/Master/customer/corporatebank']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Corporate Bank</a>
                                </li>
                                <li><a [routerLink]="['/Master/customer/itcalender']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">IT Calender</a>
                                </li>
                                <li><a [routerLink]="['/Master/customer/companypaycodemapping']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Company Paycode Mapping</a>
                                </li>
                                <li><a [routerLink]="['/Master/customer/clientaddress']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Client Address</a>
                                </li>
                                <li><a [routerLink]="['/Master/customer/payfrequency']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Pay Frequency</a>
                                </li>
                                <li><a [routerLink]="['/Master/customer/ServiceCharge']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Service Charge</a>
                                </li>
                                <li><a [routerLink]="['/Master/customer/cancelledinvoicerepository']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Cancelled Invoice Repository</a>
                                </li>
                        </ul>
                </div>
        </div>
</div>
<router-outlet></router-outlet>