<div class="headerSOP">
        <div style="width: 50%;"> <img src="../../../assets/Forward File 1.svg" /><b class="customer-sop">PO</b></div>
</div>
<div class="contentCategory">
        <div style="width: 100%;">
                <div class="Categorylist">
                        <ul class="horizontal-list">
                                <li><a [routerLink]="['/Master/ponavigation/Mainpo']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Main PO</a></li>
                                <li><a [routerLink]="['/Master/ponavigation/employeepo']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Employee PO</a></li>
                                <li><a [routerLink]="['/Master/ponavigation/employeeapproval']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Employee PO Approval</a>
                                </li>
                                
                                <!-- <li><a [routerLink]="['/Master/masternavigation/leaverule']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Leave Rule</a></li>
                                <li><a [routerLink]="['/Master/masternavigation/vendoremployee']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Vendor Employee</a></li>
                                <li><a [routerLink]="['/Master/masternavigation/lob']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Leave Opening Balance</a>
                                </li> -->
                        </ul>
                </div>
        </div>
</div>
<router-outlet></router-outlet>