<div style="padding-left: 60px; padding-right: 60px; padding-top: 40px; padding-bottom: 40px; background: #F2F1FF; border-radius: 12px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 18px; display: inline-flex">
  <img 
  *ngIf="isfailed==true"
  src="assets/exclamation.png" 
  alt="Failed"
  style="width: 150px; height: 150px" />

  <img 
  *ngIf="isfailed==false"
    src="assets/alert.gif" 
    alt="Success"
    style="width: 150px; height: 150px" />
  <div style="flex-direction: column; justify-content: flex-start; align-items: center; gap: 9px; display: flex">
    <div style="color: #302CB3; font-size: 22px; font-family: Nunito Sans; font-weight: 700; word-wrap: break-word"><p>{{ message }}</p></div>
    <div style="width: 288px; text-align: center; color: #212121; font-size: 10px; font-family: Nunito Sans; font-weight: 500; word-wrap: break-word">{{submessage}} </div>
  </div>
  <button data-property-1="Default" style="width: 136px; height: 30px; padding-left: 16px; padding-right: 16px; padding-top: 6px; padding-bottom: 6px; background: #302CB3; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20); border-radius: 6px; justify-content: center; align-items: center; gap: 10px; display: inline-flex"
  (click)="closePopup()">
    <div style="color: var(--background, #F5F5F5); font-size: 12px; font-family: Nunito Sans; font-weight: 600; line-height: 22.40px; letter-spacing: 0.24px; word-wrap: break-word">Continue</div>
</button>
</div>
