<br />
<div class="page-wrapper">

    <div class="scrollable-content">
        <div style="color: #302CB3; font-size: 22px; font-family: Montserrat; font-weight: 700; min-width: 960px">
            Corporate Bank
        </div>
        <form [formGroup]="corporateBankForm">

            <div class="container py-2">
                <div class="row g-3 align-items-end">
                    <div class="col-md-3" style="display: none;">
                        <label class="form-label text-muted small">Bank Name</label>
                        <input type="text" class="form-control form-control-sm" formControlName="BankName" />
                    </div>
                    <div class="col-md-2 d-flex gap-2">
                        <!-- <button class="btn  btn-sm d-flex align-items-center justify-content-center" matTooltip="Search"
                            (click)="onsearch()">
                            <mat-icon>search</mat-icon>
                        </button> -->

                        <button class="btn btn-sm d-flex align-items-center justify-content-center"
                            matTooltip="export to excel" (click)="ExportToExcel()">
                            <mat-icon>table_chart</mat-icon>
                        </button>
                        <button class="btn btn-sm d-flex align-items-center justify-content-center" matTooltip="Add"
                            (click)="AddCorporatebank()">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </form>

        <br />
        <div class=" table-wrapper1" style="min-width: 960px;" *ngIf="showTable">
            <div class="table-scroll">
                <mat-table [dataSource]="uploadedData" class="mat-elevation-z8 custom-table">

                    <!--  Action -->
                    <ng-container matColumnDef="Action">
                        <mat-header-cell *matHeaderCellDef><strong>Action</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <button class="btn btn-sm d-flex align-items-center justify-content-center"
                                matTooltip="Edit" (click)="editCorporateBank(row)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button class="btn btn-sm d-flex align-items-center justify-content-center"
                                matTooltip="Delete" (click)="deletCorporateBank(row)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>

                    <!-- 🔹 Sl.No -->
                    <ng-container matColumnDef="slNo">
                        <mat-header-cell *matHeaderCellDef><strong>Sl.No</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.Serial_No }}</mat-cell>
                    </ng-container>

                    <!-- 🔹 Pay Code -->
                    <ng-container matColumnDef="Bank_Id" style="display: none;">
                        <mat-header-cell *matHeaderCellDef><strong>Bank ID</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.Bank_Id}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="bankname">
                        <mat-header-cell *matHeaderCellDef><strong>Bank Name</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.Bank_Name}}</mat-cell>
                    </ng-container>

                    <!-- 🔹 Description -->
                    <ng-container matColumnDef="branch">
                        <mat-header-cell *matHeaderCellDef><strong>Branch</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.BranchName }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="branchcode">
                        <mat-header-cell *matHeaderCellDef><strong>Branch Code</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.BranchCode }}</mat-cell>
                    </ng-container>

                    <!-- 🔹 Pay Type -->
                    <ng-container matColumnDef="bankcode">
                        <mat-header-cell *matHeaderCellDef><strong>Bank Code</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.bank_code }}</mat-cell>
                    </ng-container>

                    <!-- 🔹 Taxable -->
                    <ng-container matColumnDef="accountno">
                        <mat-header-cell *matHeaderCellDef><strong>Account No</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.Account_No }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="swiftcode">
                        <mat-header-cell *matHeaderCellDef><strong>Swift Code</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.Swift_Code }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="address">
                        <mat-header-cell *matHeaderCellDef><strong>Address</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.Address }}</mat-cell>
                    </ng-container>

                    <!-- 🔹 Filter Header Row -->
                    <ng-container matColumnDef="Actionfilter">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    </ng-container>

                    <ng-container matColumnDef="slNoFilter">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    </ng-container>



                    <!-- Header Rows -->
                    <mat-header-row *matHeaderRowDef="uploadDisplayedColumns"></mat-header-row>


                    <!-- Data Rows -->
                    <mat-row *matRowDef="let row; columns: uploadDisplayedColumns"></mat-row>

                </mat-table>
            </div>

            <div *ngIf="uploadedData.length === 0" class="text-center p-4">
                <p class="text-muted">No data to display</p>
            </div>

            <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>

    </div>
</div>
<div *ngIf="isLoading" class="loading-overlay">
    <img src="assets/Loading.gif" alt="Loading...">
</div>
<div *ngIf="showPopup" class="overlay">
    <app-alertpopup *ngIf="showPopup" [message]="popupMessage" [submessage]="popupSubMessage" class="centered-popup"
        (close)="showPopup = false"></app-alertpopup>
</div>