<!-- <div class="sidebar">  
   
    <a [routerLink]="['/Master/Assignment']" (click)="onNavigate($event,'2')"><i class="bi bi-list-task"></i> Assignment</a>
    <a [routerLink]="['/Master/Severity']" (click)="onNavigate($event,'3')"><i class="bi bi-stack"></i> Severity</a>
</div> -->


<!-- <button class="btn btn-primary m-3" data-bs-toggle="offcanvas" data-bs-target="#sidebar">
    ☰ Open Sidebar
  </button>
  

<div class="offcanvas offcanvas-start" tabindex="-1" id="sidebar">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title">Sidebar Menu</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
      <ul class="list-group">
        <li class="list-group-item"><a routerLink="/">🏠 Home</a></li>
        <li class="list-group-item"><a routerLink="/about">📄 About</a></li>
        <li class="list-group-item"><a routerLink="/contact">📞 Contact</a></li>
      </ul>
    </div>
  </div> -->

  <nav class="navbar navbar-dark bg-dark d-md-none">
    <div class="container-fluid">
      <button class="btn btn-outline-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar">
        ☰ Menu
      </button>
      <a class="navbar-brand ms-auto" href="#">My App</a>
    </div>
  </nav>
  
  <!-- Sidebar Offcanvas -->
  <div class="offcanvas offcanvas-start sidebar text-white" tabindex="-1" id="offcanvasSidebar">
    <div class="offcanvas-header d-md-none">
      <h5 class="offcanvas-title">Menu</h5>
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body p-0">
      <nav class="nav flex-column p-3">
        <a class="nav-link" href="#">Dashboard</a>
        <a class="nav-link" href="#">Profile</a>
        <a class="nav-link" href="#">Messages</a>
        <a class="nav-link" href="#">Settings</a>
        <a class="nav-link" href="#">Logout</a>
      </nav>
    </div>
  </div>
  