<div class="page-wrapper">

    <div class="scrollable-content">
        <div style="color: #302CB3; font-size: 22px; font-family: Montserrat; font-weight: 700;">
            Department
        </div>
        <div class="container py-2">
            <div class="row g-3 align-items-end">
                <div class="col-md-3">
                    <label class="form-label text-muted small">Comapny Code</label>
                    <companyall (companyEmit)="handleCompanyEvent($event)"></companyall>
                    <!-- <select class="form-select form-select-sm" formControlName="CompanyCode"
                            placeholder="Select Company Type">
                            <option value="">--Select--</option>
                            <option *ngFor="let pay of paytype" [value]="pay.PayType_Id">{{pay.PayType}}</option>
                        </select> -->
                </div>
                <div class="col-md-2 d-flex gap-2">
                    <button class="btn btn-sm d-flex align-items-center justify-content-center btn-search"
                        matTooltip="Search" (click)="onsearch()">
                        <mat-icon>search</mat-icon>
                    </button>
                    <button class="btn btn-secondary btn-sm d-flex align-items-center justify-content-center"
                        matTooltip="export to excel" (click)="exportToExcel()">
                        <mat-icon>download</mat-icon>
                    </button>
                    <button class="btn btn-sm d-flex align-items-center justify-content-center btn-upload"
                        matTooltip="import" (click)="ImportClick(fileInput)">
                        <mat-icon>cloud_upload</mat-icon>
                    </button>
                    <button class="btn btn-sm d-flex align-items-center justify-content-center btn-download"
                        matTooltip="downlaod" (click)="downloadTemplate()">
                        <mat-icon>cloud_download</mat-icon>
                    </button>
                    <button class="btn  btn-sm d-flex align-items-center justify-content-center btn-success" matTooltip="Add"
                        (click)="AddDepartmentOpen()">
                        <mat-icon>add</mat-icon>
                    </button>
                    <input type="file" #fileInput style="display: none;" (click)="fileInput.value=''"
                        (change)="onFileChange($event)" accept=".xlsx, .xls" />
                </div>

            </div>
        </div>

        <div class="table-wrapper1" *ngIf="showTable">
            <div class="table-scroll">
                <mat-table [dataSource]="dataSource" class="mat-elevation-z8 custom-table">

                    <!--  Action -->
                    <!-- <ng-container matColumnDef="Action">
                        <mat-header-cell *matHeaderCellDef class="action">
                            <strong>Action</strong>
                        </mat-header-cell>

                        <mat-cell *matCellDef="let row" class="action">
                            <div class="action-icons">
                                <button class="btn btn-sm d-flex align-items-center justify-content-center" matTooltip="Edit">
                                    <mat-icon>edit</mat-icon>
                                </button>

                                <button class="btn btn-sm d-flex align-items-center justify-content-center" matTooltip="Delete">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                        </mat-cell>
                    </ng-container> -->

                    <!-- 🔹 Sl.No -->
                    <ng-container matColumnDef="slNo">
                        <mat-header-cell *matHeaderCellDef class="sno"><strong>Sl.No</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row" class="sno">{{ row.serial_No}}</mat-cell>
                    </ng-container>

                    <!-- 🔹 Pay Code -->
                    <ng-container matColumnDef="companycode">
                        <mat-header-cell *matHeaderCellDef class="companycode"><strong>Company Code</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row" class="companycode">{{ row.company_Code}}</mat-cell>
                    </ng-container>

                    <!-- 🔹 Description -->
                    <ng-container matColumnDef="departmentcode">
                        <mat-header-cell *matHeaderCellDef class="departmentcode"><strong>Department Code</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row" class="departmentcode">{{ row.department_Code}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="departmentname">
                        <mat-header-cell *matHeaderCellDef class="departmentname"><strong>Department Name</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row" class="departmentname">{{ row.department_Name}}</mat-cell>
                    </ng-container>

                    <!-- 🔹 Filter Header Row -->
                    <ng-container matColumnDef="Actionfilter">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    </ng-container>

                    <ng-container matColumnDef="slNoFilter">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    </ng-container>

                    <!-- Header Rows -->
                    <mat-header-row *matHeaderRowDef="uploadDisplayedColumns"></mat-header-row>


                    <!-- Data Rows -->
                    <mat-row *matRowDef="let row; columns: uploadDisplayedColumns"></mat-row>

                </mat-table>
            </div>

            <div *ngIf="dataSource.data.length===0" class="text-center p-4">
                <p class="text-muted">No data to display</p>
            </div>

            <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>

    </div>
</div>
<div *ngIf="isLoading" class="loading-overlay">
    <img src="assets\Loading.gif" alt="Loading...">
</div>
<app-alertpopup *ngIf="showPopupalert" [message]="popupMessage" [submessage]="popupSubMessage" class="centered-popup"
    (close)="showPopupalert = false">
</app-alertpopup>