<form [formGroup]="bandForm" novalidate>
    <mat-card class="custom-card">

        <mat-card-header class="sticky-header">
            <br />
            <mat-card-title style="color: #302CB3;"> Add Band Details</mat-card-title>

            <span class="spacer"></span>
            <button mat-icon-button (click)="onClose()" class="no-border-icon">
                <mat-icon>close</mat-icon>
            </button>
        </mat-card-header>

        <br />

        <mat-card-content>

            <div style="display: grid; grid-template-columns: 150px 250px; row-gap: 15px; align-items: start;">

                <!-- Company Code -->
                <label class="form-label text-muted small" style="white-space: nowrap;">Company Code</label>

                <div>
                    <companyall (companyEmit)="handleCompanyEvent($event)"></companyall>

                    <!-- ERROR UNDER INPUT -->
                    <small class="text-danger d-block mt-1" *ngIf="showErrors && bandForm.get('companyCode')?.invalid">
                        Company Code is required
                    </small>
                </div>


                <!-- Band Code -->
                <label class="form-label text-muted small mb-0" style="white-space: nowrap;">Band Code:</label>

                <div>
                    <input type="text" class="form-control form-control-sm" formControlName="bandCode" />

                    <small class="text-danger d-block mt-1" *ngIf="showErrors && bandForm.get('bandCode')?.invalid">
                        Band Code is required
                    </small>
                </div>


                <!-- Band Name -->
                <label class="form-label text-muted small mb-0" style="white-space: nowrap;">Band Name:</label>

                <div>
                    <input type="text" class="form-control form-control-sm" formControlName="bandName" />

                    <small class="text-danger d-block mt-1" *ngIf="showErrors && bandForm.get('bandName')?.invalid">
                        Band Name is required
                    </small>
                </div>

            </div>

        </mat-card-content>

        <div class="d-flex justify-content-end mt-3">

            <div class="btn-1"
                style="display: flex; justify-content: flex-end; gap: 10px; width: 100%; padding-right: 7px;">

                <button type="button" (click)="onCancel()" style="border: none; border-radius: 7px; width: 80px; height: 30px;
                           cursor: pointer; background-color: #f0f0f0; color: black;">
                    Cancel
                </button>

                <button type="button" (click)="saveBandDetails()" style="border: none; border-radius: 7px; width: 80px; height: 30px;
                           cursor: pointer; background-color: blue; color: white;">
                    Save
                </button>

            </div>

        </div>

    </mat-card>
</form>