<div class="headerSOP">
        <div style="width: 50%;"> <img src="../../../assets/Forward File 1.svg" /><b class="customer-sop">Payroll
                        Input</b></div>
</div>
<div class="contentCategory">
        <div style="width: 100%;">
                <div class="Categorylist">
                        <ul class="horizontal-list">
                                <li><a [routerLink]="['/Master/inputmenu/onboarding']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Onboarding</a></li>
                                <li><a [routerLink]="['/Master/inputmenu/activation']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Activation & LWD</a></li>
                                <li><a [routerLink]="['/Master/inputmenu/unseize']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Unseize</a></li>
                                <li><a [routerLink]="['/Master/inputmenu/timesheet']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Timesheet</a></li>
                                <li><a [routerLink]="['/Master/inputmenu/invoiceaudit']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Invoice Audit</a></li>
                                <li><a [routerLink]="['/Master/inputmenu/increment']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Increment</a></li>
                                <li><a [routerLink]="['/Master/inputmenu/onetimeinput']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">One Time Input</a></li>
                                <li><a [routerLink]="['/Master/inputmenu/finalsubmission']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Final Submission</a></li>
                        </ul>
                </div>
        </div>
</div>
<router-outlet></router-outlet>