<form novalidate>
    <mat-card class="custom-card">
        <mat-card-header class="sticky-header">
            <br />
            <div
                style="color: #302CB3; font-size: 22px; font-family: Montserrat; font-weight: 700; padding-right: 370px;">
                Add Salary Advance Request
            </div>
            <span class="spacer"></span>
            <button mat-icon-button (click)="onClose()" class="no-border-icon">
                <mat-icon>close</mat-icon>
            </button>
        </mat-card-header>
        <!-- <br/> -->

        <mat-card-content>
            <div class="row g-3 mb-3">
                <!-- Row 1 -->
                <div class="col-md-4">
                    <label class="form-label text-muted small">Company Code</label>
                    <companyall (companyEmit)="handleCompanyEvent($event)"></companyall>

                </div>
                <div class="col-md-4">
                    <label class="form-label text-muted small">Pay Period</label>
                    <PayPeriod [selectedCompanyId]="selectedCompanyId" [payPeriodType]="payPeriodType"
                        (payperiodEmit)="handlePayperiodEvent($event)"></PayPeriod>
                </div>
                <div class="col-md-4">
                    <label class="form-label text-muted small">Employee Code</label>
                    <input class="form-control form-control-sm">


                </div>
            </div>

            <div class="row g-3 mb-3">
                <!-- Row 2 -->
                <div class="col-md-4">
                    <label class="form-label text-muted small">Pay Code</label>
                    <select class="form-select form-select-sm">
                        <option value="" disabled>Select</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label class="form-label text-muted small">Request Type</label>
                    <select class="form-select form-select-sm">
                        <option value="" disabled>Select</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label class="form-label text-muted small">Amount</label>
                    <input class="form-control form-control-sm">
                </div>
            </div>

            <div class="row g-3 mb-3">
                <!-- Row 4 -->
                <div class="col-md-4">
                    <label class="form-label text-muted small">No of Installments</label>
                    <input  class="form-control form-control-sm">
                </div>
            </div>
        </mat-card-content>

        <mat-card-footer class="footer">
            <div class="d-flex justify-content-end mt-3">
                <div class="btn-1"
                    style="display: flex; justify-content: flex-end; gap: 10px; width: 100%; padding-right: 7px;">
                    <button type="button"
                        style="border: none; border-radius: 7px; width: 80px; height: 30px; cursor: pointer; background-color: #f0f0f0;">
                        Cancel
                    </button>
                    <button type="submit"
                        style="border: none; border-radius: 7px; width: 80px; height: 30px; cursor: pointer; background-color: blue;">
                        Save
                    </button>
                </div>
            </div>
        </mat-card-footer>
    </mat-card>
</form>