.custom-input {
  width: 150px;
  height: 60px;
}

.custom-input .mat-form-field-wrapper {
  padding-bottom: 0px;
}

.custom-input .mat-form-field-flex {
  height: 10px;
}

.custom-input .mat-input-element {
  height: 10px;
  padding: 1px 2px;
  font-size: 14px;
}

.custom-input .mat-form-field-underline {
  bottom: 0px;
}

.custom-input .mat-form-field-subscript-wrapper {
  display: none;
}

.btn-search {
  background-color: #0d6efd;
  color: #fff;
}

.btn-add {
  background-color: #28a745;
  color: #fff;
}

.btn-edit {
  background-color: #fd7e14;
  color: #fff;
}

.btn-upload {
  background-color: #6f42c1;
  color: #fff;
}

.btn-download {
  background-color: #20c997;
  color: #fff;
}

.btn-add:hover {
  background-color: #218838;
}

.btn-delete {
  background-color: #dc3545;
  color: white;
}

.btn-delete:hover {
  background-color: #c82333;
}


.mat-footer-paginator {
  position: sticky;
  bottom: 0;
  width: 100%;
  background: white;
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
  z-index: 100;
}


.table-wrapper {
  display: flex;
  width: 702px;
  flex-direction: column;
  gap: 8px;
  padding-top: 20px;
}


.fixed-width-column {
  width: 50px;
  min-width: 50px;
  max-width: 75px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.custom-table {
  background: white;
  width: 100%;
  overflow: auto;
  border: 1px solid #ddd;
}

::ng-deep .mat-elevation-z8 {
  box-shadow: none !important;
}


::ng-deep .mat-mdc-header-cell {
  color: #000000;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 19.4px;
  border-right: 1px solid #ddd;
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
}


::ng-deep .mat-mdc-cell {
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 550;
  line-height: 22.4px;
  letter-spacing: 0.24px;
  color: #222;
  border-bottom: 1px dashed #E8E8E8 !important;
  border-right: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
}


.table-scroll {
  max-height: 450px;
  overflow-y: auto;
  overflow-x: auto;

}

::ng-deep .mat-mdc-header-cell.mat-column-state,
::ng-deep .mat-mdc-cell.mat-column-state {
  width: 90px !important;
  min-width: 90px !important;
  max-width: 90px !important;

  padding-left: 4px !important;
  padding-right: 4px !important;

  text-align: center;
  justify-content: center;
  white-space: nowrap;
}

::ng-deep .mat-mdc-header-cell.mat-column-EffectiveDate,
::ng-deep .mat-mdc-cell.mat-column-EffectiveDate {
  width: 180px !important;
  /* 👈 fits 03-Dec-2025 */
  min-width: 180px !important;
  max-width: 180px !important;
  padding: 0 6px !important;
  text-align: center;
  justify-content: center;
  white-space: nowrap;
}

/* Group Name column */
::ng-deep .mat-mdc-header-cell.mat-column-Group_name,
::ng-deep .mat-mdc-cell.mat-column-Group_name {
  width: 180px !important;
  /* adjust width as needed */
  min-width: 180px !important;
  max-width: 180px !important;
  padding: 0 6px !important;
  text-align: center;
  justify-content: center;
  white-space: nowrap;
}

/* Company Name column */
::ng-deep .mat-mdc-header-cell.mat-column-company_name,
::ng-deep .mat-mdc-cell.mat-column-company_name {
  width: 250px !important;
  /* adjust width as needed */
  min-width: 250px !important;
  max-width: 250px !important;
  padding: 0 8px !important;
  text-align: center;
  justify-content: center;
  white-space: nowrap;
}



::ng-deep .mat-header-row {
  position: sticky;
  top: 0;
  background: white;
  z-index: 10;
}





.previewtable {
  width: 100%;
  table-layout: fixed;

  border-collapse: collapse;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 600;
  line-height: 22.4px;
  letter-spacing: 0.24px;
  color: #7E7E7E;
  border: 1px solid #E8E8E8;
}


.previewtable th,
.previewtable td {
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 600;
  line-height: 22.4px;
  letter-spacing: 0.24px;
  padding: 8px;
  border: 1px solid #E8E8E8;
  text-align: left;
  white-space: nowrap;
  max-width: 120px;
  /* 👈 COLUMN WIDTH */
  overflow: hidden;
  text-overflow: ellipsis;
}

.previewtable th:nth-child(2),
.previewtable td:nth-child(2) {
  max-width: 40px;
}


.previewtable th {
  background-color: #f9f9f9;
  color: #A0A0A0;
}


.clickable-row {
  cursor: pointer;
}

.clickable-row:hover {
  background-color: #f0f4ff;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}

.form-column {
  flex: 1;
}

.form-label {
  font-size: 12px !important;
  color: #222 !important;
}


.radio-options-container {
  display: flex;
  gap: 24px;
  align-items: center;
  flex-wrap: wrap;
}

.checkboxradio-button {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

.radio-inline {
  display: flex;
  gap: 20px;
  align-items: center;
}

::ng-deep .mat-radio-label-content {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #302CB3;
}


.loading-overlay {
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}


.centered-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2200;
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2100;
}

.card-body {
  width: 100%;
  display: flex;
  gap: 15px;
  padding: 0px !important;
}

::ng-deep .mat-mdc-table {
  display: table !important;
  table-layout: auto !important;
  width: max-content !important;
  min-width: 100% !important;
}

::ng-deep .mat-mdc-header-row,
::ng-deep .mat-mdc-row {
  display: table-row !important;
  height: 50px !important;
}

::ng-deep .mat-mdc-header-cell,
::ng-deep .mat-mdc-cell {
  display: table-cell !important;
  width: auto !important;
  white-space: nowrap;
}