<body>
       <div class="right-align">
        <div *ngIf="visibleDropdowns.includes(1)"
            style="width: 160px; height: 52px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
            <div
                style="width: 160px; height: 12.35px; color: var(--text-field-heading-, #89898B); font-size: 10px; font-family: Montserrat; font-weight: 500; word-wrap: break-word">
                Company Code</div>
            <div>
                <CompanyPicker (companyEmit)="handleCompanyEvent($event)"></CompanyPicker>
            </div>
        </div>
        <div *ngIf="visibleDropdowns.includes(2)"
            style="width: 160px; height: 52px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
            <div
                style="width: 160px; height: 12.35px; color: var(--text-field-heading-, #89898B); font-size: 10px; font-family: Montserrat; font-weight: 500; word-wrap: break-word">
                Pay Period</div>
            <div class="input-group">
                <PayPeriod [selectedCompanyId]="selectedCC" [payPeriodType]="payPeriodTypetoChild"
                    (payperiodEmit)="handlePayperiodEvent($event)"></PayPeriod>
            </div>
        </div>
        <div *ngIf="visibleDropdowns.includes(3)"
            style="width: 160px; height: 52px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
            <div
                style="width: 160px; height: 12.35px; color: var(--text-field-heading-, #89898B); font-size: 10px; font-family: Montserrat; font-weight: 500; word-wrap: break-word">
                Map Name</div>
            <div>
                <mapname [selectedCompanyId]="selectedCC" (mapnameEmit)="handleMapNameEvent($event)"></mapname>
            </div>
        </div>
        <div *ngIf="visibleDropdowns.includes(4)"
            style="width: 160px; height: 52px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
            <div
                style="width: 160px; height: 12.35px; color: var(--text-field-heading-, #89898B); font-size: 10px; font-family: Montserrat; font-weight: 500; word-wrap: break-word">
                Input Type</div>
            <div>
                <inputType (inputTypeEmit)="handleInputTypeEvent($event)"></inputType>
            </div>
        </div>
        <div *ngIf="visibleDropdowns.includes(5)"
            style="width: 160px; height: 52px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
            <div
                style="width: 160px; height: 12.35px; color: var(--text-field-heading-, #89898B); font-size: 10px; font-family: Montserrat; font-weight: 500; word-wrap: break-word">
                Group Name</div>
            <div>
                <groupname [selectedCompanyId]="selectedCC" (sitenameEmit)="handleGroupNameEvent($event)"></groupname>
            </div>
        </div>
        <div *ngIf="visibleDropdowns.includes(6)"
            style="width: 160px; height: 52px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
            <div
                style="width: 160px; height: 12.35px; color: var(--text-field-heading-, #89898B); font-size: 10px; font-family: Montserrat; font-weight: 500; word-wrap: break-word">
                City</div>
            <div>
                <city [selectedCompanyId]="selectedCN" [selectedGroupId]="selectedGN"
                    (citynameEmit)="handleCityEvent($event)"></city>
            </div>
        </div>
        <div *ngIf="showSearchButton"
            style="padding-top: 20px; width: 150px; height: 52px; flex-direction: column; align-items: flex-end; display: inline-flex">
            <button (click)="searchClick()"
                style="width: 130px; height: 30px; padding-left: 16px; padding-right: 16px; padding-top: 6px; padding-bottom: 6px; background: #302CB3; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20); border-radius: 6px; justify-content: center; align-items: center; gap: 10px; display: inline-flex; border: none;">
                <div
                    style="color: var(--background, #F5F5F5); font-size: 12px; font-family: Montserrat; font-weight: 600; line-height: 22.40px; letter-spacing: 0.24px; word-wrap: break-word">
                    Search</div>
            </button>
        </div>
    </div>
</body>