<div class="headerSOP">
        <div style="width: 50%;"> <img src="../../../assets/Forward File 1.svg" /><b class="customer-sop">Admin</b>
        </div>
</div>
<div class="contentCategory">
        <div style="width: 100%;">
                <div class="Categorylist">
                        <ul class="horizontal-list">
                                <!-- <li><a [routerLink]="['/Master/adminnavigation/companypermission']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }"></a>Company Permission</li> -->
                                
                                <li><a [routerLink]="['/Master/Admin/payperiodunlock']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Pay Period Unlock</a>
                                </li>
                        </ul>
                </div>
        </div>
</div>
<router-outlet></router-outlet>