<div class="headerSOP">
    <div style="width: 50%;"> <img src="../../../assets/Forward File 1.svg" /><b class="customer-sop">Bank Invoice
        </b></div>
</div>
<div class="contentCategory">
    <div style="width: 100%;">
        <div class="Categorylist">
            <ul class="horizontal-list">

                <li><a [routerLink]="['/Master/bankinvoicenavigation/bankadvicesplitculture']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">Bank Advice Split
                        Culture</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<router-outlet></router-outlet>