<div class="page-wrapper" style="padding-top: 10px;">
    <div class="scrollable-content">
        <mat-card-title style="color: #302CB3; font-size: 22px; font-family: Montserrat; font-weight: 600;">Perm
            Hire</mat-card-title>
        <div class="container py-2">
            <div class="row g-3 align-items-end">
                <div class="col-md-3">
                    <label class="form-label text-muted small">Company code</label>
                    <companyall (companyEmit)="handleCompanyEvent($event)"></companyall>
                </div>
                <div class="col-md-3">
                    <label class="form-label text-muted small" n style="white-space: nowrap;">Status</label>
                    <select>
                        <option>--select--</option>
                    </select>
                    <!-- <select class="form-select form-select-sm" [(ngModel)]="BusinessUnitNames">
                        <option *ngFor="let pay of BusinessUnit" [value]="pay.Entity_Id">{{pay.Entity_Name}}</option>
                    </select> -->
                </div>
                <div class="col-md-2 d-flex gap-2">
                    <button class="btn btn-sm d-flex align-items-center justify-content-center btn-search"
                        matTooltip="Search" (click)="onsearch()">
                        <mat-icon>search</mat-icon>
                    </button>
                    <button class="btn btn-secondary btn-sm d-flex align-items-center justify-content-center"
                        matTooltip="export to excel">
                        <mat-icon>download</mat-icon>
                    </button>
                    <button class="btn btn-sm d-flex align-items-center justify-content-center btn-upload"
                        matTooltip="import">
                        <mat-icon>cloud_upload</mat-icon>
                    </button>
                    <button class="btn btn-sm d-flex align-items-center justify-content-center btn-add" matTooltip="Add"
                        (click)="addOpen()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-end" style="padding-top: 10px; padding-right: 40px;"
            *ngIf="showTable">
            <!-- Search Box -->
            <div style="display: inline-flex; align-items: center;
                   border-radius: 10px;
               border: 1px solid #7E7E7E;
               width: 260px;
               height: 30px;
               background-color: white;
               padding: 0 10px;">
                <i style="margin-right: 6px; display: flex; align-items: center;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M8.30883 9.01596C7.539 9.63177 6.5625 10 5.5 10C3.01472 10 1 7.98528 1 5.5C1 3.01472 3.01472 1 5.5 1C7.98528 1 10 3.01472 10 5.5C10 6.56251 9.63176.53901 9.01594 8.30885L10.8535 10.1465C11.0488 10.3417 11.0488 10.6583 10.8535 10.8536C10.6583 11.0488 10.3417 11.0488 10.1464 10.8536L8.30883 9.01596ZM2 5.5C2 3.567 3.567 2 5.5 2C7.433 2 9 3.567 9 5.5C9 6.44299 8.62707 7.29888 8.02066 7.92823C8.00355 7.94139 7.98711 7.95579 7.97144 7.97146C7.95578 7.98712 7.94137 8.00357 7.92822 8.02067C7.29887 8.62708 6.44299 9 5.5 9C3.567 9 2 7.433 2 5.5Z"
                            fill="#7E7E7E" />
                    </svg>
                </i>
                <input type="text" [(ngModel)]="searchText" (keyup)="applyFilters()" placeholder="Search" style="border: none; outline: none; width: 100%;
                   font-size: 12px; background-color: transparent;" />
            </div>
        </div>
        <div class="table-wrapper1" *ngIf="showTable">
            <div class="table-scroll">
                <mat-table [dataSource]="dataSource" class="mat-elevation-z8 custom-table">

                    <!-- Action -->
                    <ng-container matColumnDef="action">
                        <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <button mat-icon-button style="border: none; background: none; color: inherit;"
                                (click)="openEdit(row)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button style="border: none; background: none; color: inherit;"
                                (click)="onDelete(row)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>
                    <!-- 🔹 Sl.No -->
                    <ng-container matColumnDef="slNo">
                        <mat-header-cell *matHeaderCellDef>Sl.No</mat-header-cell>
                        <mat-cell *matCellDef="let row; let i = index">
                            {{ i + 1 }}
                        </mat-cell>
                    </ng-container>

                    <!-- 🔹 Pay Code -->
                    <ng-container matColumnDef="clientcode">
                        <mat-header-cell *matHeaderCellDef>Client Code</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.USERNAME }}</mat-cell>
                    </ng-container>

                    <!-- 🔹 Description -->
                    <ng-container matColumnDef="clientname">
                        <mat-header-cell *matHeaderCellDef>Client Name</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.EmployeeID }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="location">
                        <mat-header-cell *matHeaderCellDef>Location</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.COMPANY_CODE }}</mat-cell>
                    </ng-container>

                    <!-- 🔹 Pay Type -->
                    <ng-container matColumnDef="req_id">
                        <mat-header-cell *matHeaderCellDef>Req_Id</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.COMPANY_NAME }}</mat-cell>
                    </ng-container>

                    <!-- 🔹 Taxable -->
                    <ng-container matColumnDef="ref_id">
                        <mat-header-cell *matHeaderCellDef>Ref_Id</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.BUSINESS_UNIT_NAME }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="cand_id">
                        <mat-header-cell *matHeaderCellDef>Cand_Id</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.IS_PERMISSION? 'Yes' : 'No' }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="cand_name">
                        <mat-header-cell *matHeaderCellDef>Cand_Name</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.IS_PERMISSION? 'Yes' : 'No' }}</mat-cell>
                    </ng-container>


                    <ng-container matColumnDef="designation">
                        <mat-header-cell *matHeaderCellDef>Designation</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.IS_PERMISSION? 'Yes' : 'No' }}</mat-cell>
                    </ng-container>


                    <ng-container matColumnDef="doj">
                        <mat-header-cell *matHeaderCellDef>DOJ</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.IS_PERMISSION? 'Yes' : 'No' }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="vertical">
                        <mat-header-cell *matHeaderCellDef>Vertical</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.IS_PERMISSION? 'Yes' : 'No' }}</mat-cell>
                    </ng-container>


                    <ng-container matColumnDef="vh">
                        <mat-header-cell *matHeaderCellDef>VH</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.IS_PERMISSION? 'Yes' : 'No' }}</mat-cell>
                    </ng-container>


                    <ng-container matColumnDef="ctc">
                        <mat-header-cell *matHeaderCellDef>CTC</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.IS_PERMISSION? 'Yes' : 'No' }}</mat-cell>
                    </ng-container>


                    <ng-container matColumnDef="billablectc">
                        <mat-header-cell *matHeaderCellDef>Billable CTC</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.IS_PERMISSION? 'Yes' : 'No' }}</mat-cell>
                    </ng-container>


                    <ng-container matColumnDef="branchcode">
                        <mat-header-cell *matHeaderCellDef>Branch Code</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.IS_PERMISSION? 'Yes' : 'No' }}</mat-cell>
                    </ng-container>


                    <ng-container matColumnDef="invoiceno">
                        <mat-header-cell *matHeaderCellDef>Invoice Number</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.IS_PERMISSION? 'Yes' : 'No' }}</mat-cell>
                    </ng-container>


                    <ng-container matColumnDef="invoicestate">
                        <mat-header-cell *matHeaderCellDef>Invoice State</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.IS_PERMISSION? 'Yes' : 'No' }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="totalamount">
                        <mat-header-cell *matHeaderCellDef>Total Invoice Amount</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.IS_PERMISSION? 'Yes' : 'No' }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="approval_status">
                        <mat-header-cell *matHeaderCellDef>Approval Status</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.IS_PERMISSION? 'Yes' : 'No' }}</mat-cell>
                    </ng-container>

                    <!-- Header Rows -->
                    <mat-header-row *matHeaderRowDef="uploadDisplayedColumns"></mat-header-row>

                    <!-- Data Rows -->
                    <mat-row *matRowDef="let row; columns: uploadDisplayedColumns"></mat-row>

                </mat-table>
            </div>

            <div *ngIf="dataSource.data.length === 0" class="text-center p-4">
                <p class="text-muted">No data to display</p>
            </div>

            <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                style="border: 1px solid #ddd;"></mat-paginator>
        </div>

    </div>
</div>
<div *ngIf="isAddclicked" class="popup-overlay" (keydown.escape)="closeclick()">
    <mat-card class="popup-card">
        <mat-card-header class="popup-header">
            <mat-card-title style="color: #302CB3; font-size: 22px; font-family: Montserrat; font-weight: 600;">
                {{ isEditMode ? 'Edit Perm Hire Master' : 'Add Perm Hire Master' }}
            </mat-card-title>
            <!-- <mat-card-title class="d-flex justify-content-center align-items-center">
                
            </mat-card-title> -->

            <button class="close-btn" matTooltip="Close" (click)="closeclick()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-card-header>
        <mat-card-content class="scroll-content">
            <form [formGroup]="addPermMaster" novalidate>
                <!-- Row 1 -->
                <div class="row g-3 mb-2">
                    <div class="col-md-4">
                        <label class="form-label text-muted small">Company Code</label>
                        <companyall (companyEmit)="handleCompanyEvent($event)" formControlName="companyCode">
                        </companyall>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label text-muted small" n style="white-space: nowrap;">VH</label>
                        <input type="text" class="form-control form-control-sm" formControlName="VH" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">PAN<span class="text-danger"></span></label>
                        <input type="text" class="form-control form-control-sm" formControlName="PAN" />
                    </div>

                    <div class="col-md-4">
                        <label class="form-label text-muted small">Client Name</label>
                        <input type="text" class="form-control form-control-sm" formControlName="Clientname" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label text-muted small" n style="white-space: nowrap;">CTC</label>
                        <input type="text" class="form-control form-control-sm" formControlName="Ctc" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Aadhar<span class="text-danger"></span></label>
                        <input type="text" class="form-control form-control-sm" formControlName="aadhar" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label text-muted small">Client Employee Code</label>
                        <input type="text" class="form-control form-control-sm" formControlName="Clientemployeecode" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label text-muted small" n style="white-space: nowrap;">Billable_CTC</label>
                        <input type="text" class="form-control form-control-sm" formControlName="billableCtc" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Mobile Number<span class="text-danger"></span></label>
                        <input type="text" class="form-control form-control-sm" formControlName="mobileNo" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label text-muted small">Req Id</label>
                        <input type="text" class="form-control form-control-sm" formControlName="reqId" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label text-muted small" n style="white-space: nowrap;">Contract Type</label>
                        <input type="text" class="form-control form-control-sm" formControlName="contractType" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">State<span class="text-danger"></span></label>
                        <input type="text" class="form-control form-control-sm" formControlName="state" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label text-muted small">Ref Id</label>
                        <input type="text" class="form-control form-control-sm" formControlName="refId" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label text-muted small" n style="white-space: nowrap;">Branch Code</label>
                        <input type="text" class="form-control form-control-sm" formControlName="branchCode" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Job Category<span class="text-danger"></span></label>
                        <input type="text" class="form-control form-control-sm" formControlName="jobCategory" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label text-muted small">Cand Id</label>
                        <input type="text" class="form-control form-control-sm" formControlName="CandId" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label text-muted small" n style="white-space: nowrap;">Invoice Number</label>
                        <input type="text" class="form-control form-control-sm" formControlName="invoiceNo" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Job Sub Category<span class="text-danger"></span></label>
                        <input type="text" class="form-control form-control-sm" formControlName="jobSubCategory" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label text-muted small">Cand Name</label>
                        <input type="text" class="form-control form-control-sm" formControlName="candName" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label text-muted small" n
                            style="white-space: nowrap;">Tot_Invoice_Amount</label>
                        <input type="text" class="form-control form-control-sm" formControlName="totalAmount" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Placement Type<span class="text-danger"></span></label>
                        <input type="text" class="form-control form-control-sm" formControlName="placmenttype" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label text-muted small">Designation</label>
                        <input type="text" class="form-control form-control-sm" formControlName="designation" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label text-muted small" n style="white-space: nowrap;">Invoice State</label>
                        <input type="text" class="form-control form-control-sm" formControlName="invoiceState" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Year Experience<span class="text-danger"></span></label>
                        <input type="text" class="form-control form-control-sm" formControlName="yaerExperience" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label text-muted small">DOJ</label>
                        <input type="text" class="form-control form-control-sm" formControlName="doj" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label text-muted small" n style="white-space: nowrap;">GST_No</label>
                        <input type="text" class="form-control form-control-sm" formControlName="gstNo" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Approved/Rejected BY<span class="text-danger"></span></label>
                        <input type="text" class="form-control form-control-sm" formControlName="approveBy" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label text-muted small">Vertical</label>
                        <input type="text" class="form-control form-control-sm" formControlName="vertical" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label text-muted small" n style="white-space: nowrap;">Status</label>
                        <input type="text" class="form-control form-control-sm" formControlName="status" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Approved/Rejected Remarks<span class="text-danger"></span></label>
                        <input type="text" class="form-control form-control-sm" formControlName="approveRemarks" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label text-muted small">Joining Days</label>
                        <input type="text" class="form-control form-control-sm" formControlName="joiningdays" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label text-muted small" n style="white-space: nowrap;">City</label>
                        <input type="text" class="form-control form-control-sm" formControlName="city" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Approval Status<span class="text-danger"></span></label>
                        <input type="text" class="form-control form-control-sm" formControlName="approvalStatus" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label text-muted small">Gender</label>
                        <input type="text" class="form-control form-control-sm" formControlName="gender" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label text-muted small" n style="white-space: nowrap;">DOB</label>
                        <input type="text" class="form-control form-control-sm" formControlName="dob" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Offer Approval Raised by Recruiter<span
                                class="text-danger"></span></label>
                        <input type="text" class="form-control form-control-sm" formControlName="offerApproval" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label text-muted small">Job Code</label>
                        <input type="text" class="form-control form-control-sm" formControlName="jobcode" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label text-muted small" n style="white-space: nowrap;">Consultant</label>
                        <input type="text" class="form-control form-control-sm" formControlName="consultant" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Entity Id<span class="text-danger"></span></label>
                        <input type="text" class="form-control form-control-sm" formControlName="entityId" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label text-muted small">Requested On</label>
                        <input type="date" class="form-control form-control-sm" formControlName="requestedOn" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label text-muted small" n style="white-space: nowrap;">Recruiter Employee
                            ID</label>
                        <input type="text" class="form-control form-control-sm" formControlName="recruiterEmployeeId" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Input Number<span class="text-danger"></span></label>
                        <input type="text" class="form-control form-control-sm" formControlName="inputNo" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label text-muted small">Is PO Applicable</label>
                        <input type="text" class="form-control form-control-sm" formControlName="isPoApllicable" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label text-muted small" style="white-space: nowrap;">Updated Date</label>
                        <input type="date" class="form-control form-control-sm" formControlName="updatedDate" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Organisation Head<span class="text-danger"></span></label>
                        <input type="text" class="form-control form-control-sm" formControlName="organisationHead" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label text-muted small">Location</label>
                        <input type="text" class="form-control form-control-sm" formControlName="location" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label text-muted small" n style="white-space: nowrap;">PO Number</label>
                        <input type="text" class="form-control form-control-sm" formControlName="poNumber" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Cost Center<span class="text-danger"></span></label>
                        <input type="text" class="form-control form-control-sm" formControlName="costCenter" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label text-muted small">Business Unit</label>
                        <input type="text" class="form-control form-control-sm" formControlName="businessUnit" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label text-muted small" n style="white-space: nowrap;">Hiring Manager</label>
                        <input type="text" class="form-control form-control-sm" formControlName="HiringManager" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Band Grade Level<span class="text-danger"></span></label>
                        <input type="text" class="form-control form-control-sm" formControlName="bandGradelevel" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label text-muted small">Personal Number</label>
                        <input type="text" class="form-control form-control-sm" formControlName="personalNo" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label text-muted small" n
                            style="white-space: nowrap;">Rccode_Ranumber</label>
                        <input type="text" class="form-control form-control-sm" formControlName="ranumber" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Applicant Id<span class="text-danger"></span></label>
                        <input type="text" class="form-control form-control-sm" formControlName="applicantId" />
                    </div>
                </div>
            </form>

        </mat-card-content>
        <mat-card-footer class="footer">
            <div class="d-flex justify-content-end mt-3">
                <div class="btn-1"
                    style="display: flex; justify-content: flex-end; gap: 10px; width: 100%; padding-right: 7px;">

                    <button type="Cancel"
                        style="border: none; border-radius: 7px; width: 80px; height: 30px; cursor: pointer; background-color: #f0f0f0; color: black;"
                        (click)="closeclick()">
                        Cancel
                    </button>

                    <button type="submit"
                        style="border: none; border-radius: 7px; width: 80px; height: 30px; cursor: pointer; background-color: blue; color: white; ">
                        {{ isEditMode ? 'Update' : 'Save' }}
                    </button>
                </div>
            </div>
        </mat-card-footer>

    </mat-card>
</div>

<div *ngIf="isLoading" class="loading-overlay">
    <img src="assets/Loading.gif" alt="Loading...">
</div>