<br />
<div class="page-wrapper">

    <div class="scrollable-content">

        <div style="color: #302CB3; font-size: 22px; font-family: Montserrat; font-weight: 700; min-width: 960px">
            Pay Register Upload
        </div>
        <form>

            <div class="container py-2">
                <div class="row g-3 align-items-end">
                    <div class="col-md-2">
                        <label class="form-label text-muted small">Company Code</label>
                        <companyall (companyEmit)="handleCompanyEvent($event)"></companyall>
                        <!-- <input type="text" class="form-control form-control-sm" formControlName="CompanyCode" /> -->
                        <!-- <select class="form-select form-select-sm" formControlName="CompanyCode">
                            <option value="">--Select--</option> -->
                        <!-- <option *ngFor="let pay of paytype" [value]="pay.PayType_Id">{{pay.PayType}}</option> -->
                        <!-- </select> -->
                    </div>
                    <div class="col-md-2">
                        <label class="form-label text-muted small">Pay Period</label>
                        <PayPeriod [selectedCompanyId]="selectedCompanyId" [payPeriodType]="payPeriodType"
                            (payperiodEmit)="handlePayperiodEvent($event)"></PayPeriod>
                        <!-- <select class="form-select form-select-sm" formControlName="PayPeriod">
                            <option value="">--Select--</option> -->
                        <!-- <option *ngFor="let pay of paytype" [value]="pay.PayType_Id">{{pay.PayType}}</option> -->
                        <!-- </select> -->
                    </div>
                    <div class="col-md-2 d-flex gap-2">
                        <button class="btn btn-sm d-flex align-items-center justify-content-center"
                            matTooltip="export to excel" (click)="exportToExcel()">
                            <mat-icon>table_chart</mat-icon>
                        </button>
                        <button class="btn btn-sm d-flex align-items-center justify-content-center" matTooltip="import"
                            (click)="ImportClick(fileInput)">
                            <mat-icon>cloud_upload</mat-icon>
                        </button>
                        <button class="btn btn-sm d-flex align-items-center justify-content-center"
                            matTooltip="download" (click)="DownloadTemplate()">
                            <mat-icon>cloud_download</mat-icon>
                        </button>
                    </div>
                    <input type="file" #fileInput style="display: none;" (click)="fileInput.value=''"
                        (change)="onFileChange($event)" accept=".xlsx, .xls" />

                </div>
            </div>
        </form>

        <br />

    </div>
</div>
<div *ngIf="isLoading" class="loading-overlay">
    <img src="assets\Loading.gif" alt="Loading...">
</div>

<app-alertpopup *ngIf="showPopup" [message]="popupMessage" [submessage]="popupSubMessage" class="centered-popup"
    (close)="showPopup = false">
</app-alertpopup>