<div class="headerSOP">
</div>
<div class="contentCategory">
    <div style="width: 100%;">
        <div class="Categorylist">
            <ul class="horizontal-list">
                <li><a [routerLink]="['/Master/inputaggregator/inputaggregatorattendance']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">Billing
                        Aggergator</a>
                </li>
                <!-- <li><a [routerLink]="['/Master/inputaggregator/leavemastermapping']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">Leave Master
                        Mapping</a>
                </li>
                <li><a [routerLink]="['/Master/inputaggregator/miscpaycodemapping']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">MISC Paycode
                        Mapping</a>
                </li>
                <li><a [routerLink]="['/Master/inputaggregator/leavecategory']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">Leave Category</a>
                </li> -->
            </ul>
        </div>
    </div>
</div>
<router-outlet></router-outlet>