<div class="headerSOP">
</div>
<div class="contentCategory">
    <div style="width: 100%;">
        <div class="Categorylist">
            <ul class="horizontal-list">
                <li><a [routerLink]="['/Master/inputaggregator/inputaggregatorattendance']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">Input
                        Aggergator</a>
                </li>
                <li><a [routerLink]="['/Master/inputaggregator/billingaggregator']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">Billing
                        Aggergator</a>
                </li>

                <li><a [routerLink]="['/Master/inputaggregator/leavemaster']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">Leave Master</a>
                </li>

            </ul>
        </div>
    </div>
</div>
<router-outlet></router-outlet>