<mat-card class="custom-card">
    <mat-card-header class="sticky-header">
        <mat-card-title style="color: #302CB3; font-size: 22px; font-family: Montserrat; font-weight: 700;">Edit
            Bank</mat-card-title>
        <span class="spacer"></span>
        <button mat-icon-button (click)="onClose()" class="no-border-icon">
            <mat-icon>close</mat-icon>
        </button>
    </mat-card-header>

    <mat-card-content>
        <form [formGroup]="EditbankForm" novalidate>
            <div class="row g-2 mb-2">
                <div class="col-md-12">
                    <label class="form-label">Bank Name<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" formControlName="Bank_Name" />
                    <div class="text-danger small" *ngIf="EditbankForm.get('Bank_Name')?.touched 
             && EditbankForm.get('Bank_Name')?.hasError('required')">
                        BankName is required
                    </div>
                    <!-- <select class="form-select" formControlName="POCategory">
                        <option value="">-- Select --</option>
                    </select> -->
                </div>

                <!-- <div class="col-md-4">
                    <label class="form-label">Bank A/C Digit<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" formControlName="BankA/CDigit" />
                    <select class="form-select" formControlName="POCategory">
                        <option value="">-- Select --</option>
                    </select>
                </div> -->
                <!-- <div class="col-md-4">
                    <label class="form-label">IFSC Code Applicable<span class="text-danger"></span></label>
                    <input type="text" class="form-control" formControlName="CriteriaType" />

                    <select class="form-select" formControlName="IFSCCodeApplicable">
                        <option value="">-- Select --</option>
                    </select>
                </div> -->
            </div>
            <!-- Row 2 -->
            <div class="row g-2 mb-2">
                <div class="col-md-12">
                    <label class="form-label">
                        Bank A/C Digit<span class="text-danger">*</span>
                    </label>
                    <div class="d-flex">
                        <select class="form-select me-2" style="width: 40%;" formControlName="Digit_Length_Condition">
                            <option value="">Select</option>
                            <option value=">">&gt;</option>
                            <option value="<">&lt;</option>
                            <option value="=">=</option>
                            <option value=">=">&ge;</option>
                            <option value="<=">&le;</option>
                        </select>
                        <input type="number" class="form-control" formControlName="Bank_Account_Number_Digits" min="0"
                            max="999" style="width: 80px;" />
                    </div>
                    <div class="text-danger small" *ngIf="EditbankForm.get('Digit_Length_Condition')?.touched 
             && EditbankForm.get('Digit_Length_Condition')?.hasError('required')">
                        Digit length is required
                    </div>
                </div>
            </div>
            <div class="row g-2 mb-2">
                <div class="col-md-12">
                    <label class="form-label">Swift Code<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" formControlName="Swift_Code" />
                    <div class="text-danger small" *ngIf="EditbankForm.get('Swift_Code')?.touched 
             && EditbankForm.get('Swift_Code')?.hasError('required')">
                        SwiftCode is required
                    </div>
                    <!-- <select class="form-select" formControlName="POCategory">
                        <option value="">-- Select --</option>
                    </select> -->
                </div>
            </div>
        </form>
    </mat-card-content>
    <mat-card-actions style="float:right;">
        <div class="d-flex justify-content-end mt-3">
            <div class="btn-1"
                style="display: flex; justify-content: flex-end; gap: 10px; width: 100%; padding-right: 7px;">

                <button type="Cancel"
                    style="border: none; border-radius: 7px; width: 80px; height: 30px; cursor: pointer; background-color: #f0f0f0; color: black;"
                    (click)="onClose()">
                    Cancel
                </button>

                <button type="submit"
                    style="border: none; border-radius: 7px; width: 80px; height: 30px; cursor: pointer; background-color: blue; color: white; "
                    (click)="Save()">
                    Save
                </button>
            </div>
        </div>
    </mat-card-actions>
</mat-card>
<div *ngIf="isLoading" class="loading-overlay">
    <img src="assets/Loading.gif" alt="Loading...">
</div>

<div *ngIf="showPopup" class="overlay">
    <app-alertpopup *ngIf="showPopup" [message]="popupMessage" class="centered-popup"
        (close)="showPopup = false"></app-alertpopup>
</div>