<div class="headerSOP">
    <div style="width: 50%;"> <img src="../../../assets/Forward File 1.svg" /><b class="customer-sop">Process
        </b></div>
</div>
<div class="contentCategory">
    <div style="width: 100%;">
        <div class="Categorylist">
            <ul class="horizontal-list">
                <li><a [routerLink]="['/Master/process/reprocess']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">Payroll Process</a>
                </li>
                <li><a [routerLink]="['/Master/process/attendance']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">Attendance</a>
                </li>
                <li><a [routerLink]="['/Master/process/arrearattendance']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">Arrear Attendance</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<router-outlet></router-outlet>