<div class="headerSOP">
    <div style="width: 50%;"> <img src="../../../assets/Forward File 1.svg" /><b class="PermHire-sop">PermHire</b>
    </div>
</div>
<div class="contentCategory">
    <div style="width: 100%;">
        <div class="Categorylist">
            <ul class="horizontal-list">
                <li><a [routerLink]="['/Master/PermHire/permhiremaster']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">Perm Hire
                        Approval</a>
                </li>
                <li><a [routerLink]="['/Master/PermHire/PermhireRequest']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">Perm Hire
                        Request</a>
                </li>
                <li><a [routerLink]="['/Master/PermHire/permhiremasterservicechargetype']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">Perm Hire Service
                        Charge
                        Type</a>
                </li>
                <li><a [routerLink]="['/Master/PermHire/jobcategory']" class="nav-link" routerLinkActive="selectedInput"
                        [routerLinkActiveOptions]="{ exact: true }">Job Category</a>
                </li>
                <li><a [routerLink]="['/Master/PermHire/permhirejobsubjobcategory']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">Perm Hire Job Sub
                        Category</a>
                </li>
                <li><a [routerLink]="['/Master/PermHire/PermHireServiceCharge']" class="nav-link"
                        routerLinkActive="selectedInput"
                        [routerLinkActiveOptions]="{ exact: true }">Perm Hire Service Charge</a>
                </li>
                <li><a [routerLink]="['/Master/PermHire/PermHireQRSInvoiceInitiation']" class="nav-link"
                        routerLinkActive="selectedInput"
                        [routerLinkActiveOptions]="{ exact: true }">Perm Hire QRS Invoice Initiation</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<router-outlet></router-outlet>