<div class="page-wrapper" style="padding-top: 10px;">
    <div class="scrollable-content">
        <mat-card-title style="color: #302CB3; font-size: 22px; font-family: Montserrat; font-weight: 600;">
            Leave Master Mapping
        </mat-card-title>
        <div class="container py-2">
            <div class="row g-3 align-items-end">
                <div class="col-md-3">
                    <label class="form-label text-muted small">Comapny Code</label>
                    <CompanyPicker (companyEmit)="handleCompanyEvent($event)"></CompanyPicker>
                    <!-- <inputaggregatoronboarding [visibleDropdowns]="[1, 5]" [showSearchButton]="true"
                        (companyUI)="handleCompanyEvent($event)" (searchClicked)="handleSearchattendance()"
                        (Finalsubmitted)="Finalsubmissionclick()" (sitenameUI)="handleSiteNameEvent($event)">
                    </inputaggregatoronboarding> -->
                </div>

                <div class="col-md-3">
                    <label class="form-label text-muted small">Group Name</label>
                    <groupname [selectedCompanyId]="companyUI?.companyId" (sitenameEmit)="handleSiteNameEvent($event)">
                    </groupname>
                    <!-- <inputaggregatoronboarding [visibleDropdowns]="[1, 5]" [showSearchButton]="true"
                        (companyUI)="handleCompanyEvent($event)" (searchClicked)="handleSearchattendance()"
                        (Finalsubmitted)="Finalsubmissionclick()" (sitenameUI)="handleSiteNameEvent($event)">
                    </inputaggregatoronboarding> -->
                </div>


                <div class="col-md-2 d-flex gap-2">
                    <button class="btn btn-sm d-flex align-items-center justify-content-center btn-search"
                        matTooltip="Search" (click)="handleSearch()">
                        <mat-icon>search</mat-icon>
                    </button>
                    <button class="btn btn-secondary btn-sm d-flex align-items-center justify-content-center"
                        matTooltip="export to excel" (click)="exportToExcel()">
                        <mat-icon>download</mat-icon>
                    </button>

                    <button class="btn btn-sm d-flex align-items-center justify-content-center btn-add" matTooltip="Add"
                        (click)="openAddPopup()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-end" style="padding-top: 10px; padding-right: 40px;"
            *ngIf="isshowtable">
            <!-- Search Box -->
            <div style="display: inline-flex; align-items: center;
                   border-radius: 10px;
               border: 1px solid #7E7E7E;
               width: 260px;
               height: 30px;
               background-color: white;
               padding: 0 10px;">
                <i style="margin-right: 6px; display: flex; align-items: center;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M8.30883 9.01596C7.539 9.63177 6.5625 10 5.5 10C3.01472 10 1 7.98528 1 5.5C1 3.01472 3.01472 1 5.5 1C7.98528 1 10 3.01472 10 5.5C10 6.56251 9.63176.53901 9.01594 8.30885L10.8535 10.1465C11.0488 10.3417 11.0488 10.6583 10.8535 10.8536C10.6583 11.0488 10.3417 11.0488 10.1464 10.8536L8.30883 9.01596ZM2 5.5C2 3.567 3.567 2 5.5 2C7.433 2 9 3.567 9 5.5C9 6.44299 8.62707 7.29888 8.02066 7.92823C8.00355 7.94139 7.98711 7.95579 7.97144 7.97146C7.95578 7.98712 7.94137 8.00357 7.92822 8.02067C7.29887 8.62708 6.44299 9 5.5 9C3.567 9 2 7.433 2 5.5Z"
                            fill="#7E7E7E" />
                    </svg>
                </i>
                <input type="text" [(ngModel)]="searchText" (keyup)="applyFilter()" placeholder="Search"
                    style="border: none; outline: none; width: 80%; font-size: 12px; background-color: transparent;" />
            </div>
        </div>
        <div class="table-wrapper1" *ngIf="isshowtable">
            <div class="table-scroll">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 custom-table">

                    <!-- Delete Column -->
                    <ng-container matColumnDef="delete">
                        <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
                        <mat-cell *matCellDef="let row" (click)="deleterow(row)">
                            <button class="edit">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>

                    <!-- Company Code Column -->
                    <ng-container matColumnDef="companycode">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Company Code </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{ row.companycode }} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="groupname">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Group Name </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{ row.groupname }} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="groupdetailid">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> groupdetailid </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{ row.groupdetailid }} </mat-cell>
                    </ng-container>

                    <!-- Attendance Type Column -->
                    <ng-container matColumnDef="attendancetype">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Attendance Type </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{ row.attendancetype }} </mat-cell>
                    </ng-container>

                    <!-- Leave Type Column -->
                    <ng-container matColumnDef="leaveType">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Leave Type </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{ row.leaveType }} </mat-cell>
                    </ng-container>

                    <!-- Leave Treat Type Column -->
                    <ng-container matColumnDef="leavetreattype">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Leave Treat Type </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{ row.leavetreattype }} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="leavepolicy">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Leave Policy </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{ row.leavePolicy }} </mat-cell>
                    </ng-container>

                    <!-- Header & Row -->
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

                </table>
            </div>

            <div *ngIf="dataSource.data.length === 0" class="text-center p-4">
                <p class="text-muted">No data to display</p>
            </div>

            <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                style="border: 1px solid #ddd;"></mat-paginator>
        </div>

    </div>
</div>
<div *ngIf="showAddPopup" class="popup-overlay" (keydown.escape)="closeAddPopup()">
    <mat-card class="popup-card">
        <mat-card-header class="popup-header">
            <mat-card-title style="color: #302CB3; font-size: 22px; font-family: Montserrat; font-weight: 600;">
                {{isEditMode?'Edit Leave Type Mapping' : 'Add Leave Type Mapping' }}
            </mat-card-title>

            <button class="close-btn" matTooltip="Close" (click)="closeAddPopup()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-card-header>
        <mat-card-content class="scroll-content">

            <!-- Row 1 -->
            <div class="row g-3 mb-3">
                <div class="col-md-3">
                    <label class="form-label text-muted small">
                        Attendance Type <span style="color:red">*</span>
                    </label>
                    <select class="form-control form-control-sm" [(ngModel)]="attendanceType">
                        <option value="">Select</option>
                        <option [value]="1">Consolidated</option>
                        <option [value]="2">Time Sheet</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label class="form-label text-muted small">
                        Leave Type <span style="color:red">*</span>
                    </label>
                    <select class="form-control form-control-sm" [(ngModel)]="selectedLeaveId">
                        <option value="">Select</option>
                        <option *ngFor="let leave of LEAVETYPES" [value]="leave.LEAVE_TYPE_ID">
                            {{ leave.LEAVE_TYPE_NAME }} - {{ leave.LEAVE_TYPE_DESCRIPTION}}
                        </option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label class="form-label text-muted small">
                        Leave Treat Type <span style="color:red">*</span>
                    </label>
                    <select class="form-control form-control-sm" [(ngModel)]="selectedTreatTypeId">
                        <option value="">Select</option>
                        <option *ngFor="let treat of QuessLEAVETYPES" [value]="treat.LEAVE_ID">
                            {{ treat.LEAVE_NAME }}
                        </option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label class="form-label text-muted small">
                        Is Active <span style="color:red">*</span>
                    </label>
                    <select class="form-control" [(ngModel)]="isActive">
                        <option value="">Select</option>
                        <option [ngValue]="1">Yes</option>
                        <option [ngValue]="0">No</option>
                    </select>
                </div>
            </div>
            <div class="row g-3 mb-3">

                <div class="col-md-3">
                    <label class="form-label text-muted small">
                        Leave Policy <span style="color:red">*</span>
                    </label>
                    <select class="form-control form-control-sm" [(ngModel)]="selectedleavepolicy">
                        <option value="">Select</option>
                        <option *ngFor="let item of leavepolicy" [value]="item.Leavevariantsid">
                            {{ item.leavetype }}
                        </option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label class="form-label text-muted small">
                        Buffer Days
                    </label>
                    <input type="date" class="form-control" [(ngModel)]="bufferDay" />
                </div>
            </div>

        </mat-card-content>
        <mat-card-footer class="footer">
            <div class="d-flex justify-content-end mt-3">
                <div class="btn-1"
                    style="display: flex; justify-content: flex-end; gap: 10px; width: 100%; padding-right: 7px;">

                    <button type="Cancel"
                        style="border: none; border-radius: 7px; width: 80px; height: 30px; cursor: pointer; background-color: #f0f0f0; color: black;"
                        (click)="closeAddPopup()">
                        Cancel
                    </button>

                    <button type="submit"
                        style="border: none; border-radius: 7px; width: 80px; height: 30px; cursor: pointer; background-color: blue; color: white; "
                        (click)="saveLeavequessType()">
                        {{ isEditMode ? 'Update' : 'Save' }}
                    </button>
                </div>
            </div>
        </mat-card-footer>

    </mat-card>
</div>


<div *ngIf="isLoading" class="loading-overlay">
    <img src="assets/Loading.gif" alt="Loading...">
</div>