<div *ngIf="showPopup" class="overlay">
    <app-alertpopup *ngIf="showPopup" [message]="popupMessage" [submessage]="popupSubMessage" class="centered-popup"
        (close)="showPopup = false"></app-alertpopup>
</div>

<div *ngIf="isLoading" class="loading-overlay">
    <img src="assets/Loading.gif" alt="Loading...">
</div>

<div class="row gap-3 py-2">
    <div class="justify-content-between align-items-center mb-3">
        <mat-card-title
            style="color: #302CB3; font-size: 22px; font-family: Montserrat; font-weight: 600;padding-left: 12px;">
            Download Batch</mat-card-title>
        <div class="container py-2">
            <div class="row g-3 align-items-end">
                <div class="col-md-3">
                    <label class="form-label text-muted small">Batch Date<span class="text-danger">*</span></label>
                    <input class="form-control form-control-sm" type="date" [(ngModel)]="BatchDate" name="BatchDate" />
                </div>
                <div class="col-md-3">
                    <label class="form-label text-muted small">Batch Id<span class="text-danger">*</span></label>
                    <select class="form-select form-select-sm" [(ngModel)]="BatchId" name="BatchId">
                        <option value="">Select</option>
                        <option *ngFor="let bid of getId" [value]="bid.batchId">{{ bid.batchId }}</option>
                    </select>
                </div>
                <div class="col-md-3 d-flex gap-2 button-group">
                    <button class="btn btn-sm d-flex align-items-center justify-content-center btn-secondary"
                        matTooltip="Download" (click)="downloadBatchFile()">
                        <mat-icon>download</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>