<div class="page-wrapper" style="padding-top: 2%;">
    <div class="scrollable-content">

        <mat-card-title style="color: #302CB3; font-size: 22px; font-family: Montserrat; font-weight: 700">
            Bank Details
        </mat-card-title>
        <div class="container py-2">
            <div class="row g-3 align-items-end">
                <div class="col-md-3">
                    <label class="form-label text-muted small">Bank Name</label>
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="bankName" name="bankName" />

                </div>
                <div class="col-md-2 d-flex gap-2">
                    <button class="btn  btn-sm d-flex align-items-center justify-content-center btn-search"
                        matTooltip="Search" (click)="onsearch()">
                        <mat-icon>search</mat-icon>
                    </button>
                    <button class="btn btn-sm d-flex align-items-center justify-content-center btn-secondary"
                        matTooltip="export to excel" (click)="exportToExcel()">
                        <mat-icon>download</mat-icon>
                    </button>
                    <button class="btn  btn-sm d-flex align-items-center justify-content-center btn-success"
                        matTooltip="Add" (click)="AddBankOpen()">
                        <mat-icon>add</mat-icon>
                    </button>

                </div>
            </div>
        </div>
        <div class="table-wrapper1" style="padding-top: 2%;" *ngIf="showTable">
            <div class="table-scroll">
                <mat-table [dataSource]="uploadedDataSource" matSort
                    class="custom-table mat-elevation-z8 auto-fit-table">

                    <ng-container matColumnDef="Action">
                        <mat-header-cell *matHeaderCellDef>
                            <div class="action-header">
                                <strong>Action</strong>
                            </div>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <div class="header">
                                <button class="btn btn-sm d-flex align-items-center justify-content-center"
                                    matTooltip="edit" (click)="openEdit(row)">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button class="btn btn-sm d-flex align-items-center justify-content-center"
                                    matTooltip="Delete" (click)="DeleteBankMaster(row)">
                                    <mat-icon>delete</mat-icon>
                                </button>

                            </div>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Bank_Id" style="display: none;">
                        <mat-header-cell *matHeaderCellDef><strong>Bank_Id</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.Bank_Id }}</mat-cell>
                    </ng-container>

                    <!-- 🔹 Sl.No -->
                    <ng-container matColumnDef="slNo">
                        <mat-header-cell *matHeaderCellDef class="SNo"><strong>Sl.No</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row" class="SNo">{{ row.Serial_No }}</mat-cell>
                    </ng-container>

                    <!-- 🔹 Bank Name -->
                    <ng-container matColumnDef="bankname">
                        <mat-header-cell *matHeaderCellDef><strong>Bank Name</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.Bank_Name }}</mat-cell>
                    </ng-container>

                    <!-- 🔹 Digit Length Condition -->
                    <ng-container matColumnDef="digitlengthcondition">
                        <mat-header-cell *matHeaderCellDef><strong>Digit Length Condition</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.Digit_Length_Condition }}</mat-cell>
                    </ng-container>

                    <!-- 🔹 Bank A/C Digit -->
                    <ng-container matColumnDef="bankacdigit">
                        <mat-header-cell *matHeaderCellDef><strong>Bank A/C Digit</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.Bank_Account_Number_Digits }}</mat-cell>
                    </ng-container>

                    <!-- 🔹 IFSC Treatment -->
                    <ng-container matColumnDef="swiftcode">
                        <mat-header-cell *matHeaderCellDef><strong>Swift Code</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.Swift_code }}</mat-cell>
                    </ng-container>



                    <mat-header-row *matHeaderRowDef="uploadDisplayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: uploadDisplayedColumns"></mat-row>
                </mat-table>
            </div>

            <!-- No data message -->
            <div *ngIf="uploadedDataSource.data.length === 0" class="text-center p-4">
                <p class="text-muted">No data to display</p>
            </div>

            <mat-paginator [length]="uploadedDataSource.data.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons aria-label="Select page">
            </mat-paginator>
        </div>
    </div>
</div>
<div *ngIf="isLoading" class="loading-overlay">
    <img src="assets/Loading.gif" alt="Loading...">
</div>


<app-alertpopup *ngIf="showPopup" [message]="popupMessage" [submessage]="popupSubMessage" class="centered-popup"
    (close)="closePopup()">
</app-alertpopup>