


<div style="position: relative;">
    <div class="page-title page-title-position">Netpay Summary</div>
    <app-bank-invoice [visibleDropdowns]="[1, 2]" [payPeriodTypefromParent]="payPeriodTypefromParent" [showExportButton]="true"  (exportClicked)="onTemplateClick()"
        (companyUI)="handleCompanyEvent($event)" (payperiodUI)="handlePayperiodEvent($event)">
    </app-bank-invoice>
</div>


<div *ngIf="isLoading" class="loading-overlay">
    <img src="assets\Loading.gif" alt="Loading...">
</div>