<!-- Add this somewhere in your Angular template/component -->

<div class="page-wrapper">

    <div class="scrollable-content">
        <div
            style="color: #302CB3; font-size: 22px; font-family: Montserrat; font-weight: 700; min-width: 800px; padding-left: 25px;padding-top: 8px;">
            LOP Adjustments
        </div>

        <div class="container-fluid g-1" style="min-width: 700px;">
            <div class="card-body g-1">
                <div class="row align-items-end">
                    <div class="col-md-3">
                        <label class="form-label text-muted small">Company Code<span
                                style="color: red;">*</span></label>
                        <companyall (companyEmit)="handleCompanyEvent($event)"></companyall>

                    </div>

                    <div class="col-md-3">
                        <label class="form-label text-muted small">Pay Period<span style="color: red;">*</span></label>
                        <PayPeriod [selectedCompanyId]="selectedCompanyId" [payPeriodType]="payPeriodType"
                            (payperiodEmit)="handlePayperiodEvent($event)"></PayPeriod>
                    </div>

                    <div class="col-md-3 d-flex gap-2">
                        <button class="btn btn-sm d-flex align-items-center justify-content-center btn-search"
                            (click)="onsearch()" matTooltip="Search">
                            <mat-icon>search</mat-icon>
                        </button>
                        <!-- <button class="btn btn-sm d-flex align-items-center justify-content-center" matTooltip="Add"
                                (click)="AddPOOpen()">
                                <mat-icon>add</mat-icon>
                            </button> -->
                        <button class="btn btn-sm d-flex align-items-center justify-content-center btn-secondary"
                            (click)="exportToExcel()" matTooltip="ExportToExcel">
                            <mat-icon>download</mat-icon>
                        </button>

                        <!-- <button class="btn btn-sm d-flex align-items-center justify-content-center"
                                matTooltip="Download Template">
                                <mat-icon>cloud_download</mat-icon>
                            </button> -->
                        <button class="btn btn-sm d-flex align-items-center justify-content-center btn-upload"
                            (click)="ImportClick(fileInput)" matTooltip="Upload">
                            <mat-icon>cloud_upload</mat-icon>
                        </button>
                        <input type="file" #fileInput style="display: none;" (click)="fileInput.value=''"
                            (change)="onFileChange($event)" accept=".xlsx, .xls" />


                        <button class="btn btn-sm d-flex align-items-center justify-content-center btn-download"
                            (click)=" DownloadTemplate()" matTooltip="Template">
                            <mat-icon>cloud_download</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-wrapper1" *ngIf="isUploadGridVisible" style="min-width: 700px;">
            <div class="table-scroll">
                <mat-table [dataSource]="dataSource" matSort class="custom-table mat-elevation-z8 auto-fit-table">

                    <ng-container matColumnDef="Action">
                        <mat-header-cell *matHeaderCellDef class="Action"><strong>Action</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row" class="Action">
                            <div class="header"></div>
                            <button class="btn btn-sm d-flex align-items-center justify-content-center"
                                matTooltip="Delete">
                                <mat-icon>delete</mat-icon>
                            </button>
                            <button class="btn btn-sm d-flex align-items-center justify-content-center"
                                matTooltip="Edit">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="SNo">
                        <mat-header-cell *matHeaderCellDef class="SNo"><strong>SNo</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row" lass="SNo">{{ row['Serial_No'] }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="CompanyCode">
                        <mat-header-cell *matHeaderCellDef><strong>Company Code</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row['Company_Code'] }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Pay Period">
                        <mat-header-cell *matHeaderCellDef><strong>Pay Period</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row['Pay_Period'] }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Employee Code">
                        <mat-header-cell *matHeaderCellDef><strong>Employee Code</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row['Employee_Code'] }}</mat-cell>
                    </ng-container>


                    <!-- HEADER ROW -->
                    <mat-header-row *matHeaderRowDef="uploadDisplayedColumns"></mat-header-row>

                    <!-- DATA ROWS -->
                    <mat-row *matRowDef="let row; columns: uploadDisplayedColumns"></mat-row>

                </mat-table>
            </div>

            <div *ngIf="dataSource.data.length === 0" class="text-center p-4">
                <p class="text-muted">No data to display</p>
            </div>

            <mat-paginator [length]="uploadedData.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons aria-label="Select page">
            </mat-paginator>
        </div>


    </div>
</div>

<div *ngIf="isLoading" class="loading-overlay">
    <img src="assets/Loading.gif" alt="Loading...">
</div>

<app-alertpopup *ngIf="showPopup" [message]="popupMessage" [submessage]="popupSubMessage" class="centered-popup"
    (close)="closePopup()"></app-alertpopup>