<div class="headerSOP">
    <div style="width: 50%;"> <img src="../../../assets/Forward File 1.svg" /><b class="customer-sop">Salary Release
            Module
        </b></div>
</div>
<div class="contentCategory">
    <div style="width: 100%;">
        <div class="Categorylist">
            <ul class="horizontal-list">

                <li><a [routerLink]="['/Master/SalaryRelease/SalaryReleaseRequest']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">Salary Release
                        Request</a>
                </li>

                <li><a [routerLink]="['/Master/SalaryRelease/SalaryHoldRequest']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">Salary Hold
                        Request</a></li>

                <li><a [routerLink]="['/Master/SalaryRelease/HoldReleaseRequest']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">Hold Release
                        Request</a></li>

                <li><a [routerLink]="['/Master/SalaryRelease/PartialHoldEmployeeSalary']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">Partial Hold Employee Salary</a></li>

                <li><a [routerLink]="['/Master/SalaryRelease/DBTHoldEmployeeSalary']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">DBT Hold Employee Salary</a></li>

                <li><a [routerLink]="['/Master/SalaryRelease/bonusflushout']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">Bonus Flush-out</a></li>

                <li><a [routerLink]="['/Master/SalaryRelease/UANRelease']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">UAN Release</a></li>

                <li><a [routerLink]="['/Master/SalaryRelease/NetPaySammary']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">NetPay Summary</a></li>

                <li><a [routerLink]="['/Master/SalaryRelease/VANPaymentRequest']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">VAN Payment Request</a></li>

                <li><a [routerLink]="['/Master/SalaryRelease/SalaryAdvanceRequest']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">Salary Advance Request</a></li>

                <li><a [routerLink]="['/Master/SalaryRelease/ReleaseHoldEmployeeSalary']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">Release Hold Employee Salary</a></li>

                <li><a [routerLink]="['/Master/SalaryRelease/NetpaySummarynonvoice']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">Net Pay Summary of Non Invoice</a></li>

                <li><a [routerLink]="['/Master/SalaryRelease/HoldEmployeSalary']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">Hold Employee Salary</a></li>

                <li><a [routerLink]="['/Master/SalaryRelease/Employeesalaryrelease']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">Employee Salary Release</a></li>

                <li><a [routerLink]="['/Master/SalaryRelease/UpfrontPortalFinalApproval']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">Upfront Portal FinalApproval</a></li>

                <li><a [routerLink]="['/Master/SalaryRelease/NewJoineeBankFailure']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">New Joinee Bank Failure</a></li>

            </ul>
        </div>
    </div>
</div>
<router-outlet></router-outlet>