<br />
<div class="page-wrapper">
    <div class="scrollable-content">

        <div style="color: #302CB3; font-size: 22px; font-family: Nunito Sans; font-weight: 700; min-width: 960px">
            Formula
        </div>

        <div class="container py-4">
            <div class="row g-3 align-items-end">

                <div class="col-md-3 small-input">
                    <label class="form-label text-muted small">Formula Name</label>
                    <paycode (paycodeEmit)="handlePaycodeEvent($event)" style="width: 300px;"></paycode>
                </div>
                <!-- Buttons: Only Search & Export visible initially -->
                <div class="col-md-3 d-flex gap-2">
                    <button class="btn btn-sm d-flex align-items-center justify-content-center" matTooltip="Search"
                        (click)="onSearchClick()">
                        <mat-icon>search</mat-icon>
                    </button>

                    <button class="btn btn-sm d-flex align-items-center justify-content-center"
                        matTooltip="Export to Excel">
                        <mat-icon>table_chart</mat-icon>
                    </button>
                    <button class="btn btn-sm d-flex align-items-center justify-content-center" matTooltip="Add"
                        (click)="AddPOOpen()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>

            </div>
        </div>

        <!-- Add Button -->
            <div *ngIf="isLoading" class="loading-overlay">
                <img src="assets/Loading.gif" alt="Loading...">
            </div>

        <!-- TABLE SECTION -->
        <div class="table-wrapper1" style="min-width: 960px;" *ngIf="showTable">
            <div class="table-scroll">

                <mat-table [dataSource]="uploadedDataSource" matSort
                    class="custom-table mat-elevation-z8 auto-fit-table">

                    <ng-container matColumnDef="Action">
                        <mat-header-cell *matHeaderCellDef><strong>Action</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <button class="btn btn-sm d-flex align-items-center justify-content-center"
                                matTooltip="Delete">
                                <mat-icon>delete</mat-icon>
                            </button>
                            <button class="btn btn-sm d-flex align-items-center justify-content-center"
                                matTooltip="Edit">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="SI No">
                        <mat-header-cell *matHeaderCellDef><strong>SI No</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.SNo }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Company Code">
                        <mat-header-cell *matHeaderCellDef><strong>Company Code</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.Company_Code }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Pay Category">
                        <mat-header-cell *matHeaderCellDef><strong>Pay Category</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.Paycateory}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Description">
                        <mat-header-cell *matHeaderCellDef><strong>Description</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.Formula_Name }}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Formula">
                        <mat-header-cell *matHeaderCellDef><strong>Formula</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.Formula }}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Formula Name">
                        <mat-header-cell *matHeaderCellDef><strong>Formula Name</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.Formula_Name }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="filter_Action">
                        <mat-header-cell *matHeaderCellDef class="filter-cell"></mat-header-cell>
                    </ng-container>

                    <ng-container matColumnDef="filter_SI No">
                        <mat-header-cell *matHeaderCellDef>
                        </mat-header-cell>
                    </ng-container>

                    <ng-container matColumnDef="filter_Company Code">
                        <mat-header-cell *matHeaderCellDef>
                            <input matInput placeholder="Search Company Code"
                                (keyup)="applyFilter($event, 'Company_Code')">
                        </mat-header-cell>
                    </ng-container>

                    <ng-container matColumnDef="filter_Pay Category">
                        <mat-header-cell *matHeaderCellDef>
                            <input matInput placeholder="Search Pay Category"
                                (keyup)="applyFilter($event, 'Paycateory')">
                        </mat-header-cell>
                    </ng-container>

                    <ng-container matColumnDef="filter_Formula Name">
                        <mat-header-cell *matHeaderCellDef>
                            <input matInput placeholder="Search Formula Name"
                                (keyup)="applyFilter($event, 'Formula_Name')">
                        </mat-header-cell>
                    </ng-container>

                    <ng-container matColumnDef="filter_Formula">
                        <mat-header-cell *matHeaderCellDef>
                        </mat-header-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="uploadDisplayedColumns"></mat-header-row>
                    <mat-header-row *matHeaderRowDef="filterDisplayedColumns" class="filter-row"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: uploadDisplayedColumns;"></mat-row>

                </mat-table>

                <div *ngIf="uploadedDataSource.data.length===0" class="text-center p-4">
                    <p class="text-muted">No data to display</p>
                </div>

            </div>

            <mat-paginator [length]="uploadedDataSource.data.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons>
            </mat-paginator>

        </div>

    </div>
</div>