<div class="headerSOP">
        <div style="width: 50%;"> <img src="../../../assets/Forward File 1.svg" /><b class="customer-sop">Tools</b>
        </div>
</div>
<div class="contentCategory">
        <div style="width: 100%;">
                <div class="Categorylist">
                        <ul class="horizontal-list">
                                <li><a [routerLink]="['/Master/taxnavigation/cea']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Childern Education
                                                Allowance</a></li>
                                <li><a [routerLink]="['/Master/taxnavigation/ltacalculation']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">LTA Calculation
                                        </a></li>
                                <li><a [routerLink]="['/Master/taxnavigation/previousemploymenttaxdetails']"
                                                class="nav-link" routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Previous Employment Tax
                                                Details
                                        </a></li>
                                <li><a [routerLink]="['/Master/taxnavigation/taxanddeclarationactual']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Tax Declaration and Actual

                                        </a></li>

                        </ul>
                </div>
        </div>
</div>
<router-outlet></router-outlet>