<div class="container-fluid w-100" style="padding-left:0; padding-right:0;">

    <!-- TITLE -->
    <div style="
            color:#302CB3;
            font-size:22px;
            font-family:Montserrat;
            font-weight:700;
            padding-top:8px;
            margin-bottom:6px;
            margin-left:16px;">
        Leave Master
    </div>

    <!-- FILTERS -->
    <div class="card-body" style="padding-top:0; padding-left:16px; padding-bottom:6px;">
        <div class="row g-1 align-items-end w-100">

            <!-- Company Code -->
            <div class="col-md-3">
                <label class="form-label text-muted small">Company Code<span style="color: red;">*</span></label>
                <companyall (companyEmit)="handleCompanyEvent($event)" style="width:300px;">
                </companyall>
            </div>

            <!-- Site Name -->
            <div class="col-md-3">
                <label class="form-label text-muted small">Site Name</label>
                <groupname [selectedCompanyId]="selectedCC" (sitenameEmit)="handleGroupNameEvent($event)">
                </groupname>
            </div>

            <!-- Action Buttons -->
            <div class="col-md-5 d-flex gap-2" style="padding-top:24px;">
                <button class="btn btn-primary btn-sm d-flex align-items-center justify-content-center"
                    (click)="searchClick()" matTooltip="Search">
                    <mat-icon>search</mat-icon>
                </button>

                <button class="btn btn-success btn-sm d-flex align-items-center justify-content-center"
                    (click)="Addclicked()" matTooltip="Add">
                    <mat-icon>add</mat-icon>
                </button>

                <button class="btn btn-sm d-flex align-items-center justify-content-center btn-secondary"
                    (click)="ExportClick()" matTooltip="ExportToExcel">
                    <mat-icon>download</mat-icon>
                </button>
            </div>

        </div>
    </div>
</div>

<div *ngIf="isLoading" class="loading-overlay">
    <img src="assets/Loading.gif" alt="Loading...">
</div>

<!-- TABLE -->
<div class="table-wrapper1" style="padding-top:6px; padding-left:16px;">
    <div class="table-scroll">

        <table mat-table [dataSource]="dataSource" matSort class="custom-table mat-elevation-z8">

            <!-- Checkbox -->
            <ng-container matColumnDef="select">
                <mat-header-cell *matHeaderCellDef class="fixed-width-column">
                    <mat-checkbox (change)="toggleAllRows()" [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="isPartialSelected()">
                    </mat-checkbox>
                </mat-header-cell>

                <mat-cell *matCellDef="let element" class="fixed-width-column">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="toggleRow(element)"
                        [checked]="selection.isSelected(element)">
                    </mat-checkbox>
                </mat-cell>
            </ng-container>

            <!-- ID -->
            <ng-container matColumnDef="leavemasterid">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    ID
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{ element.leavemasterid }}
                </mat-cell>
            </ng-container>

            <!-- Action -->
            <ng-container matColumnDef="delete">
                <mat-header-cell *matHeaderCellDef class="fixed-width-column">
                    <strong>Action</strong>
                </mat-header-cell>
                <mat-cell *matCellDef="let element" class="fixed-width-column">
                    <img src="assets/delete.svg" style="cursor:pointer;width:24px;height:22px"
                        (click)="deleteClick(element.leavemasterid)" />
                </mat-cell>
            </ng-container>

            <!-- Company Code -->
            <ng-container matColumnDef="company_Code">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <strong>Company Code</strong>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{ element.company_Code }}
                </mat-cell>
            </ng-container>

            <!-- Site Name -->
            <ng-container matColumnDef="siteName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <strong>Site Name</strong>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{ element.siteName }}
                </mat-cell>
            </ng-container>

            <!-- Leave Type -->
            <ng-container matColumnDef="leaveType">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <strong>Leave Type</strong>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{ element.leaveType }}
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        </table>
    </div>

    <mat-paginator class="mat-footer-paginator" [pageSizeOptions]="[5,10,25,100]" showFirstLastButtons>
    </mat-paginator>
</div>

<div *ngIf="showPopup" class="overlay">
    <app-alertpopup *ngIf="showPopup" [message]="popupMessage" [submessage]="popupSubMessage" class="centered-popup"
        (close)="showPopup = false">
    </app-alertpopup>
</div>


<div *ngIf="isAddclicked" class="popup-overlay">
    <mat-card class="popup-card">
        <mat-card-header style="border-bottom: 1px solid #89898B; gap:360px">
            <mat-card-title>Add Leave Master</mat-card-title>
            <button style="border: none; background: transparent;"><mat-icon (click)="closeclick()"
                    matTooltip="close">close</mat-icon></button>
        </mat-card-header>
        <mat-card-content class="scroll-content">
            <form [formGroup]="leaveaMasterform">
                <div class="row g-3 align-items-end">
                    <div class="col-md-12" style="padding-top:10px">
                        <div
                            style="width: 160px; height: 12.35px; color: var(--text-field-heading-, #89898B); font-size: 10px; font-family: Montserrat; font-weight: 500; word-wrap: break-word">
                            Company Code</div>
                        <div style="padding-top: 5px;">
                            <companyall (companyEmit)="handleCompanyEvent($event)"></companyall>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div
                            style="width: 160px; height: 12.35px; color: var(--text-field-heading-, #89898B); font-size: 10px; font-family: Montserrat; font-weight: 500; word-wrap: break-word">
                            Site Name</div>
                        <div style="padding-top: 5px;">
                            <groupname [selectedCompanyId]="selectedCC" (sitenameEmit)="handleGroupNameEvent($event)">
                            </groupname>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div
                            style="width: 160px; height: 12.35px; color: var(--text-field-heading-, #89898B); font-size: 10px; font-family: Montserrat; font-weight: 500; word-wrap: break-word">
                            Leave Type</div>
                        <div style="padding-top: 5px;">
                            <select formControlName="leavetype" class="w-100 custom-height rounded-1 select-drop"
                                appearance="outline" style="background-color: white;height:30px;">
                                <option *ngFor="let userleave of leavetypedd" [value]="userleave.leavetype">
                                    {{
                                    userleave.leavetype }}
                                </option>
                            </select>
                        </div>
                        <div *ngIf="leaveaMasterform.get('leavetype')?.touched && leaveaMasterform.get('leavetype')?.hasError('required')"
                            class="text-danger">
                            Leave Type is required
                        </div>
                    </div>
                </div>
            </form>
        </mat-card-content>

        <mat-card-actions
            style="display: flex; padding: 14px 20px; justify-content: flex-end; align-items: center; gap: 12px; align-self: stretch;border-radius: 0 0 10px 10px; border-top: 1px solid var(--Card-Box-border-color, #D6D6D6); background: var(--Card-card-background, #F9F9F9);">
            <button (click)="SaveData()"
                style="margin-right: 10px;width: 130px; height: 30px; padding-left: 16px; padding-right: 16px; padding-top: 6px; padding-bottom: 6px; background: #302CB3; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20); border-radius: 6px; justify-content: center; align-items: center; gap: 10px; display: inline-flex; border: none;">
                <div
                    style="color: var(--background, #F5F5F5); font-size: 12px; font-family: Montserrat; font-weight: 600; line-height: 22.40px; letter-spacing: 0.24px; word-wrap: break-word">
                    Save</div>
            </button>
        </mat-card-actions>
    </mat-card>
</div>