<div class="page-wrapper">
    <div class="scrollable-content">

        <div style="color: #302CB3; font-size: 22px; font-family: Montserrat; font-weight: 700;">
            Service Charge
        </div>

        <div class="container py-2">
            <div class="row g-3 align-items-end">

                <!-- Company Code -->
                <div class="col-md-3">
                    <label class="form-label text-muted small">Company code</label>
                    <companyall (companyEmit)="handleCompanyEvent($event)"></companyall>
                </div>
                <div class="col-md-3">
                    <label class="form-label text-muted small">Service Charge Type</label>
                    <select class="form-select form-select-sm" (change)="onServiceChargeChangeNew($event)">
                        <option value="">Select</option>
                        <option *ngFor="let servicecharge of servicechargedata"
                            [value]="servicecharge.Service_Charge_Type">
                            {{servicecharge.Service_Charge_Type}}
                        </option>
                    </select>
                </div>

                <!-- <div class="col-md-3">
                    <label class="form-label text-muted small">Service Charge Type</label>
                    <select class="form-select form-select-sm" (change)="onServiceChargeTypeChange($event)">
                        <option value="">Select</option>
                        <option *ngFor="let servicechargetype of servicechargetypedata"
                            [value]="servicechargetype.Service_Charge_Type_Id">
                            {{servicechargetype.Service_Charge_Type_Name}}
                        </option>
                    </select>

                </div>
                <div class="col-md-3">
                    <label class="form-label text-muted small">Service Charge</label>
                    <select class="form-select form-select-sm" (change)="onServiceChargeChange($event)">
                        <option value="">Select</option>
                        <option *ngFor="let servicecharge of servicechargedata"
                            [value]="servicecharge.Service_Charge_Master_Id">
                            {{servicecharge.Service_Charge_Master_Name}}
                        </option>
                    </select>
                </div> -->
                <!-- Buttons Section -->
                <div class="col-md-2 d-flex gap-2">
                    <!-- <button class="btn btn-sm d-flex align-items-center justify-content-center" matTooltip="Search"
                        (click)="onSearchClick()">
                        <mat-icon>search</mat-icon>
                    </button> -->

                    <button class="btn btn-sm d-flex align-items-center justify-content-center btn-search"
                        matTooltip="Search" (click)="onSearchClick()">
                        <mat-icon>search</mat-icon>
                    </button>

                    <button class="btn btn-secondary btn-sm d-flex align-items-center justify-content-center"
                        matTooltip="export to excel">
                        <mat-icon>table_chart</mat-icon>
                    </button>

                    <button class="btn btn-sm d-flex align-items-center justify-content-center btn-upload"
                        matTooltip="Import" (click)="ImportClick(fileInput)">
                        <mat-icon>cloud_upload</mat-icon>
                    </button>

                    <input type="file" #fileInput style="display: none;" (click)="fileInput.value=''"
                        (change)="onFileChange($event)" accept=".xlsx, .xls" />

                    <button class="btn btn-sm d-flex align-items-center justify-content-center btn-download"
                        matTooltip="Template">
                        <mat-icon>cloud_download</mat-icon>
                    </button>

                    <button class="btn btn-sm d-flex align-items-center justify-content-center btn-add" matTooltip="Add"
                        (click)="AddPOOpen()">
                        <mat-icon>add</mat-icon>
                    </button>

                </div>

            </div>
        </div>

        <div class="table-wrapper1" [hidden]="!showTable" style="padding-right: 20px;">
            <div class="table-scroll">
                <mat-table [dataSource]="dataSource" class="mat-elevation-z8 custom-table">

                    <ng-container matColumnDef="Action">
                        <mat-header-cell *matHeaderCellDef><strong>Action</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <div class="action-wrapper">
                                <!-- <button class="btn btn-sm d-flex align-items-center justify-content-center"
                                    matTooltip="Edit" (click)="editPTOpen(row)">
                                    <mat-icon>edit</mat-icon>
                                </button> -->
                                <button class="btn btn-sm d-flex align-items-center justify-content-center"
                                    matTooltip="Delete" (click)="deleteServiceCharge(row)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                        </mat-cell>
                    </ng-container>

                    <!--Data Rows-->
                    <ng-container matColumnDef="SNo">
                        <mat-header-cell *matHeaderCellDef mat-sort-header><strong>SNo</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.SNo
                            }}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Company_Id">
                        <mat-header-cell *matHeaderCellDef mat-sort-header><strong>Company Id</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.Company_Id
                            }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Service_Charge_Id">
                        <mat-header-cell *matHeaderCellDef mat-sort-header style="position: sticky;"><strong>Service
                                Charge
                                Id</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{
                            element.Service_Charge_Id
                            }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Service_Charge_Master_Id">
                        <mat-header-cell *matHeaderCellDef mat-sort-header><strong>Service Charge Master
                                Id</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.Service_Charge_Master_Id }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Service_Charge_Type_Id">
                        <mat-header-cell *matHeaderCellDef mat-sort-header><strong>Service Charge Master
                                Id</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.Service_Charge_Type_Id }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Service_Charge_Slab_Item_Id">
                        <mat-header-cell *matHeaderCellDef
                            mat-sort-header><strong>Service_Charge_Slab_Item_Id</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.Service_Charge_Slab_Item_Id }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Service_Charge_Slab_Inner_Item_Id">
                        <mat-header-cell *matHeaderCellDef
                            mat-sort-header><strong>Service_Charge_Slab_Inner_Item_Id</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.Service_Charge_Slab_Inner_Item_Id }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Map_Name_Id">
                        <mat-header-cell *matHeaderCellDef
                            mat-sort-header><strong>Map_Name_Id</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.Map_Name_Id }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Map_Name">
                        <mat-header-cell *matHeaderCellDef mat-sort-header><strong>Map Name</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.Map_Name }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Service_Charge_Name">
                        <mat-header-cell *matHeaderCellDef
                            mat-sort-header><strong>Service_Charge_Name</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.Service_Charge_Name }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="PayCode_Id">
                        <mat-header-cell *matHeaderCellDef mat-sort-header><strong>PayCode_Id</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.PayCode_Id }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="PayCode_Code">
                        <mat-header-cell *matHeaderCellDef mat-sort-header><strong>PayCode</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.PayCode_Code }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Types">
                        <mat-header-cell *matHeaderCellDef mat-sort-header><strong>Types</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.Types }}</mat-cell>

                    </ng-container> <ng-container matColumnDef="Type_Names">
                        <mat-header-cell *matHeaderCellDef mat-sort-header><strong>Type_Names</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.Type_Names }}</mat-cell>

                    </ng-container> <ng-container matColumnDef="Value">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            <strong>Value</strong>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.Value }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="MaxAmount">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            <strong>Max Amount</strong>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.MaxAmount }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Effective_Date">
                        <mat-header-cell *matHeaderCellDef mat-sort-header><strong>Effective
                                Date</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.Effective_Date }}</mat-cell>

                    </ng-container> <ng-container matColumnDef="IsBillToRate">
                        <mat-header-cell *matHeaderCellDef
                            mat-sort-header><strong>IsBillToRate</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.IsBillToRate | date:'dd MMM yyyy'
                            }}</mat-cell>

                    </ng-container> <ng-container matColumnDef="IsHeadCount">
                        <mat-header-cell *matHeaderCellDef
                            mat-sort-header><strong>IsHeadCount</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.IsHeadCount }}</mat-cell>

                    </ng-container> <ng-container matColumnDef="IsCriteriaApplicable">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            <strong>IsCriteriaApplicable</strong>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.IsCriteriaApplicable }}</mat-cell>

                    </ng-container> <ng-container matColumnDef="IsCriteriaApplicable_Text">
                        <mat-header-cell *matHeaderCellDef
                            mat-sort-header><strong>IsCriteriaApplicable_Text</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.IsCriteriaApplicable_Text }}</mat-cell>

                    </ng-container> <ng-container matColumnDef="IsAttendanceProrated">
                        <mat-header-cell *matHeaderCellDef
                            mat-sort-header><strong>IsAttendanceProrated</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.IsAttendanceProrated }}</mat-cell>

                    </ng-container> <ng-container matColumnDef="IsAttendanceProrated_Text">
                        <mat-header-cell *matHeaderCellDef mat-sort-header><strong>IsAttendance
                                Prorated</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.IsAttendanceProrated_Text }}</mat-cell>

                    </ng-container> <ng-container matColumnDef="Criteria">
                        <mat-header-cell *matHeaderCellDef mat-sort-header><strong>Criteria</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.Criteria }}</mat-cell>

                    </ng-container> <ng-container matColumnDef="IsReplacementClauseApplicable">
                        <mat-header-cell *matHeaderCellDef
                            mat-sort-header><strong>IsReplacementClauseApplicable</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.IsReplacementClauseApplicable }}</mat-cell>

                    </ng-container> <ng-container matColumnDef="Slab_Id">
                        <mat-header-cell *matHeaderCellDef mat-sort-header><strong>Slab_Id</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.Slab_Id }}</mat-cell>

                    </ng-container> <ng-container matColumnDef="IsReplacementClauseApplicable_Text">
                        <mat-header-cell *matHeaderCellDef
                            mat-sort-header><strong>IsReplacementClauseApplicable_Text</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.IsReplacementClauseApplicable_Text }}</mat-cell>

                    </ng-container> <ng-container matColumnDef="Replacement">
                        <mat-header-cell *matHeaderCellDef
                            mat-sort-header><strong>Replacement</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.Replacement }}</mat-cell>

                    </ng-container> <ng-container matColumnDef="IsSourcingWaitingPeriod">
                        <mat-header-cell *matHeaderCellDef
                            mat-sort-header><strong>IsSourcingWaitingPeriod</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.IsSourcingWaitingPeriod }}</mat-cell>

                    </ng-container> <ng-container matColumnDef="IsSourcingWaitingPeriod_Text">
                        <mat-header-cell *matHeaderCellDef
                            mat-sort-header><strong>IsSourcingWaitingPeriod_Text</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.IsSourcingWaitingPeriod_Text }}</mat-cell>

                    </ng-container> <ng-container matColumnDef="SourcingValue">
                        <mat-header-cell *matHeaderCellDef
                            mat-sort-header><strong>SourcingValue</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.SourcingValue }}</mat-cell>

                    </ng-container> <ng-container matColumnDef="TATDays">
                        <mat-header-cell *matHeaderCellDef mat-sort-header><strong>TATDays</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.TATDays }}</mat-cell>

                    </ng-container> <ng-container matColumnDef="IsMapNameRequired">
                        <mat-header-cell *matHeaderCellDef
                            mat-sort-header><strong>IsMapNameRequired</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.IsMapNameRequired }}</mat-cell>

                    </ng-container> <ng-container matColumnDef="IsMapnamerequire_Text">
                        <mat-header-cell *matHeaderCellDef
                            mat-sort-header><strong>IsMapnamerequire_Text</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.IsMapnamerequire_Text }}</mat-cell>

                    </ng-container> <ng-container matColumnDef="Category_Id">
                        <mat-header-cell *matHeaderCellDef
                            mat-sort-header><strong>Category_Id</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.Category_Id }}</mat-cell>

                    </ng-container> <ng-container matColumnDef="Category_Name">
                        <mat-header-cell *matHeaderCellDef
                            mat-sort-header><strong>Category_Name</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.Category_Name }}</mat-cell>

                    </ng-container> <ng-container matColumnDef="Invoice_Map_Name_Id">
                        <mat-header-cell *matHeaderCellDef
                            mat-sort-header><strong>Invoice_Map_Name_Id</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.v
                            }}</mat-cell>

                    </ng-container> <ng-container matColumnDef="Invoice_Map_Name">
                        <mat-header-cell *matHeaderCellDef
                            mat-sort-header><strong>Invoice_Map_Name</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.Invoice_Map_Name }}</mat-cell>

                    </ng-container> <ng-container matColumnDef="Compliance_Fee">
                        <mat-header-cell *matHeaderCellDef mat-sort-header><strong>Compliance
                                Fee</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.Compliance_Fee }}</mat-cell>

                    </ng-container> <ng-container matColumnDef="RandStad_Fee">
                        <mat-header-cell *matHeaderCellDef mat-sort-header><strong>RandStad
                                Fee</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.RandStad_Fee }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="UnitType_Id">
                        <mat-header-cell *matHeaderCellDef
                            mat-sort-header><strong>UnitType_Id</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.UnitType_Id }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Unit_Type">
                        <mat-header-cell *matHeaderCellDef mat-sort-header><strong>Unit_Type</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.Unit_Type }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Discount_Type_Id">
                        <mat-header-cell *matHeaderCellDef
                            mat-sort-header><strong>Discount_Type_Id</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.Discount_Type_Id }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Discount_Type">
                        <mat-header-cell *matHeaderCellDef
                            mat-sort-header><strong>Discount_Type</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.Discount_Type }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Discount_Amount">
                        <mat-header-cell *matHeaderCellDef
                            mat-sort-header><strong>Discount_Amount</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.Discount_Amount }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Type_Id">
                        <mat-header-cell *matHeaderCellDef mat-sort-header><strong>Type_Id</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.Type_Id }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Pay_Code_Id">
                        <mat-header-cell *matHeaderCellDef
                            mat-sort-header><strong>Pay_Code_Id</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.Pay_Code_Id }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="From">
                        <mat-header-cell *matHeaderCellDef mat-sort-header><strong>From</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.From }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="To">
                        <mat-header-cell *matHeaderCellDef mat-sort-header><strong>To</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.To }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="TYPES1">
                        <mat-header-cell *matHeaderCellDef mat-sort-header><strong>TYPES1</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.TYPES1 }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Pay_Code">
                        <mat-header-cell *matHeaderCellDef mat-sort-header><strong>Pay_Code</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.Pay_Code }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Slab_Calculation_Type_Id">
                        <mat-header-cell *matHeaderCellDef
                            mat-sort-header><strong>Slab_Calculation_Type_Id</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.Slab_Calculation_Type_Id }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Slab_Calculation_Type">
                        <mat-header-cell *matHeaderCellDef
                            mat-sort-header><strong>Slab_Calculation_Type</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.Slab_Calculation_Type }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Cap_Value">
                        <mat-header-cell *matHeaderCellDef mat-sort-header><strong>Cap_Value</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.Cap_Value }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Upfront_Charge">
                        <mat-header-cell *matHeaderCellDef mat-sort-header><strong>Upfront
                                Fee</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.Upfront_Charge}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Upfront_PayCode">
                        <mat-header-cell *matHeaderCellDef mat-sort-header><strong>Upfront
                                PayCode</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.Upfront_PayCode }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Upfront_Type_Id">
                        <mat-header-cell *matHeaderCellDef
                            mat-sort-header><strong>Upfront_Type_Id</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.Upfront_Type_Id }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Upfront_Type">
                        <mat-header-cell *matHeaderCellDef mat-sort-header><strong>Upfront
                                Type</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.Upfront_Type }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Insurance_Amount">
                        <mat-header-cell *matHeaderCellDef mat-sort-header><strong>Insurance
                                Amount</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.Insurance_Amount }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="MarginalPayCodeId">
                        <mat-header-cell *matHeaderCellDef
                            mat-sort-header><strong>MarginalPayCodeId</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.MarginalPayCodeId }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="MarginalPayCode">
                        <mat-header-cell *matHeaderCellDef
                            mat-sort-header><strong>MarginalPayCode</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.MarginalPayCode }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="QDemyFee">
                        <mat-header-cell *matHeaderCellDef mat-sort-header><strong>QDemy
                                Charge</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.QDemyFee }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="InEdgeFee">
                        <mat-header-cell *matHeaderCellDef mat-sort-header><strong>InEdge
                                Charge</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.InEdgeFee }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="BTP_Training">
                        <mat-header-cell *matHeaderCellDef
                            mat-sort-header><strong>BTP_Training</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.BTP_Training }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Govt_Grants_Subsidy">
                        <mat-header-cell *matHeaderCellDef
                            mat-sort-header><strong>Govt_Grants_Subsidy</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.Govt_Grants_Subsidy }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Assessment_And_Certificatioin_Cost">
                        <mat-header-cell *matHeaderCellDef
                            mat-sort-header><strong>Assessment_And_Certificatioin_Cost</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.Assessment_And_Certificatioin_Cost }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Registration_Fee">
                        <mat-header-cell *matHeaderCellDef
                            mat-sort-header><strong>Registration_Fee</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.Registration_Fee }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="IsNewjoineeProrate">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            <strong>IsNewjoineeProrate</strong>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.IsNewjoineeProrate }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="IsNewjoineeProrate_Text">
                        <mat-header-cell *matHeaderCellDef mat-sort-header><strong>New
                                joineeProrate</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.IsNewjoineeProrate_Text }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="IsFAndFProrate">
                        <mat-header-cell *matHeaderCellDef
                            mat-sort-header><strong>IsFAndFProrate</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.IsFAndFProrate }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="IsFAndFProrate_Text">
                        <mat-header-cell *matHeaderCellDef mat-sort-header><strong>FAndF
                                Prorate</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.IsFAndFProrate_Text }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="IsFAndFArrearProrate">
                        <mat-header-cell *matHeaderCellDef
                            mat-sort-header><strong>IsFAndFArrearProrate</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.IsFAndFArrearProrate }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="IsFAndFArrearProrate_Text">
                        <mat-header-cell *matHeaderCellDef mat-sort-header><strong>FAndFArrear
                                Prorate</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.IsFAndFArrearProrate_Text }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="IsNewJoineeArrearProrate">
                        <mat-header-cell *matHeaderCellDef
                            mat-sort-header><strong>IsNewJoineeArrearProrate</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.IsNewJoineeArrearProrate }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="IsNewJoineeArrearProrate_Text">
                        <mat-header-cell *matHeaderCellDef mat-sort-header><strong>NewJoineeArrear
                                Prorate</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.IsNewJoineeArrearProrate_Text }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="QDemyFee_Type_Id">
                        <mat-header-cell *matHeaderCellDef
                            mat-sort-header><strong>QDemyFee_Type_Id</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.QDemyFee_Type_Id }}</mat-cell>
                    </ng-container>


                    <ng-container matColumnDef="QDemyFee_Type">
                        <mat-header-cell *matHeaderCellDef mat-sort-header><strong>QDemy Fee</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.QDemyFee_Type }}</mat-cell>
                    </ng-container>


                    <ng-container matColumnDef="InEdgeFee_Type_Id">
                        <mat-header-cell *matHeaderCellDef
                            mat-sort-header><strong>InEdgeFee_Type_Id</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.InEdgeFee_Type_Id }}</mat-cell>
                    </ng-container>


                    <ng-container matColumnDef="InEdgeFee_Type">
                        <mat-header-cell *matHeaderCellDef mat-sort-header><strong>InEdgeFee
                                Type</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.InEdgeFee_Type }}</mat-cell>
                    </ng-container>


                    <ng-container matColumnDef="IsNewJoineeArrearFixed">
                        <mat-header-cell *matHeaderCellDef
                            mat-sort-header><strong>IsNewJoineeArrearFixed</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.IsNewJoineeArrearFixed }}</mat-cell>
                    </ng-container>


                    <ng-container matColumnDef="IsNewJoineeArrearFixed_Text">
                        <mat-header-cell *matHeaderCellDef mat-sort-header><strong>Is New Joinee Arrear Fixed
                                Text</strong></mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.IsNewJoineeArrearFixed_Text }}</mat-cell>
                    </ng-container>


                    <mat-header-row *matHeaderRowDef="displayedColumns" class="header-row"></mat-header-row>
                    <!-- <mat-header-row *matHeaderRowDef="filterDisplayedColumns" class="filter-row"></mat-header-row> -->
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </div>
            <mat-paginator #pagiantor [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
            </mat-paginator>
        </div>
    </div>
</div>

<div *ngIf="showPopup" class="overlay">
    <app-alertpopup *ngIf="showPopup" [message]="popupMessage" class="centered-popup"
        (close)="showPopup = false"></app-alertpopup>
</div>