<div class="headerSOP">
        <div style="width: 50%;"> <img src="../../../assets/Forward File 1.svg" /><b class="customer-sop">Salary
                        Hold/Release</b></div>
</div>
<div class="contentCategory">
        <div style="width: 100%;">
                <div class="Categorylist">
                        <ul class="horizontal-list">
                                <!-- <li><a [routerLink]="['/Master/salaryreleasemenu/BankAccount']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Bank Account</a></li> -->
                                <li><a [routerLink]="['/Master/salaryreleasemenu/Holdrequest']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Hold Request</a></li>
                                <li><a [routerLink]="['/Master/salaryreleasemenu/Netpaysummary']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Release Request</a></li>
                                <li><a [routerLink]="['/Master/salaryreleasemenu/downloadbatch']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Download Batch</a></li>
                                <li><a [routerLink]="['/Master/salaryreleasemenu/batchcreation']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Batch Creation</a></li>
                                <!-- <li><a [routerLink]="['/Master/salaryreleasemenu/Upfrontapproval']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Upfront Approval</a></li>
                                <li><a [routerLink]="['/Master/salaryreleasemenu/Yearlypayout']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Yearly Payout</a></li> -->
                                <li><a [routerLink]="['/Master/salaryreleasemenu/SalaryReleaseStatus']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Salary Release Status</a>
                                </li>
                                <li><a [routerLink]="['/Master/salaryreleasemenu/SalaryReleaseProcess']"
                                                class="nav-link" routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Salary Release Process</a>
                                </li>
                                <li><a [routerLink]="['/Master/salaryreleasemenu/SalaryReleaseApproval']"
                                                class="nav-link" routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Salary Release Pending /Approval</a>
                                </li>
                        </ul>
                </div>
        </div>
</div>
<router-outlet></router-outlet>