<div class="headerSOP">
</div>
<div class="contentCategory">
        <div style="width: 100%;">
                <div class="Categorylist">
                        <ul class="horizontal-list">
                                <li><a [routerLink]="['/Master/navigationglobal/app-bankmaster']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Bank Master</a>
                                </li>
                                <li><a [routerLink]="['/Master/navigationglobal/paycodes']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Pay code</a>
                                </li>
                                <li><a [routerLink]="['/Master/navigationglobal/shgslabdetail']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">SHG Slab Detail
                                        </a>
                                </li>
                                <li><a [routerLink]="['/Master/navigationglobal/SDLslabDetail']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">SDL Slab Detail</a>
                                </li>
                                <li><a [routerLink]="['/Master/navigationglobal/CPFslabDetails']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">CPF Slab Detail</a>
                                </li>
                                <li><a [routerLink]="['/Master/navigationglobal/gst']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">GST</a>
                                </li>
                        </ul>
                </div>
        </div>
</div>
<router-outlet></router-outlet>