<div class="headerSOP">
</div>
<div class="contentCategory">
        <div style="width: 100%;">
                <div class="Categorylist">
                        <ul class="horizontal-list">
                                <li><a [routerLink]="['/Master/navigationglobal/app-entity-master']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Entity Master</a>
                                </li>


                                <li><a [routerLink]="['/Master/navigationglobal/InvoiceLegalEntity']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Invoice Legal
                                                Entity</a>
                                </li>
                                <li><a [routerLink]="['/Master/navigationglobal/paycodes']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Pay code</a>
                                </li>
                                <li><a [routerLink]="['/Master/navigationglobal/Vendor']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Vendor Master</a>
                                </li>
                                <li><a [routerLink]="['/Master/navigationglobal/shgslabdetail']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">SHG Slab Detail
                                        </a>
                                </li>
                                <li><a [routerLink]="['/Master/navigationglobal/SDLslabDetail']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">SDL Slab Detail</a>
                                </li>
                                <li><a [routerLink]="['/Master/navigationglobal/CPFslabDetails']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">CPF Slab Detail</a>
                                </li>
                                <li><a [routerLink]="['/Master/navigationglobal/gst']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">GST</a>
                                </li>
                                <li><a [routerLink]="['/Master/navigationglobal/sitemaster']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Site Master</a>
                                </li>
                                <li><a [routerLink]="['/Master/navigationglobal/materialcode']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Material Code</a>
                                </li>
                                <li><a [routerLink]="['/Master/navigationglobal/BankMaster']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Bank Master</a>
                                </li>
                                <li><a [routerLink]="['/Master/navigationglobal/Formula']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Formula</a>
                                </li>
                                <li><a [routerLink]="['/Master/navigationglobal/lfw']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">LWF</a>
                                </li>
                                <li><a [routerLink]="['/Master/navigationglobal/tds']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">TDS</a>
                                </li>
                                <li><a [routerLink]="['/Master/navigationglobal/professionaltax']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Professional Tax</a>
                                </li>
                                <li><a [routerLink]="['/Master/navigationglobal/providentfund']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Provident Fund</a>
                                </li>
                        </ul>
                </div>
        </div>
</div>
<router-outlet></router-outlet>