<div class="page-wrapper" style="padding-top: 2%;">

    <div class="scrollable-content">
        <!-- <div style="color: #302CB3; font-size: 22px; font-family: Nunito Sans; font-weight: 700;">
            Cilent Address List
        </div> -->
        <mat-card-title style="color: #302CB3; font-size: 22px; font-family: Nunito Sans; font-weight: 700;">Cilent
            Address List</mat-card-title>

        <div class="container py-2">
            <div class="row g-3 align-items-end">

                <div class="col-md-3 d-flex gap-2">
                    <button class="btn btn-sm d-flex align-items-center justify-content-center" matTooltip="Create"
                        (click)="AddPOOpen()">
                        <mat-icon>add</mat-icon>
                    </button>

                    <button class="btn btn-sm d-flex align-items-center justify-content-center" matTooltip="Export"
                        (click)="exportToExcel()">
                        <mat-icon>table_chart</mat-icon>
                    </button>
                    <button class="btn btn-sm d-flex align-items-center justify-content-center" matTooltip="Template"
                        (click)="downloadTemplate()">
                        <mat-icon>cloud_download</mat-icon>
                    </button>
                    <button class="btn btn-sm d-flex align-items-center justify-content-center" matTooltip="Import"
                        (click)="ImportClick(fileInput)">
                        <mat-icon>cloud_upload</mat-icon>
                    </button>
                    <input type="file" #fileInput style="display: none;" (click)="fileInput.value=''"
                        (change)="onFileChange($event)" accept=".xlsx, .xls" />
                </div>
            </div>
        </div>
        <div class="table-wrapper1" style="padding-top: 2%;">
            <div class="table-scroll">
                <mat-table [dataSource]="dataSource" matSort class="custom-table mat-elevation-z8 auto-fit-table">


                    <ng-container matColumnDef="Action">
                        <mat-header-cell *matHeaderCellDef><strong>Action</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <button class="btn btn-sm d-flex align-items-center justify-content-center"
                                matTooltip="Edit" (click)="editOpen(row)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button class="btn btn-sm d-flex align-items-center justify-content-center"
                                matTooltip="Delete" (click)="deleteClientAddress(row)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Client_Address_Id">
                        <mat-header-cell *matHeaderCellDef><strong>Client Address Id</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row['clientAddressId'] }}</mat-cell>
                    </ng-container>

                    <!-- Effective Date -->
                    <ng-container matColumnDef="Companycode">
                        <mat-header-cell *matHeaderCellDef><strong>Company Code</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row['company_Code'] }}</mat-cell>
                    </ng-container>

                    <!-- Quess Legal Entity -->
                    <ng-container matColumnDef="MapName">
                        <mat-header-cell *matHeaderCellDef><strong>Map Name</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row['map_Name'] }}</mat-cell>
                    </ng-container>

                    <!-- Gst Type -->
                    <ng-container matColumnDef="SAPCustomercode">
                        <mat-header-cell *matHeaderCellDef><strong>SAP Customer Code</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row['saC_Code'] }}</mat-cell>
                    </ng-container>

                    <!-- State Name -->
                    <ng-container matColumnDef="Billing_Client_Name">
                        <mat-header-cell *matHeaderCellDef><strong>BillingClient Name</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row['billingClientName'] }}</mat-cell>
                    </ng-container>

                    <!-- GST Number -->
                    <ng-container matColumnDef="billingaddress">
                        <mat-header-cell *matHeaderCellDef><strong>Billing Address</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row['billingAddress'] }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Shippingaddresssameasbilling">
                        <mat-header-cell *matHeaderCellDef
                            style="width: 240px!important;min-width: 240px!important;"><strong>Shipping Address
                                same as
                                Billing</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row" style="width: 240px!important;min-width: 240px!important;">{{
                            row['isShippingAddressSameAsBilling'] }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Shippingclientname">
                        <mat-header-cell *matHeaderCellDef><strong>Shipping Client
                                Name</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row['shippingClientName'] }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Shippingaddress">
                        <mat-header-cell *matHeaderCellDef><strong>Shipping Address</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row['shippingAddress'] }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Effectivedate">
                        <mat-header-cell *matHeaderCellDef><strong>Effective Date</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row['effectiveDate'] }}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="gstnumber">
                        <mat-header-cell *matHeaderCellDef><strong>GST Number</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row['gstNumber'] }}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="gstapplicable">
                        <mat-header-cell *matHeaderCellDef><strong>GST applicable</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row[''] }}</mat-cell>
                    </ng-container>


                    <mat-header-row *matHeaderRowDef="uploadDisplayedColumns"></mat-header-row>

                    <mat-row *matRowDef="let row; columns: uploadDisplayedColumns"></mat-row>
                </mat-table>
            </div>

            <!-- No Data Message -->
            <div *ngIf="dataSource.data.length === 0" class="text-center p-4">
                <p class="text-muted">No data to display</p>
            </div>

            <!-- Paginator -->
            <mat-paginator [length]="dataSource.data.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons aria-label="Select page">
            </mat-paginator>
        </div>

    </div>
</div>
<div *ngIf="isLoading" class="loading-overlay">
    <img src="assets/Loading.gif" alt="Loading...">
</div>
<app-alertpopup *ngIf="showAlert" [message]="popupMessage" [submessage]="popupSubMessage" class="centered-popup"
    (close)="closePopup()">
</app-alertpopup>