<div class="container-fluid">
    <div class="card-body">
        <div class="row g-3 align-items-end">

            <!-- Company Code -->
            <div class="col-md-3">
                <label class="form-label text-muted small">Company Code<span style="color: red;">*</span> </label>
                <CompanyPicker (companyEmit)="handleCompanyEvent($event)"></CompanyPicker>
            </div>

            <!-- PO Number -->
            <div class="col-md-2">
                <label class="form-label text-muted small">PO Number</label>
                <ponumbersearch [comapnyId]="comapnyId" (ponumbersearchEmit)="handleponumbersearchEvent($event)">
                </ponumbersearch>
            </div>

            <!-- Client Employee Id -->
            <div class="col-md-2">
                <label class="form-label text-muted small">Employee Id</label>
                <input type="text" [(ngModel)]="clientEmployeeId" class="form-control form-control-sm"
                    placeholder="Employee ID">
            </div>

            <!-- Status -->
            <div class="col-md-2">
                <label class="form-label text-muted small">Status <span style="color: red;">*</span></label>
                <app-po-status (postatusEmit)="PostatusEvent($event)" [(ngModel)]="statusId"></app-po-status>
            </div>

            <!-- Pricing Type -->
            <div class="col-md-3">
                <label class="form-label text-muted small">Pricing Type</label>
                <potype (potypeEmit)="potypeEvent($event)" class="PricingType"></potype>
            </div>
        </div>

        <div class="row" style="margin-top: 10px;">

            <div class="col-md-3 d-flex gap-2">
                <button class="btn btn-primary btn-sm d-flex align-items-center justify-content-center"
                    (click)="Searchclick()">
                    <mat-icon>search</mat-icon>
                </button>
                <button class="btn btn-success btn-sm d-flex align-items-center justify-content-center"
                    matTooltip="Template" (click)="searchAndDownloadExcel()">
                    <mat-icon>cloud_download</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="table-wrap" *ngIf="filteredRows.length > 0">
    <!-- Action Buttons (Approve, Reject, Revoke) -->
    <div class="row" style="margin-bottom: 15px; justify-content: flex-end; display: flex;">
        <div class="col-md-1" style="display: flex;">
            <button *ngIf="statusId === 2" (click)="bulkUpdate('APPROVED')"
                style="border:none; border-radius: 7px; width: 80px; height: 30px; cursor: pointer; background: green; color: white;">
                Approve
            </button>
        </div>

        <div class="col-md-1" style="display: flex; gap: 2px;">
            <button *ngIf="statusId === 2" (click)="bulkUpdate('REJECTED')"
                style="width: 80px; height: 30px; cursor: pointer; background: red; color: white; border:none; border-radius: 7px;">
                Reject
            </button>
        </div>

        <div class="col-md-2" style="display: flex; gap: 10px;">
            <button *ngIf="statusId === 2" (click)="bulkUpdate('REVOKE')"
                style="width: 80px; height: 30px; cursor: pointer; background: goldenrod; color: white; border: none; border-radius: 7px;">
                Revoke
            </button>
        </div>
    </div>

    <div class="table-scroll">
        <table class="ts">
            <thead>
                <tr class="head-1">
                    <th class="sel" *ngIf="statusId === 2">
                        <mat-checkbox class="small-checkbox" (change)="toggleAllRows($event)"
                            [checked]="isAllSelected()" [indeterminate]="isSomeSelected()">
                        </mat-checkbox>
                    </th>
                    <th class="sl">Company Code</th>
                    <th class="Map">Site Name</th>
                    <th class="sub">Client Employee No</th>
                    <th class="sel">PO Number</th>
                    <th class="remarks">Offer PO Value</th>
                    <th class="remarks">Quantity Type</th>
                    <th class="remarks">Quantity</th>
                    <th class="remarks">PO Rate</th>
                    <th class="remarks">Start Date</th>
                    <th class="remarks">End Date</th>
                    <th class="remarks">Monthly Rate</th>
                    <th class="remarks">Item Type</th>
                    <th class="remarks">Status</th>
                    <th class="remarks" *ngIf="statusId === 2">Remarks</th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let r of dataSource.filteredData | slice:(paginator?.pageIndex ?? 0) * (paginator?.pageSize ?? 5) : ((paginator?.pageIndex ?? 0) + 1) * (paginator?.pageSize ?? 5)">
                    <td class="sel" *ngIf="statusId === 2">
                        <mat-checkbox class="small-checkbox" [(ngModel)]="r.selected" (change)="onRowChange()">
                        </mat-checkbox>
                    </td>
                    <td class="sl">{{ r["company_Code"] }}</td>
                    <td class="Map">{{ r["SITENAME"] }}</td>
                    <td class="sub">{{ r["ClientEmpNo"] }}</td>
                    <td class="sel">{{ r["PoNumber"] }}</td>
                    <td class="remarks">{{ r["OfferPOValue"] }}</td>
                    <td class="remarks">{{ r["QuantityType"] }}</td>
                    <td class="remarks">{{ r["Quantity"] }}</td>
                    <td class="remarks">{{ r["PoRate"] }}</td>
                    <td class="remarks">{{ r["StartDate"] }}</td>
                    <td class="remarks">{{ r["EndDate"] }}</td>
                    <td class="remarks">{{ r["MonthlyRate"] }}</td>
                    <td class="remarks">{{ r["ItemType"] }}</td>
                    <td class="remarks">{{ r["STATUS_NAME"] }}</td>
                    <td *ngIf="statusId === 2">
                        <input type="text" [(ngModel)]="r.remarks" class="form-control form-control-sm"
                            placeholder="Enter Remarks">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <mat-paginator [length]="filteredRows.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
        showFirstLastButtons>
    </mat-paginator>
</div>

<div *ngIf="isLoading" class="loading-overlay">
    <img src="assets/Loading.gif" alt="Loading...">
</div>

<div *ngIf="showPopup" class="overlay">
    <app-alertpopup *ngIf="showPopup" [message]="popupMessage" [submessage]="popupSubMessage" class="centered-popup"
        (close)="showPopup = false"></app-alertpopup>
</div>