.custom-input {
  width: 150px;
  height: 60px;

  .mat-form-field-wrapper {
    padding-bottom: 0px;
  }

  .mat-form-field-flex {
    height: 10px;
  }

  .mat-input-element {
    height: 10px;
    padding: 1px 2px;
    font-size: 14px;
  }

  .mat-form-field-underline {
    bottom: 0px;
  }

  .mat-form-field-subscript-wrapper {
    display: none;
  }
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.centered-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

table-wrapper {
  display: flex;
  flex-direction: column;
  /* gap: 8px; */
  /* padding: 20px 24px 0 24px; */
}

.table-container {
  overflow-x: auto;
  overflow-y: auto;
  border: 1px solid #ddd;
  max-width: 950px;
  margin: 20px 0;
}

.container-fluid{
  height: 100vh !important;
  overflow-y: auto !important;
}

th {
  color: #948c8c;
  border: 1px solid #ddd;
  /* margin-bottom: 60px; */
  padding: 10px;
  background-color: blue;
  padding-bottom: 5px;

}

td {
  border: 1px solid #ddd;
  padding: 10px;

}

.mat-paginator {
  margin-top: 1rem;
  font-family: 'Nunito Sans', sans-serif;
}

.mat-paginator-range-label {
  font-size: 13px;
  color: #555;
}

.mat-paginator-icon {
  color: #302CB3;
}

.table1-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px 20px;
  margin-top: 20px;
  max-width: 600px;
}

.field-row {
  display: contents;
}

.field-label {
  display: contents;
  font-weight: bold;
  align-self: center;
  padding: 10px;
  color: blue;
  white-space: nowrap;
}

.field-input {
  width: 100px;
  padding: 0px 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #f5f5f5;
}

@media (max-width: 768px) {
  .table1-container {
    flex-direction: column;
    max-width: 100%;
  }

  .field-input {
    width: 100%;
    box-sizing: border-box;
  }

  .field-label {
    padding: 5px 2px;
    align-items: start;
  }
}

@media (max-width: 768px) {

  table.mat-elevation-z8 th.mat-header-cell,
  table.mat-elevation-z8 td.mat-cell {
    padding: 0px 5px;
    font-size: 10px;
    border: 1px solid #ddd;
  }
}

.centered-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2200;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2100;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  flex-direction: column;
}

.loading-overlay .spinner-border {
  width: 3rem;
  height: 3rem;
}

.loading-overlay span {
  margin-top: 10px;
  font-weight: bold;
  color: #302CB3;
}