<div class="headerSOP">
        <div style="width: 50%;"> <img style="width: 25px;vertical-align: text-bottom;margin-right: 5px;" src="../../../assets/Bank.svg" /><b class="customer-sop">Bank Non-Invoice</b>
        </div>
</div>
<div class="contentCategory">
        <div style="width: 100%;">
                <div class="Categorylist">
                        <ul class="horizontal-list">
                                <li><a [routerLink]="['/Master/banknonvoicenavigation/HoldEmployeeSalary']"
                                                class="nav-link" routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Hold Employee Salary</a>
                                </li>
                                <!-- <li><a [routerLink]="['/Master/banknonvoicenavigation/PartialHoldReleaseEmployeeSalary']"
                                                class="nav-link" routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Partial Hold/Release Employee Salary</a>
                                </li> -->
                                <li><a [routerLink]="['/Master/banknonvoicenavigation/EmployeeSalaryRelease']"
                                                class="nav-link" routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Employee Salary Release</a>
                                </li>
                                
                                <li><a [routerLink]="['/Master/banknonvoicenavigation/ReleaseholdEmployeesalary']"
                                                class="nav-link" routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Release Hold Employee Salary</a>
                                </li>
                                 <li><a [routerLink]="['/Master/banknonvoicenavigation/BatchCreation']"
                                                class="nav-link" routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Batch Creation</a>
                                </li>
                                <li><a [routerLink]="['/Master/banknonvoicenavigation/Salaryreleaseprocess']"
                                                class="nav-link" routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Salary Release Process</a>
                                </li>
                                <li><a [routerLink]="['/Master/banknonvoicenavigation/downloadBatch']"
                                                class="nav-link" routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Batch Download</a>
                                </li>
                                 <li><a [routerLink]="['/Master/banknonvoicenavigation/salaryreleasestatus']"
                                                class="nav-link" routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Salary Release Status</a>
                                </li>
                                <li><a [routerLink]="['/Master/banknonvoicenavigation/UtrDetails']"
                                                class="nav-link" routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Utr Details</a>
                                </li>
                                <li><a [routerLink]="['/Master/banknonvoicenavigation/bankneftculture']"
                                                class="nav-link" routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Bank NEFT Culture</a>
                                </li>
                                <li><a [routerLink]="['/Master/banknonvoicenavigation/BanksplitCulture']"
                                                class="nav-link" routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Bank Split Culture</a>
                                </li>
                                <!-- <li><a [routerLink]="['/Master/banknonvoicenavigation/gratuitydownloadbatch']"
                                                class="nav-link" routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }">Gratuity Download Batch</a>
                                </li> -->
                                <!-- <li><a [routerLink]="['/Master/banknonvoicenavigation/partialsalaryrelease']"
                                                class="nav-link" routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }"> Partial Salary Release
                                                Process</a>
                                </li>
                                <li><a [routerLink]="['/Master/banknonvoicenavigation/bonussalaryrelease']"
                                                class="nav-link" routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }"> Bonus Salary Release
                                                Process</a>
                                </li>

                                <li><a [routerLink]="['/Master/banknonvoicenavigation/bankconsolidatedreport']"
                                                class="nav-link" routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }"> Batch Consolidated Report
                                        </a>
                                </li>
                                <li><a [routerLink]="['/Master/banknonvoicenavigation/bonusaccumulatedreportnonvoice']"
                                                class="nav-link" routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }"> Bonus Accumulated Report
                                        </a>
                                </li>
                                <li><a [routerLink]="['/Master/banknonvoicenavigation/genericupload']" class="nav-link"
                                                routerLinkActive="selectedInput"
                                                [routerLinkActiveOptions]="{ exact: true }"> Generic Upload
                                        </a>
                                </li> -->

                                <!-- <li><a [routerLink]="['/Master/input/inputaggregatorclient']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">Billing
                        Aggregator </a>
                <li><a [routerLink]="['/Master/banknonvoicenavigation/bankneftculture']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">Bank NEFT
                        Culture</a>
                </li>
                <li><a [routerLink]="['/Master/banknonvoicenavigation/PartialSalaryReleaseStatus']" class="nav-link"
                        routerLinkActive="selectedInput"
                        [routerLinkActiveOptions]="{ exact: true }">Partial Salary Release Status</a>
                </li>
                <li><a [routerLink]="['/Master/banknonvoicenavigation/PartialBatchCreation']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">Partial Batch Creation</a>
                </li>
                <li><a [routerLink]="['/Master/input/leavemastermapping']" class="nav-link" routerLinkActive="selectedInput"
                        [routerLinkActiveOptions]="{ exact: true }">Leave Master Mapping</a>
                </li> -->

                                <!-- <li><a [routerLink]="['/Master/banknonvoicenavigation/GratuityBatchGeneration']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">Gratuity Batch Generation</a>
                </li>
                <li><a [routerLink]="['/Master/banknonvoicenavigation/BonusBatchCreation']" class="nav-link"
                        routerLinkActive="selectedInput" [routerLinkActiveOptions]="{ exact: true }">Bonus Batch Creation</a>
                </li> -->

                        </ul>
                </div>
        </div>
        <router-outlet></router-outlet>