.small-datepicker .mat-mdc-text-field-wrapper {
  --mdc-outlined-text-field-container-height: 36px; /* default is 56px */
  --mdc-outlined-text-field-input-text-size: 13px;  /* smaller font */
  --mdc-outlined-text-field-label-text-size: 12px;  /* smaller label */
}

.small-datepicker .mat-mdc-input-element {
  padding: 0 4px !important;
}


.custom-form .form-label {
  font-size: 0.8rem;
  letter-spacing: .2px;
}

.custom-form .form-control,
.custom-form .form-select {
  border-radius: .6rem;
}

.custom-form .section {
  background: #fff;
}

.custom-form .card {
  background: #fff;
}

.custom-form hr {
  opacity: .12;
}

/* Optional: improve focus ring visibility */
.custom-form .form-control:focus,
.custom-form .form-select:focus {
  box-shadow: 0 0 0 .2rem rgba(13,110,253,.15);
  border-color: rgba(13,110,253,.5);
}

/* Make date inputs consistent across browsers */
input[type="date"].form-control-sm {
  padding-top: .375rem;
  padding-bottom: .375rem;
}

/* Smooth hover on buttons */
.btn {
  transition: all .15s ease-in-out;
}

.custom-card .mat-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.no-border-icon {
  box-shadow: none !important;
  border: none !important;
  background: transparent !important;
}
.custom-card .spacer {
  flex: 1 1 auto;
}
.custom-card {
  overflow: hidden;       /* prevent full scroll */
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
}

.scroll-content {
  flex: 1;
  overflow-y: auto;       /* only content scrolls */
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 1;
  background: white;      /* keep background visible */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

