<div class="page-wrapper">
    <div class="scrollable-content">
        <div style="color: #302CB3; font-size: 22px; font-family: Montserrat; font-weight: 700;">
            Designation Details
        </div>
        <form [formGroup]="DesignationCode">

            <div class="container py-2">
                <div class="row g-3 align-items-end">
                    <div class="col-md-3">
                        <label class="form-label text-muted small">Comapny Code</label>
                        <companyall (companyEmit)="handleCompanyEvent($event)"></companyall>
                        <!-- <select class="form-select form-select-sm" formControlName="CompanyCode"
                            placeholder="Select Company Type">
                            <option value="">--Select--</option>
                            <option *ngFor="let pay of paytype" [value]="pay.PayType_Id">{{pay.PayType}}</option>
                        </select> -->
                    </div>
                    <div class="col-md-2 d-flex gap-2">
                        <button class="btn btn-sm d-flex align-items-center justify-content-center btn-search"
                            matTooltip="Search" (click)="onsearch()">
                            <mat-icon>search</mat-icon>
                        </button>

                        <button class="btn btn-secondary btn-sm d-flex align-items-center justify-content-center"
                            matTooltip="export to excel" (click)="exportToExcel()">
                            <mat-icon>download</mat-icon>
                        </button>

                        <button class="btn btn-sm d-flex align-items-center justify-content-center btn-upload"
                            matTooltip="import" (click)="ImportClick(fileInput)">
                            <mat-icon>cloud_upload</mat-icon>
                        </button>

                        <button class="btn btn-sm d-flex align-items-center justify-content-center btn-download"
                            matTooltip="downlaod" (click)="downloadTemplate()">
                            <mat-icon>cloud_download</mat-icon>
                        </button>

                        <button class="btn  btn-sm d-flex align-items-center justify-content-center btn-success"
                            matTooltip="Add" (click)="AddDesignation()">
                            <mat-icon>add</mat-icon>
                        </button>

                        <input type="file" #fileInput style="display: none;" (click)="fileInput.value=''"
                            (change)="onFileChange($event)" accept=".xlsx, .xls" />
                    </div>
                </div>
            </div>
        </form>
        <div class="table-wrapper1" style="min-width: 960px;" *ngIf="showTable">
            <div class="table-scroll">
                <mat-table [dataSource]="dataSource" class="mat-elevation-z8 custom-table">

                    <!--  Action -->
                    <!-- <ng-container matColumnDef="Action">
                        <mat-header-cell *matHeaderCellDef><strong>Action</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <button class="btn btn-sm d-flex align-items-center justify-content-center"
                                matTooltip="Edit">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button class="btn btn-sm d-flex align-items-center justify-content-center"
                                matTooltip="Delete">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container> -->

                    <!-- 🔹 Sl.No -->
                    <ng-container matColumnDef="slNo">
                        <mat-header-cell *matHeaderCellDef><strong>Sl.No</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row">{{row.serial_No}}</mat-cell>
                    </ng-container>

                    <!-- 🔹 Pay Code -->
                    <ng-container matColumnDef="companycode">
                        <mat-header-cell *matHeaderCellDef><strong>Company Code</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row">{{row.company_Code}}</mat-cell>
                    </ng-container>

                    <!-- 🔹 Description -->
                    <ng-container matColumnDef="departmentcode">
                        <mat-header-cell *matHeaderCellDef><strong>Department Code</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row">{{row.designation_Code}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="departmentname">
                        <mat-header-cell *matHeaderCellDef><strong>Department Name</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row">{{row.designation_Name}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="standarddesignation">
                        <mat-header-cell *matHeaderCellDef class="description"><strong>Standard
                                Designation</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row" class="description">{{row.standard_Designation}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="amount">
                        <mat-header-cell *matHeaderCellDef><strong>Amount</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row">{{row.amount}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="skillcategory">
                        <mat-header-cell *matHeaderCellDef><strong>Skill Category</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row">{{row.skill_Category}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="npdays">
                        <mat-header-cell *matHeaderCellDef><strong>NP Days</strong></mat-header-cell>
                        <mat-cell *matCellDef="let row">{{row.npDays}}</mat-cell>
                    </ng-container>

                    <!-- 🔹 Filter Header Row -->
                    <ng-container matColumnDef="Actionfilter">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    </ng-container>

                    <ng-container matColumnDef="slNoFilter">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    </ng-container>

                    <!-- Header Rows -->
                    <mat-header-row *matHeaderRowDef="uploadDisplayedColumns"></mat-header-row>

                    <!-- Data Rows -->
                    <mat-row *matRowDef="let row; columns: uploadDisplayedColumns"></mat-row>

                </mat-table>
            </div>

            <div *ngIf="dataSource.data.length===0" class="text-center p-4">
                <p class="text-muted">No data to display</p>
            </div>

            <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>

    </div>
</div>
<div *ngIf="isLoading" class="loading-overlay">
    <img src="assets\Loading.gif" alt="Loading...">
</div>

<app-alertpopup *ngIf="showPopup" [message]="popupMessage" [submessage]="popupSubMessage" class="centered-popup"
    (close)="showPopup = false">
</app-alertpopup>